workflows/[HENRY SANTOS] - Webinário - Parte 2.json
{
  "active": true,
  "connections": {
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "lead_nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_nao_existe5": {
      "main": [
        [
          {
            "node": "Add_lead_KOMMO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "id_lead_kommo_vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead4": {
      "main": [
        []
      ]
    },
    "Add_lead_KOMMO1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "dados14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead_kommo_vazio": {
      "main": [
        [
          {
            "node": "Add_lead_KOMMO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_contacts_KOMMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_lead_KOMMO": {
      "main": [
        [
          {
            "node": "insere_dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados4": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Add_lead_KOMMO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_leads_KOMMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Add_lead_KOMMO1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "update_leads_KOMMO": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_contacts_KOMMO": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados14": {
      "main": [
        [
          {
            "node": "entra_na_fila8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-02T19:25:10.533Z",
  "id": "eS61chTMxaTswGPw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[HENRY SANTOS] - Webinário - Parte 2",
  "nodes": [
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "d62678a5-7164-42cf-a1c8-9cf1e3a9b46a",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1560,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9c6773d6-c4ed-4949-95b8-0fd3312b6380",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1760,
        860
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "9a1d1ee6-560a-48a6-a589-efa9ff62c5c3",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1360,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7111e580-5742-4c85-b078-c19d0fa17089",
      "name": "lead_nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1120,
        880
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados4\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "95e93cc5-d663-4525-a5b4-f532abf94efe",
      "name": "insert_data_utm_lead4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -160,
        700
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n\"responsible_user_id\":11743307,           \n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 788730,\n                      \"field_name\": \"Você tem uma recepcionista no seu salão?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1017816,\n                      \"field_name\": \"Em qual etapa de começar a montar o seu salão você está\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788734,\n                      \"field_name\": \"quantos profissionais você tem?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788786,\n                      \"field_name\": \"Qual seu faturamento MENSAL MÉDIO em 2024 (considerando até este mês)?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },  \n                 {\n                      \"field_id\": 1015182,\n                      \"field_name\": \"Para eu entender mais sobre teu negócio, qual opção melhor define você hoje?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  }, \n                {\n                      \"field_id\": 1015504,\n                      \"field_name\": \"Qual o objetivo ou sonho com seu salão de beleza que você ficaria muito feliz em alcançar em 2024?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },    \n                {\n                      \"field_id\": 789046,\n                      \"field_name\": \"Quais são os problemas que têm te impedido de alcançar esse objetivo?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },     \n                {\n                      \"field_id\": 1018040,\n                      \"field_name\": \"Caso eu receba mais interessados que vaga na sessão, por que eu deveria escolher você?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 789054,\n                      \"field_name\": \"Se existisse um acompanhamento único que solucionasse os problemas que citou antes e te ajudasse a chegar no seu objetivo, quanto você estaria disposto a investir POR MÊS?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n        \n                {\n                      \"field_id\": 1017806,\n                      \"field_name\": \"Quantas horas você está disposto a investir na sua semana para atingir estes objetivos que você acabou de citar/\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1017810,\n                      \"field_name\": \"Quando você contrata alguém para trabalhar no salão, você toma essa decisão sozinha?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1017814,\n                      \"field_name\": \"Quando você pretende colocar em ação tudo o que for mostrado para você na sessão?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 789052,\n                      \"field_name\": \"Possuímos 2 opções para a sessão estratégica:\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026508,\n                      \"field_name\": \"Qual Mentoria\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026510,\n                      \"field_name\": \"Investimento Compromete Fluxo\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026512,\n                      \"field_name\": \"Plano com a mentoria\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015234,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015236,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015238,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015240,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015242,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015244,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015246,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788726,\n                      \"field_name\": \"Instagram\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11743307,\n    \"status_id\":73490815,\n\"pipeline_id\":9518439\n }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "198f241c-2970-43dd-9c1f-e8e749927b65",
      "name": "Add_lead_KOMMO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        880
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "9rNps4gzqiBpNK6e",
          "name": "[ActiveCampaign][2.0] - Henry Santos"
        },
        "oAuth2Api": {
          "id": "DaKU0ap36aS2tiDi",
          "name": "[Henry Santos] - Kommo ouath 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead_kommo",
              "value": "={{ $node[\"Add_lead_KOMMO1\"].json[\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $node[\"Add_lead_KOMMO1\"].json[\"contact_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8bb1d05-ef26-4359-b64b-487f667270a2",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -340,
        880
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead_kommo\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "8fb1969d-d5cd-41b6-afd3-e5be229239c3",
      "name": "id_lead_kommo_vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -900,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n\"responsible_user_id\":11743307,           \n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 788730,\n                      \"field_name\": \"Você tem uma recepcionista no seu salão?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1017816,\n                      \"field_name\": \"Em qual etapa de começar a montar o seu salão você está\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788734,\n                      \"field_name\": \"quantos profissionais você tem?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788786,\n                      \"field_name\": \"Qual seu faturamento MENSAL MÉDIO em 2024 (considerando até este mês)?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },  \n                 {\n                      \"field_id\": 1015182,\n                      \"field_name\": \"Para eu entender mais sobre teu negócio, qual opção melhor define você hoje?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  }, \n                {\n                      \"field_id\": 1015504,\n                      \"field_name\": \"Qual o objetivo ou sonho com seu salão de beleza que você ficaria muito feliz em alcançar em 2024?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },    \n                {\n                      \"field_id\": 789046,\n                      \"field_name\": \"Quais são os problemas que têm te impedido de alcançar esse objetivo?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },     \n                {\n                      \"field_id\": 1018040,\n                      \"field_name\": \"Caso eu receba mais interessados que vaga na sessão, por que eu deveria escolher você?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 789054,\n                      \"field_name\": \"Se existisse um acompanhamento único que solucionasse os problemas que citou antes e te ajudasse a chegar no seu objetivo, quanto você estaria disposto a investir POR MÊS?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n        \n                {\n                      \"field_id\": 1017806,\n                      \"field_name\": \"Quantas horas você está disposto a investir na sua semana para atingir estes objetivos que você acabou de citar/\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1017810,\n                      \"field_name\": \"Quando você contrata alguém para trabalhar no salão, você toma essa decisão sozinha?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1017814,\n                      \"field_name\": \"Quando você pretende colocar em ação tudo o que for mostrado para você na sessão?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 789052,\n                      \"field_name\": \"Possuímos 2 opções para a sessão estratégica:\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026508,\n                      \"field_name\": \"Qual Mentoria\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026510,\n                      \"field_name\": \"Investimento Compromete Fluxo\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026512,\n                      \"field_name\": \"Plano com a mentoria\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015234,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015236,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015238,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015240,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015242,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015244,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015246,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788726,\n                      \"field_name\": \"Instagram\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n\"responsible_user_id\":11743307,\n\"status_id\":73490815,\n\"pipeline_id\":9518439\n }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d2e76157-dd3f-4057-8a09-a98de657ebdc",
      "name": "Add_lead_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        700
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "9rNps4gzqiBpNK6e",
          "name": "[ActiveCampaign][2.0] - Henry Santos"
        },
        "oAuth2Api": {
          "id": "DaKU0ap36aS2tiDi",
          "name": "[Henry Santos] - Kommo ouath 2"
        }
      }
    },
    {
      "parameters": {
        "queue": "Webinario - Parte 2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "7262ebd5-929b-4ca6-b8af-d4efdf5d026d",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1940,
        860
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "="
            },
            {
              "column": "id_deal_activecampaign",
              "value": "="
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{ $node[\"Add_lead_KOMMO\"].json[\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $node[\"Add_lead_KOMMO\"].json[\"contact_id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ac0879fc-8060-41d8-b42d-2e67074e247c",
      "name": "insere_dados4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -340,
        700
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"]  || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "322e177b-1b42-46c7-be06-6adfb727e504",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -1560,
        880
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "78fb2492-54b4-4b56-8b27-bacdbe7f7354",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "400",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "397a60fc-36a9-4969-ba43-28e4e414a471",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -520,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "78fb2492-54b4-4b56-8b27-bacdbe7f7354",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "400",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "92b925f7-3876-46af-963d-c72e5e33ac6b",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n                \"id\": {{ $node[\"pesquisa_lead2\"].json[\"id_lead_kommo\"] }},\n                \"pipeline_id\": 9518439,\n                \"status_id\": 73490815\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "03ed59d4-ff39-40b5-b42a-002e92b00aab",
      "name": "update_leads_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -300,
        1120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "9rNps4gzqiBpNK6e",
          "name": "[ActiveCampaign][2.0] - Henry Santos"
        },
        "oAuth2Api": {
          "id": "DaKU0ap36aS2tiDi",
          "name": "[Henry Santos] - Kommo ouath 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"pesquisa_lead1\"].json[\"id_contato_kommo\"] }},\n        \"status_id\": 72349375,\n        \"custom_fields_values\": [\n            {\n                \"field_id\": 710450,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 710452,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 788726,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 788730,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 788734,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 788786,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015184,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015504,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015182,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 789046,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1018040,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 789054,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1017806,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1017810,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1017814,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 789052,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                    }\n                ]\n            },        \n                {\n                      \"field_id\": 1026508,\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026510,\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },        \n                {\n                      \"field_id\": 1026512,\n                      \"values\": [\n                          {\n                              \"value\": \"{{ ($node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"]).replace(/(\\r\\n|\\n|\\r)/gm, \"\").trim() }}\"\n                          }\n                      ]\n                  },\n            {\n                \"field_id\": 1015234,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015236,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015238,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015240,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015242,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015244,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015246,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "228eadd6-8285-40b3-a7ae-82885d30d46f",
      "name": "update_contacts_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -700,
        1120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "9rNps4gzqiBpNK6e",
          "name": "[ActiveCampaign][2.0] - Henry Santos"
        },
        "oAuth2Api": {
          "id": "DaKU0ap36aS2tiDi",
          "name": "[Henry Santos] - Kommo ouath 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta0_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta1_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta2_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta3_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta4_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta5_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta6_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta7_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta8_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta9_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta10_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta11_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta12_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta13_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta14_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta15_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta16_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta17_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta18_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta19_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta20_bot_conversa\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_iddealac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Desqualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"instagram\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"telefone\"] }}"
            },
            {
              "name": "email_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_da_aplicacao_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_desqualificados\"] }}"
            },
            {
              "name": "id_campo_id_banco_deal_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_deal_crm\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_crm\"] }}"
            },
            {
              "name": "id_campo_id_bot_conversa_deal_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_deal_crm\"] }}"
            },
            {
              "name": "id_campo_id_bot_conversa_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_crm\"] }}"
            },
            {
              "name": "url_api_activecampaign_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"url_api_activecampaign_crm\"] }}"
            },
            {
              "name": "id_fluxo2_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo2_nao_agendou_10_min_desqualificados\"] }}"
            },
            {
              "name": "id_campo_dia_aplicou_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_dia_aplicou_se\"] }}"
            },
            {
              "name": "dia_da_semana_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"dia_da_semana_se\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "8e556f35-64db-48fc-aa02-16c63e76416f",
      "name": "dados14",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -160,
        880
      ]
    },
    {
      "parameters": {
        "queue": "Webinario - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "28f8b4ff-6a0b-4450-a99f-032618a9dc22",
      "name": "entra_na_fila8",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        40,
        880
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-P7-uj1sZezuQsikelI5i4A",
            "deliveryTag": 1,
            "redelivered": true,
            "exchange": "",
            "routingKey": "Não Agendamentos - Sessão - Parte 2"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 749
            }
          },
          "content": {
            "id_fluxo2_nao_agendou_10_min_desqualificados": 2830145,
            "Nome do Cliente": "Erlande Medina Novais",
            "E-mail do Cliente": "erlandenovais@hotmail.com",
            "Telefone do Cliente - Formato BC": "+5553999211141",
            "Telefone do Cliente - Formato Z-API": "5553999211141",
            "Instagram": "Salão Rafa Brasil",
            "pergunta0": "SIM",
            "pergunta1": "ENTRE 4 E 5",
            "pergunta2": "Entre R$25.001 e R$50.000",
            "pergunta4": "Estruturar a equipe \nAbri a segunda unidade \nSer referência",
            "pergunta5": "Falta de conhecimento em marketing digital",
            "pergunta6": "Porque esse é um projeto que Deus me  deu para ajudar as pessoas",
            "pergunta9": "",
            "pergunta11": "",
            "pergunta12": "Imediatamente para gerar resultados imediatos",
            "pergunta14": "",
            "pergunta15": "Não",
            "pergunta16": "Conseguir ter uma equipe auto administrável e ter o segundo salão",
            "pergunta17": "Mentoria Salão Autoadministrável -> R$8.400 ANUAL",
            "utm_content": "xxxxx",
            "utm_source": "xxxxx",
            "utm_campaign": "xxxxx",
            "utm_medium": "xxxxx",
            "utm_term": "xxxxx",
            "data_resposta_type": "21/11/2024 18:47",
            "data_ultima_quinzena": "2024-11-06",
            "id_fluxo_nao_agendou_10_min": "2416169",
            "id_fluxo_nao_agendou_10_min_desqualificados": "2829998",
            "API-KEY": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe",
            "id_campo_id_banco_de_dados_bot_conversa": "1351140",
            "id_campo_utm_source_bot_conversa": "1123113",
            "id_campo_utm_campaign_bot_conversa": "1123114",
            "id_campo_utm_term_bot_conversa": "1123115",
            "id_campo_utm_medium_bot_conversa": "1123116",
            "id_campo_utm_content_bot_conversa": "1123117",
            "id_campo_utm_fun_bot_conversa": "1353849",
            "id_campo_utm_var_bot_conversa": "1353848",
            "id_campo_instagram_bot_conversa": "1123096",
            "id_campo_emailse_bot_conversa": "1115994",
            "id_campo_data_resposta_type_bot_conversa": "",
            "id_tag_desqualificado_bot_conversa": "4935232",
            "id_tag_qualificado_bot_conversa": "4891828",
            "id_campo_iddealac_bot_conversa": "1354465",
            "id_campo_idleadac_bot_conversa": "1354600",
            "id_campo_pergunta0_bot_conversa": "1123099",
            "id_campo_pergunta1_bot_conversa": "1123101",
            "id_campo_pergunta2_bot_conversa": "1123100",
            "id_campo_pergunta3_bot_conversa": "1860276",
            "id_campo_pergunta4_bot_conversa": "1123102",
            "id_campo_pergunta5_bot_conversa": "1860278",
            "id_campo_pergunta6_bot_conversa": "1359514",
            "id_campo_pergunta7_bot_conversa": "1860280",
            "id_campo_pergunta8_bot_conversa": "1860281",
            "id_campo_pergunta9_bot_conversa": "2056601",
            "id_campo_pergunta10_bot_conversa": "2193610",
            "id_campo_pergunta11_bot_conversa": "",
            "id_campo_pergunta12_bot_conversa": "",
            "id_campo_pergunta13_bot_conversa": "",
            "id_campo_pergunta14_bot_conversa": "",
            "id_campo_pergunta15_bot_conversa": "",
            "id_campo_pergunta16_bot_conversa": "",
            "id_campo_pergunta17_bot_conversa": "",
            "id_campo_pergunta18_bot_conversa": "",
            "id_campo_pergunta19_bot_conversa": "",
            "id_campo_pergunta20_bot_conversa": "",
            "qualificacao": "Extremamente Qualificado",
            "id_ending_typeform": "caf08015-66e0-4179-8742-756787a07223",
            "id_pipeline_downsell_produto_1_crm": "10",
            "valor_produto_downsell_em_centavos_produto_1_crm": "49700",
            "id_pipeline_downsell_produto_2_crm": "9",
            "valor_produto_downsell_em_centavos_produto_2_crm": "99700",
            "id_pipeline_crm": "3",
            "valor_produto_principal_em_centavos_crm": "700000",
            "url_api_activecampaign_crm": "gestaodesaloes67530",
            "id_sdr_crm": "6",
            "funil": "aplicacao",
            "variacao_do_funil": "v7",
            "id_stage_preencheu_aplicacao_crm": "18",
            "id_stage_desqualificado_produto_1_crm": "56",
            "id_stage_desqualificadoproduto_2_crm": "53",
            "id_campo_id_banco_de_dados_crm": "257",
            "id_campo_id_bot_conversa_crm": "163",
            "Api-Token": "d0aa5c89796c6403850c539dbd5bcb58ffc0f8c7ff28b9fc6be0c3b54a540a15403f99b1",
            "id_campo_instagram_crm": "314",
            "id_campo_pergunta0_crm": "86",
            "id_campo_pergunta1_crm": "87",
            "id_campo_pergunta2_crm": "88",
            "id_campo_pergunta3_crm": "311",
            "id_campo_pergunta4_crm": "313",
            "id_campo_pergunta5_crm": "90",
            "id_campo_pergunta6_crm": "92",
            "id_campo_pergunta7_crm": "98",
            "id_campo_pergunta8_crm": "99",
            "id_campo_pergunta9_crm": "315",
            "id_campo_pergunta10_crm": "318",
            "id_campo_pergunta11_crm": "95",
            "id_campo_pergunta12_crm": "",
            "id_campo_pergunta13_crm": "",
            "id_campo_pergunta14_crm": "",
            "id_campo_pergunta15_crm": "",
            "id_campo_pergunta16_crm": "",
            "id_campo_pergunta17_crm": "",
            "id_campo_pergunta18_crm": "",
            "id_campo_pergunta19_crm": "",
            "id_campo_pergunta20_crm": "",
            "id_campo_utm_source_crm": "140",
            "id_campo_utm_campaign_crm": "141",
            "id_campo_utm_content_crm": "143",
            "id_campo_utm_medium_crm": "142",
            "id_campo_utm_term_crm": "144",
            "id_campo_utm_fun_crm": "263",
            "id_campo_utm_var_crm": "264",
            "id_tag_desqualificado_crm": "159",
            "id_tag_qualificado_crm": "158",
            "id_tag_aplicou_crm": "99",
            "id_campo_ddd_crm": "185",
            "id_campo_id_banco_deal_crm": "42",
            "id_campo_id_bot_conversa_deal_crm": "53",
            "id_campo_instagram_deal_crm": "21",
            "id_campo_pergunta0_deal_crm": "20",
            "id_campo_pergunta1_deal_crm": "78",
            "id_campo_pergunta2_deal_crm": "18",
            "id_campo_pergunta3_deal_crm": "79",
            "id_campo_pergunta4_deal_crm": "17",
            "id_campo_pergunta5_deal_crm": "16",
            "id_campo_pergunta6_deal_crm": "13",
            "id_campo_pergunta7_deal_crm": "80",
            "id_campo_pergunta8_deal_crm": "50",
            "id_campo_utm_source_deal_crm": "6",
            "id_campo_utm_campaign_deal_crm": "5",
            "id_campo_utm_content_deal_crm": "3",
            "id_campo_utm_medium_deal_crm": "4",
            "id_campo_utm_term_deal_crm": "2",
            "id_campo_utm_var_deal_crm": "43",
            "id_campo_utm_fun_deal_crm": "44",
            "id_campo_pergunta9_deal_crm": "81",
            "id_pipeline_desqualificado_crm": "14",
            "id_stage_desqualificado_crm": "102",
            "dia_da_semana_se": "Quinta-feira",
            "id_campo_dia_aplicou_se": "2113710",
            "id_campo_pergunta10_deal_crm": "82"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-02T19:34:11.378Z",
  "versionId": "d63ef817-99ea-4691-93c6-a68a7309d63c"
}