workflows/[HENRY SANTOS] - Disparo Plano 30k semanal - Para participantes.json
{
  "active": true,
  "connections": {
    "puxa_agendamentos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto7": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "domingo_11h": {
      "main": [
        [
          {
            "node": "puxa_agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_agendamentos1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead3": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio1": {
      "main": [
        [
          {
            "node": "Saida Aleatoria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria1": {
      "main": [
        [
          {
            "node": "40s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segunda_11h": {
      "main": [
        [
          {
            "node": "puxa_agendamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_agendamentos2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead4": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead5": {
      "main": [
        [
          {
            "node": "pesquisa_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada4": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio2": {
      "main": [
        [
          {
            "node": "Saida Aleatoria2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria2": {
      "main": [
        [
          {
            "node": "40s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s2": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s2": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s2": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s2": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto1": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "terça_11h": {
      "main": [
        [
          {
            "node": "puxa_agendamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_agendamentos3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead6": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead7": {
      "main": [
        [
          {
            "node": "pesquisa_lead6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada6": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio3": {
      "main": [
        [
          {
            "node": "Saida Aleatoria3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria3": {
      "main": [
        [
          {
            "node": "40s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s3": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s3": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s3": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s3": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto2": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quarta_12h": {
      "main": [
        [
          {
            "node": "puxa_agendamentos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_agendamentos4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Não faz nada9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead8": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead9": {
      "main": [
        [
          {
            "node": "pesquisa_lead8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada8": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio4": {
      "main": [
        [
          {
            "node": "Saida Aleatoria4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria4": {
      "main": [
        [
          {
            "node": "40s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s4": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s4": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s4": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s4": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto3": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quarta_17h": {
      "main": [
        [
          {
            "node": "puxa_agendamentos4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_agendamentos5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Não faz nada11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead10": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead11": {
      "main": [
        [
          {
            "node": "pesquisa_lead10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada10": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio5": {
      "main": [
        [
          {
            "node": "Saida Aleatoria5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria5": {
      "main": [
        [
          {
            "node": "40s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s5": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s5": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s5": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s5": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto4": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quarta_18h": {
      "main": [
        [
          {
            "node": "puxa_agendamentos5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_agendamentos6": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [
          {
            "node": "Não faz nada13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead12": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead13": {
      "main": [
        [
          {
            "node": "pesquisa_lead12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada12": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio6": {
      "main": [
        [
          {
            "node": "Saida Aleatoria6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria6": {
      "main": [
        [
          {
            "node": "40s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s6": {
      "main": [
        [
          {
            "node": "Não faz nada12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s6": {
      "main": [
        [
          {
            "node": "Não faz nada12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s6": {
      "main": [
        [
          {
            "node": "Não faz nada12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s6": {
      "main": [
        [
          {
            "node": "Não faz nada12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto5": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quarta_19h": {
      "main": [
        [
          {
            "node": "puxa_agendamentos6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_agendamentos7": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "Não faz nada15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead14": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead15": {
      "main": [
        [
          {
            "node": "pesquisa_lead14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada14": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio7": {
      "main": [
        [
          {
            "node": "Saida Aleatoria7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria7": {
      "main": [
        [
          {
            "node": "40s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s7": {
      "main": [
        [
          {
            "node": "Não faz nada14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s7": {
      "main": [
        [
          {
            "node": "Não faz nada14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s7": {
      "main": [
        [
          {
            "node": "Não faz nada14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s7": {
      "main": [
        [
          {
            "node": "Não faz nada14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto6": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quarta_19h10m": {
      "main": [
        [
          {
            "node": "puxa_agendamentos7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-01T19:33:50.150Z",
  "id": "NztiL2Ebsj7YflsT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[HENRY SANTOS] - Disparo Plano 30k semanal - Para participantes",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 3 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -300,
        -40
      ],
      "id": "b6c2a600-71a5-483f-86dd-135ba2dc7c2e",
      "name": "puxa_agendamentos",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        -40
      ],
      "id": "3cbf9218-b7f6-47eb-b392-8c02a07470b0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "903f59ee-fa58-4e99-b071-a6d536a4510f",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        360,
        60
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "d5afed5e-fb4c-4535-a50f-080510f2e4b1",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        160,
        60
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "6f8f2a2c-32ac-4857-b285-25e00b0bb353",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "33d4500f-a00b-4991-8fb7-c2a8c9e5ef6f",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        60
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "b5636e81-b669-44a6-a8d3-1e5135f6e06c",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        980,
        40
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "0e17e5e0-dc0b-4fe6-afbc-8b91c9cc396c",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "7342c3e7-3d6e-4f79-8ffc-ae281a247e2d",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        140
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "e99fefff-6996-4a26-b3a7-095703b68911",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        280
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "49f325ff-f1dd-4d88-ae9a-dd24a6c1c2ef",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=Oie!🚀\n\n*Nesta quarta-feira, às 19h*, você tem a chance de aprender como transformar seu salão e alcançar *R$30 mil mensais de faturamento*. Henry vai te ensinar:\n\n▶️ Como estruturar suas finanças e criar uma reserva financeira.\n▶️ O passo a passo para contratar e treinar uma equipe eficiente.\n▶️ Ferramentas para precificação lucrativa que garantem seu lucro.\n\n*Não perca! Marque na sua agenda e garanta sua presença.*\n\nhttps://us02web.zoom.us/j/89930151907"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d8d8b1b2-ee88-41a7-b708-15542672b380",
      "name": "EnviaMensagemTexto7",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        580,
        60
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "731213af-2c39-4207-a110-aa4c7d764b08",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        -80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        -40
      ],
      "id": "9c88ef4b-a0a6-41d8-bfab-407abf30a03f",
      "name": "domingo_11h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 2 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -340,
        620
      ],
      "id": "61996b84-bf67-4cb7-acb3-446fb11c7368",
      "name": "puxa_agendamentos1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        620
      ],
      "id": "178766b6-81e5-4138-abad-46207e631326",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "9f686056-c67f-4499-b8a4-9f5c7e3714a4",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        320,
        720
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "0d8d0a3d-26ab-4ada-b5e0-e63462686d54",
      "name": "pesquisa_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        120,
        720
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "6080d017-017c-4843-880a-87b444310b0d",
      "name": "Não faz nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "5fe9b96c-66a5-431b-9cba-3f3b2660cefc",
      "name": "Retorna Output Aleatorio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        760,
        720
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "1975ae8e-a6a0-4651-a2d9-01063677ab5c",
      "name": "Saida Aleatoria1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        940,
        700
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "fd118b2a-2e08-4b27-8352-f032bdfda6ec",
      "name": "40s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1160,
        660
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "f10a3160-89ab-4c34-a4b3-d9b534466879",
      "name": "45s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1160,
        800
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "3daf3d9b-b198-492b-88a7-b03fb1079c26",
      "name": "50s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1160,
        940
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "ccc74e05-bd87-4af9-b074-7c0e62d7bff9",
      "name": "53s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1160,
        1080
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=Você sabia que a falta de controle financeiro pode afundar um salão, mesmo com clientes? \n\nNão organizar suas finanças, contratar sem estratégia e precificar sem garantir lucro são erros que muitos cometem… mas você não precisa ser um deles.\n\nNesta *quarta-feira, às 19h*, você aprenderá como evitar esses riscos e mudar completamente seus resultados e lucros no salão.\n\n*Garanta sua presença!*\n\nhttps://us02web.zoom.us/j/89930151907"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "53c55c0f-d953-4d85-afa7-9e1c65db34e0",
      "name": "EnviaMensagemTexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        540,
        720
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "1b77c8c2-95be-4479-b79d-b6c584eeffdf",
      "name": "Não faz nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        120,
        580
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        620
      ],
      "id": "0765321e-d6ed-45f3-92f1-6dd1457f3441",
      "name": "segunda_11h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 1 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -360,
        1300
      ],
      "id": "16ef2c5c-9f59-490d-ba5f-c79e757ba57b",
      "name": "puxa_agendamentos2",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -140,
        1300
      ],
      "id": "73d0fc97-dc0e-4848-9344-9557bc2107a3",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "7e776048-d290-4f5a-9b10-7fdd1e18faee",
      "name": "pesquisa_lead4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        300,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "b2b65486-15c4-4880-8705-9f68286ec6f0",
      "name": "pesquisa_lead5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        100,
        1400
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "ad0e0525-e54c-4715-bcf4-7248acc5f342",
      "name": "Não faz nada4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        1720
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "808e2dd7-1eb3-47b8-9db3-31c6129e8c8f",
      "name": "Retorna Output Aleatorio2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        740,
        1400
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "d5ea06a2-4dac-4de3-9d53-4b86e6596be5",
      "name": "Saida Aleatoria2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        920,
        1380
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "80083fdc-34ff-4d24-b97f-6988d3b19c78",
      "name": "40s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1140,
        1340
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "077bac24-ec92-4e2b-b1de-afdf9d6aa5a6",
      "name": "45s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1140,
        1480
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "3c347eab-6f4f-4cf7-97b0-f2328a70886e",
      "name": "50s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1140,
        1620
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "b2e2d9be-0463-4f02-8dea-b332818d09cf",
      "name": "53s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1140,
        1760
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=Nesta quarta, você terá a oportunidade de aprender estratégias que muitos salões nunca descobrem – e por isso continuam patinando em dívidas e falta de crescimento. \n\nVocê vai ver como é possível:\n\n▶️ Organizar suas finanças para ter segurança.\n▶️ Treinar uma equipe que faz a diferença.\n▶️ Precificar com lucro, sem medo.\n\n*Ignorar esta chance pode ser um erro caro.*\n\n*Não perca!*\n\nhttps://us02web.zoom.us/j/89930151907"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "cbab0539-daba-45e6-96b8-5e2d9bafa8e0",
      "name": "EnviaMensagemTexto1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        1400
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "c887148f-3869-40c6-b577-d855542803f8",
      "name": "Não faz nada5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        100,
        1260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -580,
        1300
      ],
      "id": "b0b5f6d9-a297-413b-810b-432524f25a02",
      "name": "terça_11h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 0 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -400,
        1960
      ],
      "id": "e5d2c602-3896-4e5b-b14c-a26ce42e3f14",
      "name": "puxa_agendamentos3",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -180,
        1960
      ],
      "id": "d1f13e28-790f-4cdf-9adb-8b84cc1da8ad",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "a20ae328-9107-4077-8b4f-4c669b3d9f74",
      "name": "pesquisa_lead6",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        260,
        2060
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "646a8074-f3da-4f46-95f9-25761b4b2d4a",
      "name": "pesquisa_lead7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        60,
        2060
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "ed80ed9e-103d-4399-92b3-a9255ed95871",
      "name": "Não faz nada6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        2380
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "34b22c42-a9bf-4719-8055-6f823225e572",
      "name": "Retorna Output Aleatorio3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        700,
        2060
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "e78eba6a-4494-4fd1-a96f-c569abffb7b3",
      "name": "Saida Aleatoria3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        880,
        2040
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "05a94715-4d05-4b85-90a2-c1f4ed474eac",
      "name": "40s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100,
        2000
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "845f795e-4f4e-4727-bb8c-14c617ddf1c6",
      "name": "45s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100,
        2140
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "32a44599-c297-4051-9fcb-f03ae9bfd149",
      "name": "50s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100,
        2280
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "b80f0b6a-d2e7-4529-9676-0ceb6fb216d2",
      "name": "53s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100,
        2420
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead6\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=*Hoje, às 19h*, começa a aula que pode colocar seu salão na rota de sucesso financeiro. \n\nNão perca a chance de aprender estratégias financeiras, contratação e precificação que fazem a diferença.\n\n*Garanta seu lugar e não fique de fora!*\n\nhttps://us02web.zoom.us/j/89930151907"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b5ae174a-f1d5-4817-b569-95e96a71eddd",
      "name": "EnviaMensagemTexto2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        2060
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "8e5597f0-1ec5-4c15-a6eb-b2b56fcee940",
      "name": "Não faz nada7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        60,
        1920
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        1960
      ],
      "id": "a2dd068d-de5d-40f9-9edf-fde2f5351569",
      "name": "quarta_12h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 0 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -440,
        2620
      ],
      "id": "b85b42b9-6133-42c3-aa12-fd79b94d1e78",
      "name": "puxa_agendamentos4",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -200,
        2620
      ],
      "id": "4f83938e-ad2c-4c54-ab49-7ad105e349da",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "13269810-91e2-4559-89a4-94f5dcd4ee05",
      "name": "pesquisa_lead8",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        240,
        2720
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "61e37931-e8dd-4dc6-8469-b76a70a6c28c",
      "name": "pesquisa_lead9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        40,
        2720
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "b67d3132-efb3-4ee0-9f6d-608de45e7333",
      "name": "Não faz nada8",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        3040
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "0af45d03-5614-4d01-ac1b-545d7fe22233",
      "name": "Retorna Output Aleatorio4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        2720
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "59c6ab76-571b-4834-8f0e-779fecf863d1",
      "name": "Saida Aleatoria4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        860,
        2700
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "a01a5e15-c66e-46d7-8c76-e1c9631c620e",
      "name": "40s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1080,
        2660
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "3b47ce4a-7298-4dbf-bd71-045f9923528e",
      "name": "45s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1080,
        2800
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "f2011140-f2f1-433c-85c4-c6464fffc178",
      "name": "50s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1080,
        2940
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "7daf4838-4d43-444f-8cde-959ac0cfb6ee",
      "name": "53s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1080,
        3080
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead8\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=Venha com Henry Santos  ao vivo e você terá acesso exclusivo ao caminho para levar seu salão ao próximo nível com faturamento de *R$30 mil mensais*.\n\n*Clique aqui para participar*: https://us02web.zoom.us/j/89930151907"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ac060fa1-ac38-4004-adb9-f02e913e4737",
      "name": "EnviaMensagemTexto3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        2720
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "827a6f13-9603-4e43-9398-c8983f3a252f",
      "name": "Não faz nada9",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        40,
        2580
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        2620
      ],
      "id": "d91c09ff-2fb3-40e8-96b3-16b25050f6e6",
      "name": "quarta_17h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 0 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -460,
        3280
      ],
      "id": "95131ed9-e16d-4e97-bf79-cd774bba580f",
      "name": "puxa_agendamentos5",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        3280
      ],
      "id": "45f472b7-a18f-482a-a7c2-a60a98829505",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "6efe3a07-569b-4967-82b6-e3a4de64c57c",
      "name": "pesquisa_lead10",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        240,
        3380
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "19dbcb33-7c61-4107-9a18-ed7c41bfaf17",
      "name": "pesquisa_lead11",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        40,
        3380
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "4a65c679-0a97-42ab-ba40-b2a17ad7471b",
      "name": "Não faz nada10",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        3700
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "ee0af36a-660d-40ff-8cb3-89a38341c282",
      "name": "Retorna Output Aleatorio5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        640,
        3380
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "cfc74b52-ead0-4f0f-84e9-1b7c725f494a",
      "name": "Saida Aleatoria5",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        820,
        3360
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "b4404567-d57d-47d9-ab9d-79dff91dda70",
      "name": "40s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        3320
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "15283253-bd51-4bfa-826d-4c570ee9d775",
      "name": "45s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        3460
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "de0e0d58-51ed-46a9-89c9-5d890cf6cfcd",
      "name": "50s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        3600
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "506bbb27-e420-4335-82e7-79a20749afb7",
      "name": "53s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        3740
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead10\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=Estamos a *1 hora* de iniciar a aula que vai desbloquear o potencial de faturamento do seu salão.Não perca!\n\n*Acesse aqui:* https://us02web.zoom.us/j/89930151907"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ceb9ac94-0309-4551-a46a-373694263589",
      "name": "EnviaMensagemTexto4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        420,
        3380
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "ea12ce46-3a3f-4bea-88f2-39de605c29a9",
      "name": "Não faz nada11",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        3240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        3280
      ],
      "id": "a5edbdfe-1908-46da-b0b0-eb3a6cb5cb9d",
      "name": "quarta_18h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 0 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -480,
        3940
      ],
      "id": "586b2242-66e8-4ef3-93e2-6c191fa17439",
      "name": "puxa_agendamentos6",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -260,
        3940
      ],
      "id": "6d815bad-dfd8-4c2f-9690-5f462b6128de",
      "name": "Loop Over Items6"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "a740a7ed-01e3-446c-a997-6b9100b8a38c",
      "name": "pesquisa_lead12",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        200,
        4040
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "71c78e77-7a80-4525-8c25-f287d8a239e2",
      "name": "pesquisa_lead13",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        0,
        4040
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "cec44c54-d46d-4957-9dd8-6052e7bf215f",
      "name": "Não faz nada12",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        4360
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "e75ae52f-0139-47b3-92a5-9bc676d5ec56",
      "name": "Retorna Output Aleatorio6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        620,
        4040
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "6651acf0-1f40-46d8-ab6d-c23a24d151b4",
      "name": "Saida Aleatoria6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        800,
        4020
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "bbd7b87a-089d-4a20-84e3-5895d00c4efd",
      "name": "40s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        3980
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "ce244e7c-72dc-4834-8a1f-0923d7ece35c",
      "name": "45s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        4120
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "404b1a9e-0e20-4de2-8cbd-7867f420170c",
      "name": "50s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        4260
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "2142f31c-a576-4a57-bdaa-61b022e2ef64",
      "name": "53s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        4400
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead12\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=A aula ao vivo começou e estamos compartilhando estratégias práticas para mudar completamente seus resultados e lucros no salão.\n\nNão fique de fora!\n\n*Entre agora:* https://us02web.zoom.us/j/89930151907\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "90e8c09c-367a-46b6-92b6-c0fcf17091eb",
      "name": "EnviaMensagemTexto5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        4040
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "5633be76-5448-49da-87ee-d6b1653d06cb",
      "name": "Não faz nada13",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -20,
        3900
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        3940
      ],
      "id": "0cf4fcbd-3901-4bdb-af90-6f55c764bcff",
      "name": "quarta_19h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico = 'Aula ao Vivo: Fature seus primeiros 30 mil com o salão'\n  AND data_de_inicio BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 0 DAY);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -520,
        4600
      ],
      "id": "dafc0d12-b155-4d74-9b51-4f74e01b332a",
      "name": "puxa_agendamentos7",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -300,
        4600
      ],
      "id": "e8e560aa-edf3-4768-9e6e-e93e399ce2a1",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "b1b17db8-7c55-40cd-a7c4-efcf999e7d75",
      "name": "pesquisa_lead14",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        160,
        4700
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "60062326-2aaf-4f1a-94fc-4cc5f5c44b47",
      "name": "pesquisa_lead15",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -40,
        4700
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "8111aecd-b960-4dc7-bb9c-609aac39756d",
      "name": "Não faz nada14",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1180,
        5020
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "6a7ec061-6fea-424f-8f36-727740e39744",
      "name": "Retorna Output Aleatorio7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        4700
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "f9a8f9b8-3262-4c8d-b5f8-6730fc2343a6",
      "name": "Saida Aleatoria7",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        760,
        4680
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "d07d9268-6904-4d8f-8334-3e4cf45c2d72",
      "name": "40s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4640
      ],
      "webhookId": "fcc6aa9e-8b55-40be-a2cd-377ffc4de6e1"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "4e1543a5-84f3-4e06-a428-840fde92058a",
      "name": "45s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4780
      ],
      "webhookId": "9dfde8ed-0087-4622-a22b-ceeeb93ac4bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "66fbf99c-289b-4022-bcdb-42129826ce29",
      "name": "50s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4920
      ],
      "webhookId": "6fcfeeda-0304-42a7-968d-a1bad95b1630"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "d176ee4f-49e1-4904-b329-d229d369eacd",
      "name": "53s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        5060
      ],
      "webhookId": "351fd17e-9ed0-4c36-829e-e0919c749b69"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead14\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=A aula já começou, mas você ainda pode participar e aprender como alcançar *R$30 mil de faturamento mensal* com seu salão. Não perca!\n\n*Entre agora:* https://us02web.zoom.us/j/89930151907\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "0810d445-60a5-45fb-a0e5-65b2e76bb154",
      "name": "EnviaMensagemTexto6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        360,
        4700
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "041ba150-945a-420c-ac7b-3fd08665a5b2",
      "name": "Não faz nada15",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -60,
        4560
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 19,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -740,
        4600
      ],
      "id": "1d5d7bfa-0964-41da-928d-430fc9df0855",
      "name": "quarta_19h10m"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YqwIRpfotJoCTvFh"
  },
  "staticData": {
    "node:domingo_11h": {
      "recurrenceRules": []
    },
    "node:segunda_11h": {
      "recurrenceRules": []
    },
    "node:terça_11h": {
      "recurrenceRules": []
    },
    "node:quarta_12h": {
      "recurrenceRules": []
    },
    "node:quarta_17h": {
      "recurrenceRules": []
    },
    "node:quarta_18h": {
      "recurrenceRules": []
    },
    "node:quarta_19h": {
      "recurrenceRules": []
    },
    "node:quarta_19h10m": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 8,
  "updatedAt": "2025-02-01T19:35:06.675Z",
  "versionId": "058005ef-c12d-4d76-9608-667eea0e2b5f"
}