workflows/⌛⌚[HENRY SANTOS][BD][SHEETS] - Calendly - Parte 3 - Reagendamento.json
{
  "active": true,
  "connections": {
    "nao_existe4": {
      "main": [
        [
          {
            "node": "pesquisa_closer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_closer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer1": {
      "main": [
        [
          {
            "node": "nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador1": {
      "main": [
        [
          {
            "node": "id_colaborador6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador1": {
      "main": [
        [
          {
            "node": "id_colaborador7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe5": {
      "main": [
        [
          {
            "node": "insert_data_colaborador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe6": {
      "main": [
        [
          {
            "node": "pesquisa_closer4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_closer5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_antigo": {
      "main": [
        [
          {
            "node": "nao_existe4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_novo": {
      "main": [
        [
          {
            "node": "nao_existe6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_agendamento2": {
      "main": [
        [
          {
            "node": "insert_utm_2_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_utm_2_agendamento1": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake2": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia5": {
      "main": [
        [
          {
            "node": "update_data_data_lake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake4": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia6": {
      "main": [
        [
          {
            "node": "insert_data_data_lake7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake5": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake2": {
      "main": [
        [
          {
            "node": "lead_ja_existia6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake7": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer3": {
      "main": [
        [
          {
            "node": "nao_existe8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador3": {
      "main": [
        [
          {
            "node": "id_colaborador4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador3": {
      "main": [
        [
          {
            "node": "id_colaborador5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe8": {
      "main": [
        [
          {
            "node": "insert_data_colaborador3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador4": {
      "main": [
        [
          {
            "node": "update_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador5": {
      "main": [
        [
          {
            "node": "update_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador6": {
      "main": [
        [
          {
            "node": "insert_data_agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador7": {
      "main": [
        [
          {
            "node": "insert_data_agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia7": {
      "main": [
        [
          {
            "node": "nada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake6": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia8": {
      "main": [
        [
          {
            "node": "nada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake8": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake3": {
      "main": [
        [
          {
            "node": "lead_ja_existia8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake3": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_agendamento3": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada2": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada3": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer4": {
      "main": [
        [
          {
            "node": "nao_existe9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador4": {
      "main": [
        [
          {
            "node": "id_colaborador10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador4": {
      "main": [
        [
          {
            "node": "id_colaborador11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe9": {
      "main": [
        [
          {
            "node": "insert_data_colaborador4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_agendamento3": {
      "main": [
        [
          {
            "node": "insert_utm_2_agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_utm_2_agendamento2": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake4": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer5": {
      "main": [
        [
          {
            "node": "nao_existe10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador5": {
      "main": [
        [
          {
            "node": "id_colaborador8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador5": {
      "main": [
        [
          {
            "node": "id_colaborador9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe10": {
      "main": [
        [
          {
            "node": "insert_data_colaborador5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador8": {
      "main": [
        [
          {
            "node": "update_data_agendamento4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador9": {
      "main": [
        [
          {
            "node": "update_data_agendamento4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador10": {
      "main": [
        [
          {
            "node": "insert_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador11": {
      "main": [
        [
          {
            "node": "insert_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake5": {
      "main": [
        [
          {
            "node": "insert_data_data_lake9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe11": {
      "main": [
        [
          {
            "node": "Add_contato_KOMMO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "id_lead_kommo_vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead2": {
      "main": [
        [
          {
            "node": "update_leads_KOMMO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual4": {
      "main": [
        [
          {
            "node": "atualiza_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido4": {
      "main": [
        [
          {
            "node": "email_igual4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido5": {
      "main": [
        [
          {
            "node": "email_igual7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual7": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual3": {
      "main": [
        [
          {
            "node": "email_preenchido4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido3": {
      "main": [
        [
          {
            "node": "telefone_igual3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato1": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_campo_horario_agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_horario_agendado": {
      "main": [
        [
          {
            "node": "envia_campo_data_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_data_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_campo_dia_da_semana_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_dia_da_semana_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_campo_inviteeid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_inviteeid": {
      "main": [
        [
          {
            "node": "envia_campo_id_banco_de_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_banco_de_dados": {
      "main": [
        [
          {
            "node": "envia_campo_link_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_lead_ac": {
      "main": [
        [
          {
            "node": "envia_campo_id_deal_ac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_deal_ac": {
      "main": [
        [
          {
            "node": "envia_fluxo_confirmacao_de_reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_link_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_campo_id_lead_ac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_agendamento4": {
      "main": [
        [
          {
            "node": "envia_campo_id_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake8": {
      "main": [
        [
          {
            "node": "envia_campo_id_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake9": {
      "main": [
        [
          {
            "node": "envia_campo_id_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email3": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email4": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email3": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email1": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone3": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email5": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead3": {
      "main": [
        [
          {
            "node": "pesquisa_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "nao_existe11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_contato_KOMMO": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_id_kommo": {
      "main": [
        [
          {
            "node": "update_leads_KOMMO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_contato_KOMMO1": {
      "main": [
        [
          {
            "node": "atualiza_id_kommo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_contato_KOMMO": {
      "main": [
        [
          {
            "node": "update_leads_KOMMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_leads_KOMMO1": {
      "main": [
        [
          {
            "node": "telefone_preenchido3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_leads_KOMMO2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead4": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_antigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entra_na_fila": {
      "main": [
        [
          {
            "node": "cadastrar_contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead_kommo_vazio": {
      "main": [
        [
          {
            "node": "Add_contato_KOMMO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_contato_KOMMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_leads_KOMMO": {
      "main": [
        [
          {
            "node": "telefone_preenchido3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-01T18:38:44.947Z",
  "id": "m5BjWQjFGon25NTR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌛⌚[HENRY SANTOS][BD][SHEETS] - Calendly - Parte 3 - Reagendamento",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "98f5d115-acb5-41df-baa6-466d910d9990",
      "name": "pesquisa_lead4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3400,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento_antigo\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "39805aa1-bb5d-4046-a0be-ff0ca35bfd4d",
      "name": "nao_existe4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4220,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "2449b6a7-679a-472b-9ac3-6ad610eb6fc7",
      "name": "pesquisa_closer1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4420,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2ea799db-b636-461b-9ea9-f602fa366353",
      "name": "insert_data_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4740,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer1\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2a31b176-7031-49c8-9b1f-d61af4a2c1ce",
      "name": "update_data_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4740,
        980
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8cfcc3ff-11ab-4d5c-8f53-dbce06bfd388",
      "name": "nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4580,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento_novo\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1461b48c-7e4b-4829-9ef6-d9b0ab68a5e1",
      "name": "nao_existe6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6460,
        860
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento Antigo\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "ed17d678-2f1f-4d88-b5b0-c148c629c2be",
      "name": "pesquisa_agendamento_antigo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4040,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "85fa24a3-5140-455f-a986-ddb4b8d5d76f",
      "name": "pesquisa_agendamento_novo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6280,
        860
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento Antigo\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente Antigo\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Reagendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_antigo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_antigo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião Antigo\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento Antigo\"] }}"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Reagendamento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1720fd96-b427-44af-b3b1-485427c98bf9",
      "name": "insert_data_agendamento2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5100,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos_2_utms",
          "mode": "list",
          "cachedResultName": "agendamentos_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento2\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "7b50b92e-ece9-4e69-beb3-a2c3f632a8ef",
      "name": "insert_utm_2_agendamento1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5300,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "e1e078cc-c375-4213-90ef-c914f60f927a",
      "name": "pesquisa_data_data_lake2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5500,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"qtd_agendamentos\"] + 1}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "97e3ab3f-30e1-43fb-b12a-785373c9ab35",
      "name": "update_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6020,
        420
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a1e1f7e0-1bf3-4a34-89f3-d723ee5be0bc",
      "name": "lead_ja_existia5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5820,
        540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"qtd_agendamentos\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "163b6243-21d6-4d7c-a0b0-cfb292231501",
      "name": "update_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6020,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f651836c-a264-409e-8ef8-32febb1678b5",
      "name": "lead_ja_existia6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5820,
        180
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_agendamentos",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5e51c27c-f218-4ac7-aba1-e2a5e41fec0f",
      "name": "insert_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6020,
        260
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0eda6732-f495-4e96-8d92-2b7f6da5f116",
      "name": "nao_encontrou_registro_dia_dia_data_lake2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5660,
        360
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "67ee0091-3a3e-4fad-b5e5-dc0869bc3db5",
      "name": "insert_data_data_lake7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6020,
        60
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "ae18fd3f-15f0-403f-8dbb-8627eb576781",
      "name": "pesquisa_closer3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4420,
        1300
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "41a68506-d7f0-44c6-bdd4-dbc25c75151e",
      "name": "insert_data_colaborador3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4740,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer3\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0cb6c431-86f4-4088-ada3-096ff0bb9592",
      "name": "update_data_colaborador3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4740,
        1360
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer3\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8f9ee52b-526c-4911-afe4-5c2979426fb0",
      "name": "nao_existe8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4580,
        1300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador3\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8e3262fc-52e6-4295-95b8-83ce58e4beac",
      "name": "id_colaborador4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4920,
        1160
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer3\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4f3220d-27fd-44d7-967f-56e22ff7bb6c",
      "name": "id_colaborador5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4920,
        1360
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador1\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b07029-9dd9-4b0d-85f0-6a51a2b16aa3",
      "name": "id_colaborador6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4920,
        780
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer1\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c7b98265-905d-44eb-bc73-bdd64fc19fa8",
      "name": "id_colaborador7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4920,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2506a29a-672e-492a-92c9-a0998f2aba5b",
      "name": "lead_ja_existia7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5680,
        1340
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake3\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake3\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "510bc527-6a24-4000-8d8f-36907c27727c",
      "name": "update_data_data_lake6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5880,
        1420
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "4abd23c9-f418-4b95-ab58-f87dbc28272d",
      "name": "lead_ja_existia8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5680,
        980
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "107f1862-65ff-4ad9-b190-919ba624757c",
      "name": "insert_data_data_lake8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5880,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fae558ed-0a06-4a3d-97f4-d7da1edc832b",
      "name": "nao_encontrou_registro_dia_dia_data_lake3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5520,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "d9c7f79e-35de-4123-8f68-ce0acb55c10f",
      "name": "pesquisa_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5300,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_agendamento",
        "valueToMatchOn": "={{ $node[\"pesquisa_agendamento_antigo\"].json[\"id_agendamento\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento Antigo\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente Antigo\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Reagendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_antigo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_antigo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião Antigo\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento Antigo\"] }}"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Reagendamento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9ac3f670-2a86-4393-ac4b-99c4c461f67a",
      "name": "update_data_agendamento3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5100,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {},
      "id": "e8cf20bc-8cbf-486a-a9d1-ab7030bcad49",
      "name": "nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5880,
        860
      ]
    },
    {
      "parameters": {},
      "id": "051bdc36-ff3e-483b-8b39-bc1a9ba04fad",
      "name": "nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5880,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "524e17a3-347e-4d5e-8b8b-5fe8db8794ab",
      "name": "pesquisa_closer4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6620,
        660
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "46194f91-0b5d-4361-8ea6-9c5f96703d46",
      "name": "insert_data_colaborador4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6940,
        520
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer4\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "10b147b3-12ad-40b4-b728-5ccfe0e58816",
      "name": "update_data_colaborador4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6940,
        720
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer4\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "317a8261-1bd5-4c40-ae43-848d2f8d2fc2",
      "name": "nao_existe9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6780,
        660
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Agendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_novo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_novo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento_novo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "81092a48-3328-4604-b377-7c0a1b9f2ce9",
      "name": "insert_data_agendamento3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7300,
        520
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos_2_utms",
          "mode": "list",
          "cachedResultName": "agendamentos_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2c9ddc89-b2d1-45ec-b980-3ed07f9bbf3e",
      "name": "insert_utm_2_agendamento2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7500,
        520
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento_novo\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "073a2c01-f156-42b3-97be-2c15d2d87018",
      "name": "pesquisa_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7700,
        520
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "88d5ec22-d04e-4e8d-aa93-e29d70c1be11",
      "name": "pesquisa_closer5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6620,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b10b46e0-acd3-4294-ba16-a50363cc305d",
      "name": "insert_data_colaborador5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6940,
        900
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer5\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b3dfb09c-533d-423e-b19f-09a0a8af40aa",
      "name": "update_data_colaborador5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6940,
        1100
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer5\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4029fff8-68d9-4209-a454-94ffec79152a",
      "name": "nao_existe10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6780,
        1040
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador5\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "84d6f585-3b67-4287-aa95-3be72ac810c6",
      "name": "id_colaborador8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        7120,
        900
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer5\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4555fa12-2d6a-4193-bc63-09cce5c3226b",
      "name": "id_colaborador9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        7120,
        1100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador4\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1c069a7-bc86-4b0d-9ad3-8bacbb9794ca",
      "name": "id_colaborador10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        7120,
        520
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer4\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "157964c6-9cb4-4d9e-b14c-96823f506ac9",
      "name": "id_colaborador11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        7120,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_agendamento",
        "valueToMatchOn": "={{ $node[\"pesquisa_agendamento_novo\"].json[\"id_agendamento\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Agendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_novo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_novo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento_novo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "bdde90f3-75db-42bd-8c82-8a03837180a3",
      "name": "update_data_agendamento4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7300,
        900
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake4\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake4\"].json[\"qtd_agendamentos\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2054e428-73ec-472c-a823-c881feae1c7e",
      "name": "update_data_data_lake8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        8160,
        660
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento_novo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "35790bb5-83c5-4971-94b3-502fe736cdc8",
      "name": "insert_data_data_lake9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        8160,
        420
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a426eff5-1262-497e-b7cb-5c8652787030",
      "name": "nao_encontrou_registro_dia_dia_data_lake5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7900,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "cd097ac3-05a5-453b-805c-ab9a985018df",
      "name": "nao_existe11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        1080
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "18431393-f2a6-4e89-94f8-60a3859ed4a0",
      "name": "id_lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3220,
        840
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "46ae593f-2f9c-45c6-b268-912fe55dea77",
      "name": "insert_data_utm_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2340,
        840
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "06c2ae03-dc7b-40d6-b834-8c3de0d2d070",
      "name": "email_igual4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2800,
        1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a652fe0a-b6e2-4839-9ced-7e3ffe1325ac",
      "name": "email_preenchido4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "54095dbd-9da8-42ef-9ae3-1eaf978b564f",
      "name": "email_preenchido5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "02bb32bd-8500-4502-bfd1-9170288312f2",
      "name": "email_igual7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2820,
        1620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "64f9ae9c-0bf5-4813-86d8-aadaf6a70928",
      "name": "atualiza_dados_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3000,
        1240
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4b84545a-cf16-4e4b-af91-2ded6ef130fe",
      "name": "atualiza_dados_email4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2800,
        1400
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8b2a5b9b-497a-40f5-a4b7-fc0b8b5036c5",
      "name": "atualiza_dados_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3040,
        1540
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e2f63069-8c59-40d6-8c47-c8510c3b0bd3",
      "name": "atualiza_dados_telefone2_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3020,
        1720
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "74d20b43-520a-4063-b707-3c8c00bc8a07",
      "name": "atualiza_dados_telefone2_email1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2820,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "830f8876-9905-4d57-b510-8ed85d3d8e4e",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2660,
        2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3993a4bc-de74-403d-b3b9-c86867e4ef1a",
      "name": "email_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2500,
        2160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a0339fea-db0a-44a2-b9d7-ae9e320e846e",
      "name": "atualiza_dados_email5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2660,
        2320
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "cdb981e9-a0ec-4535-9b90-0873d1c4b544",
      "name": "atualiza_dados_telefone3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2860,
        2000
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c6fb3b86-4a09-47a3-b407-0bd7159303f1",
      "name": "atualiza_dados_email2_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2860,
        2160
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "ac930cbc-1044-49b0-b69e-33c23ca96cf5",
      "name": "telefone_igual3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2460,
        1320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7909bebc-848d-4821-919e-c823e0951fe1",
      "name": "telefone_preenchido3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2300,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "997c3744-1f52-4789-a661-4ff4839668cc",
      "name": "atualiza_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3000,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{$node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[1] ? $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        1080
      ],
      "id": "ec99ad7b-baeb-4b63-b218-229e28ccd863",
      "continueOnFail": true
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "027e182b-3744-4c56-a238-7f6acba9184e",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        480,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "aaf0ed5d-9c36-4cf4-81d4-b3ecd2bcf594",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        940
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        660,
        160
      ],
      "id": "88fb6ea8-b33b-4c81-8c7a-7be5572ef27c"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "ffa0d987-d119-4801-9601-5b6cb3c2d832",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        460,
        160
      ],
      "id": "ec3fb450-616b-4de5-bc37-763648c3433d"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada",
              "value": "reagendou"
            }
          ]
        },
        "options": {}
      },
      "id": "48abac98-286a-497d-b5d9-d34741fd65e5",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        260,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_id_do_agendamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d25524ce-f827-43b6-87aa-200ddf118b17",
      "name": "envia_campo_id_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8440,
        900
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_horario_agendado_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6bbb660-d14a-4105-8c5e-321e472f7cc2",
      "name": "envia_campo_horario_agendado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8660,
        900
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_data_do_agendamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1]    }}"
            }
          ]
        },
        "options": {}
      },
      "id": "722f8cc9-be6c-4d08-a75e-09009ed04a1f",
      "name": "envia_campo_data_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8880,
        900
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_dia_da_semana_do_agendamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca0d74c0-e27e-4c5b-9cb6-4e0e0539d219",
      "name": "envia_campo_dia_da_semana_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        9120,
        900
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_inviteeid_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "24295f8f-35d4-46dd-9682-54db03835e2f",
      "name": "envia_campo_inviteeid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        9340,
        900
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f97d37-0281-4bcb-9743-900f06def703",
      "name": "envia_campo_id_banco_de_dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        9540,
        900
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead_activecampaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1d704a6-e700-4e54-b1a2-5aac7a4d51bc",
      "name": "envia_campo_id_lead_ac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        9980,
        900
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_deal_activecampaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c7f3e379-f1d2-4513-81e4-f83cd89ab6fd",
      "name": "envia_campo_id_deal_ac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        10200,
        900
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_link_da_reuniao_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b7f11121-8947-4232-99f3-b5a9ea0c03e8",
      "name": "envia_campo_link_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        9740,
        900
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"cadastrar_contato1\"].json[\"id\"]}}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"fluxo_de_confirmacao_de_reagendamento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a601bb0d-9042-4b0f-a9c0-27668877ed0d",
      "name": "envia_fluxo_confirmacao_de_reagendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        10400,
        900
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3731ebb5-29de-45e5-9241-8d347cbdceb6",
      "name": "id_lead3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3240,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "4ade1293-89ea-42f6-90d1-f7eeda9dc3a1",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        900,
        1080
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{ $node[\"Add_contato_KOMMO\"].json[\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $node[\"Add_contato_KOMMO\"].json[\"contact_id\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5b82c7be-16ad-473f-96f3-56821df0db55",
      "name": "insere_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2120,
        840
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"]  || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "95e90633-c7eb-4427-8e01-c4eb9f5c3a88",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        680,
        1080
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n             \"responsible_user_id\":11762503,\n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                  {\n                      \"field_id\": 1016188,\n                      \"field_name\": \"Data do Reagendamento\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                          }\n                      ]\n                  },\n                  {\n                      \"field_id\": 1015594,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015596,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015598,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015600,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015602,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015604,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015606,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1014634,\n                      \"field_name\": \"Data da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split (' ')[0] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 1014636,\n                      \"field_name\": \"Hora da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split (' ')[1] }}\"\n                          }\n                      ]\n                  },\n                                {\n                \"field_id\": 1015570,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015576,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015580,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n                {\n                      \"field_id\": 1014638,\n                      \"field_name\": \"Link da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11762503,\n    \"status_id\":72345787,\n    \"pipeline_id\":9337315\n }\n]",
        "options": {}
      },
      "id": "185c2787-71a7-4b71-8257-d648fcf69f2b",
      "name": "Add_contato_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1920,
        840
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"Add_contato_KOMMO\"].json[\"id\"] }},\n        \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n        \"status_id\": 72345787,\n        \"pipeline_id\": 9337315,\n         \"responsible_user_id\":{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }},\n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1016092,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016184,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016094,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016096,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016098,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016184,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016100,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016102,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016104,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016106,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016108,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016110,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016112,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016114,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016116,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016120,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016122,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                    }\n                ]\n            },\n              {\n                \"field_id\": 1016126,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2c1dcf4b-287d-4d98-8e83-29f2e3bebf22",
      "name": "update_leads_KOMMO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2560,
        840
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead_kommo",
              "value": "={{ $node[\"Add_contato_KOMMO1\"].json[\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9966c18f-2de8-4420-946c-a78d0026cd24",
      "name": "atualiza_id_kommo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1820,
        1240
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n             \"responsible_user_id\":11762503,\n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                  {\n                      \"field_id\": 1016188,\n                      \"field_name\": \"Data do Reagendamento\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                          }\n                      ]\n                  },\n                  {\n                      \"field_id\": 1015594,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015596,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015598,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015600,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015602,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015604,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015606,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1014634,\n                      \"field_name\": \"Data da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split (' ')[0] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 1014636,\n                      \"field_name\": \"Hora da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split (' ')[1] }}\"\n                          }\n                      ]\n                  },\n                                {\n                \"field_id\": 1015570,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015576,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015580,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n                {\n                      \"field_id\": 1014638,\n                      \"field_name\": \"Link da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11762503,\n    \"status_id\":72345787,\n    \"pipeline_id\":9337315\n }\n]",
        "options": {}
      },
      "id": "dc434985-68c1-4aed-82c7-6eeaf8931316",
      "name": "Add_contato_KOMMO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        1240
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"pesquisa_lead1\"].json[\"id_contato_kommo\"] }},\n        \"status_id\": 72345787,    \n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1014636,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1014634,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016078,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016188,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016074,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016076,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                      \"field_id\": 1015594,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015596,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015598,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015600,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015602,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015604,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015606,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n            {\n                \"field_id\": 1014638,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015570,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015576,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015580,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "73d929b4-038b-408d-a663-d70b0421fe19",
      "name": "update_contato_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        1480
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"Add_contato_KOMMO1\"].json[\"id\"] }},\n        \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n        \"status_id\": 72345787,\n        \"pipeline_id\": 9337315,\n         \"responsible_user_id\":{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }},\n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1016092,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016184,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016094,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016096,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016098,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016184,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016100,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016102,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016104,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016106,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016108,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016110,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016112,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016114,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016116,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016120,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016122,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                    }\n                ]\n            },\n              {\n                \"field_id\": 1016126,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4a6ba0fc-59b1-4941-9c37-b3d85f146325",
      "name": "update_leads_KOMMO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2020,
        1240
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "queue": "Calendly - Reagendamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "803406b3-e627-43d3-be4e-f70150b7a332",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        60,
        1080
      ],
      "credentials": {
        "rabbitmq": {
          "id": "J2XRJ2ukEbkqQASv",
          "name": "[RabbitMQ] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead_kommo\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "557e5318-65bd-4a0b-9502-dee7ff1bd582",
      "name": "id_lead_kommo_vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        1320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": \"{{ $node[\"pesquisa_lead1\"].json[\"id_lead_kommo\"] || \"\" }}\",\n        \"name\": \"{{ $node[\"pesquisa_lead1\"].json[\"nome\"] || \"\" }}\",\n        \"status_id\": 72345787,\n        \"pipeline_id\": 9337315,\n        \"responsible_user_id\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] || \"\" }}\",\n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1016092,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"] || \"\").split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016094,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016096,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] || \"\").split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016098,\n                \"values\": [\n                    {\n                        \"value\": \"{{ ($node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] || \"\").split(' ')[1] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016184,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016100,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016102,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016104,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016106,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016108,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016110,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016112,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016114,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016116,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016120,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016122,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] || \"\" }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016126,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] || \"\" }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "937b49ed-cebb-45b6-84a8-b333c943f9a9",
      "name": "update_leads_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        1480
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "entra_na_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-yQRFgfZShYP7Epk-UcjUbQ",
            "deliveryTag": 2,
            "redelivered": true,
            "exchange": "",
            "routingKey": "Calendly - Reagendamentos"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 2678270
            }
          },
          "content": {
            "propertyName": false,
            "Nome do Cliente": "Studio Lc Ss",
            "E-mail do Cliente": "studio.lc.vix@gmail.com",
            "Telefone do Cliente - Formato BC": "+",
            "Telefone do Cliente - Formato Z-API": "",
            "ID do Evento": "4ebb0582-1164-441e-8e0c-8e129f6a4a52",
            "Responsável pelo Evento": "Jean Carlos",
            "E-mail do Responsável": "jeancmello.13@gmail.com",
            "Data de Início": "11/10/2024 17:00",
            "Data em que foi feito o Reagendamento": "11/10/2024",
            "Data de Término": "11/10/2024 18:00",
            "Dia da Semana de Início do Evento": "Sexta",
            "utm_source": null,
            "utm_campaign": null,
            "utm_term": null,
            "utm_medium": null,
            "utm_content": null,
            "Motivo do Reagendamento": null,
            "ID do Cliente": "f4daa870-f6f7-4149-be50-4d387a25f717",
            "ID do Evento Antigo": "951ffadb-fbc2-4e31-a72d-a4c8ea905f83",
            "Tipo de Evento": "Sessão Estratégica",
            "API-KEY": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe",
            "id_do_campo_id_do_agendamento_bot_conversa": "1111672",
            "id_do_campo_inviteeid_bot_conversa": "1111674",
            "id_do_campo_horario_agendado_bot_conversa": "1115968",
            "id_do_campo_data_do_agendamento_bot_conversa": "1115965",
            "id_do_campo_dia_da_semana_do_agendamento_bot_conversa": "1115966",
            "fluxo_de_confirmacao_de_reagendamento": "2360856",
            "Link da Reunião": "https://calendly.com/events/4ebb0582-1164-441e-8e0c-8e129f6a4a52/google_meet",
            "ID do Cliente Antigo": "433061fa-841b-4b87-a694-bd76d4e3e938",
            "data_de_inicio_antigo": "2024-10-11",
            "hora_de_inicio_antigo": "10:00:00",
            "Link da Reunião Antigo": "https://calendly.com/events/951ffadb-fbc2-4e31-a72d-a4c8ea905f83/google_meet",
            "Dia da Semana de Início do Evento Antigo": "Sexta",
            "Data do Agendamento Antigo": "2024-10-10 19:08:10",
            "Responsável pelo Evento Antigo": "Jean Carlos",
            "E-mail do Responsável Antigo": "jeancmello.13@gmail.com",
            "data_de_inicio_novo": "2024-10-11",
            "data_agendamento_novo": "2024-10-11 10:38:40",
            "hora_de_inicio_novo": "17:00:00",
            "id_campo_id_banco_de_dados_bot_conversa": "1351140",
            "variacao_do_funil": null,
            "funil": "sessao_estrategica",
            "id_do_campo_link_da_reuniao_bot_conversa": "1111673",
            "url_api_activecampaign": "gestaodesaloes67530",
            "id_pipeline_se_crm": "3",
            "id_stage_agendou_reuniao_crm": "21",
            "valor_produto_principal_em_centavos": "700000",
            "id_campo_id_banco_de_dados_crm": "257",
            "id_sdr": "jeancmello.13@gmail.com",
            "id_campo_link_de_cancelamento_crm": "23",
            "id_campo_link_de_reagendamento_crm": "24",
            "id_campo_id_do_cliente_crm": "25",
            "id_campo_dia_semana_agendamento_crm": "26",
            "id_campo_data_de_inicio_crm": "28",
            "id_campo_data_e_hora_de_inicio_crm": "29",
            "id_campo_data_e_hora_de_termino_crm": "30",
            "id_campo_data_de_termino_crm": "31",
            "id_campo_email_do_responsavel_crm": "32",
            "id_campo_data_do_reagendamento_crm": "33",
            "id_campo_link_da_reuniao_crm": "34",
            "id_campo_tipo_de_evento_crm": "36",
            "id_campo_id_do_evento_crm": "37",
            "id_task_reuniao_crm": "4",
            "id_campo_id_bot_conversa_deal_crm": "53",
            "id_campo_id_banco_deal_crm": "42",
            "id_campo_utm_source_crm": "88",
            "id_campo_utm_campaign_crm": "89",
            "id_campo_utm_term_crm": "92",
            "id_campo_utm_medium_crm": "90",
            "id_campo_utm_content_crm": "91",
            "id_campo_utm_fun_crm": "93",
            "id_campo_utm_var_crm": "94",
            "id_campo_utm_source_bot_conversa": "1123113",
            "id_campo_utm_campaing_bot_conversa": "1123114",
            "id_campo_utm_content_bot_conversa": "1123117",
            "id_campo_utm_term_bot_conversa": "1123115",
            "id_campo_utm_medium_bot_conversa": "1123116",
            "id_campo_utm_fun_bot_conversa": "1353849",
            "id_campo_utm_var_bot_conversa": "1353848",
            "id_do_campo_idleadac_bot_conversa": "1354600",
            "id_do_campo_iddealac_bot_conversa": "1354465"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YqwIRpfotJoCTvFh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-01T18:42:14.620Z",
  "versionId": "a1e53b22-ccf3-4d2e-b6fe-f393d7af7fb6"
}