workflows/⌛⌚[HENRY SANTOS][BD][SHEETS] - Calendly - Parte 1.json
{
  "active": true,
  "connections": {
    "Evento Criado": {
      "main": [
        [
          {
            "node": "É Reagendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento1": {
      "main": [
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelamento": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reagendamento": {
      "main": [
        [
          {
            "node": "formata_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "numeros_de_teste": {
      "main": [
        [],
        [
          {
            "node": "nao_faça_nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados1": {
      "main": [
        [
          {
            "node": "dados_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados2": {
      "main": [
        [
          {
            "node": "dados_do_reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Deals da Conta3": {
      "main": [
        [
          {
            "node": "Listar Pipelines e Status da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Pipelines e Status da Conta3": {
      "main": [
        [
          {
            "node": "Consulta Users da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Deals da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users da Conta": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao_estrategica": {
      "main": [
        [
          {
            "node": "É Reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tags da Conta": {
      "main": [
        [
          {
            "node": "Listar Tipos de Task da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao": {
      "main": [
        [
          {
            "node": "É Reagendamento2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento Criado1": {
      "main": [
        [
          {
            "node": "É Reagendamento3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento2": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados3": {
      "main": [
        [
          {
            "node": "dados_do_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento3": {
      "main": [
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento": {
      "main": [
        [
          {
            "node": "sessao_estrategica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_agendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_reagendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_cancelamento": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-24T16:59:58.739Z",
  "id": "PzffurhaX36M8pgX",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌛⌚[HENRY SANTOS][BD][SHEETS] - Calendly - Parte 1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "2a79e793-7eab-4042-bae4-7a4f13684fc1",
      "name": "agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1220,
        1400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ec1c6a86-23dd-41df-9cb6-97f6e2622fab",
      "name": "Reagendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1220,
        1260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fe1c5b46-5c35-4e45-9e74-ae5e792a3956",
      "name": "Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1220,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "def8ad8b-07e5-4261-97a7-99990574a090",
      "name": "Evento Criado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        20,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "99fc759d-65ca-4d6f-a55d-855abfe4d77f",
      "name": "É Reagendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -280,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2c0c41c0-637b-4106-94fd-158c33a9d7a8",
      "name": "É Reagendamento1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        880
      ]
    },
    {
      "parameters": {},
      "id": "52e542a7-80bc-4f1f-ae8a-b1bfd488e8b4",
      "name": "Não faça nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        440
      ]
    },
    {
      "parameters": {},
      "id": "6127efc4-b10a-4976-9f57-16090a47eae6",
      "name": "cancelamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        1200
      ]
    },
    {
      "parameters": {},
      "id": "4633204f-5129-4e70-b657-008208dd995f",
      "name": "reagendamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        20,
        620
      ]
    },
    {
      "parameters": {},
      "id": "2b4520a6-cbdc-4698-bf7e-b7ff13a6ce71",
      "name": "nao_faça_nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -380,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98493-9743"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98571-1260"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 71 98160-6543"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 14 99158-8346"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 99958-0682"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "52c14e3d-9b79-418d-a719-9bc4c0e07df5",
      "name": "numeros_de_teste",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -600,
        360
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Sessão Estratégica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "dab13cdc-d4f0-4aa9-93ca-90aab0a6e1e9",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        820,
        900
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email\n};\n"
      },
      "id": "793b2b3b-630b-4435-ae91-ce6e5e0b06f8",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        440,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Acesse a data do JSON\nconst canceledAt = payload.event.canceled_at;\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataCancelamento = `${ano}-${mes}-${dia}`;\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Retornar os resultados\nreturn {\n  'Telefone': telefone,\n  'Nome': name,\n  'Data do Cancelamento': dataCancelamento\n};\n"
      },
      "id": "b9e342e7-040f-4d26-b787-37ec83e69819",
      "name": "formata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        320,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.new_event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Acesse a data do JSON\nconst canceledAt = payload.invitee.canceled_at;\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataReagendamento = `${ano}-${mes}-${dia}`;\n\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.new_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.new_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar o nome com a primeira letra de cada palavra em maiúsculo,\n// levando em consideração as letras com acentos\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .replace(/(?:^|\\s|[-'’])(\\S)/g, (match) => match.toUpperCase());\n}\n\n// Usar a função formatarNome para formatar o nome\nconst name = formatarNome(payload.new_invitee.name);\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.new_invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n\n// Pegar o parâmetro \"created_at\" e converter para o formato YYYY-MM-DD\nconst newCreatedAt = new Date(payload.new_event.created_at);\nconst newDataAgendamento = newCreatedAt.toISOString().slice(0, 10);\n\n// Pegar o parâmetro \"start_time\" e converter para o formato YYYY-MM-DD\nconst newStartTime = new Date(payload.new_event.start_time);\nconst newDataInicio = newStartTime.toISOString().split('T')[0];\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Reagendamento': dataReagendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'data_inicio_evento_novo': newDataInicio,\n  'data_agendamento_evento_novo': newDataAgendamento\n};\n"
      },
      "id": "4cd81205-2ad9-442b-b387-f34fbbe36b21",
      "name": "formata_dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a3a74877-302d-4623-882f-41cd637e6021",
      "name": "cancelamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1260,
        920
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "18cdd160-ecc3-4fa0-9f52-17523720044a",
      "name": "reagendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1140,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Nome\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"extended_assigned_to\"][\"0\"][\"email\"].replace('hiltoncaf@gmail.com','carolinafortaleza@gmail.com') }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Início\"].split('T')[0].replace(',','') }}"
            },
            {
              "name": "Data em que foi feito o Reagendamento",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[2] }}/{{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[1] }}/{{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[0] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Término\"].replace(',','') }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "Motivo do Reagendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"cancel_reason\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_invitee\"][\"uuid\"] }}"
            },
            {
              "name": "ID do Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"].replace('Parabéns, seu perfil foi aprovado, agende a sessão:','Sessao Estrategica') }}"
            },
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1111672"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1111674"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1115968"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1115965"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1115966"
            },
            {
              "name": "fluxo_de_confirmacao_de_reagendamento",
              "value": "2360856"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"location\"] }}"
            },
            {
              "name": "ID do Cliente Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "data_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0] }}"
            },
            {
              "name": "hora_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Link da Reunião Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "Data do Agendamento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Responsável pelo Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "data_de_inicio_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_inicio_evento_novo\"] }}"
            },
            {
              "name": "data_agendamento_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_agendamento_evento_novo\"] }} {{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "hora_de_inicio_novo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1351140"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] === \"manychat\" ? \"agendamento_manychat\" : $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1111673"
            },
            {
              "name": "url_api_activecampaign",
              "value": "gestaodesaloes67530"
            },
            {
              "name": "id_pipeline_se_crm",
              "value": "3"
            },
            {
              "name": "id_stage_agendou_reuniao_crm",
              "value": "21"
            },
            {
              "name": "valor_produto_principal_em_centavos",
              "value": "700000"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "257"
            },
            {
              "name": "id_sdr",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"].replace('henry.dossantos@gmail.com','11743307').replace('willnovaes01@gmail.com','11762515').replace('cassiagregorio@gmail.com','9109819') }}"
            },
            {
              "name": "id_campo_link_de_cancelamento_crm",
              "value": "23"
            },
            {
              "name": "id_campo_link_de_reagendamento_crm",
              "value": "24"
            },
            {
              "name": "id_campo_id_do_cliente_crm",
              "value": "25"
            },
            {
              "name": "id_campo_dia_semana_agendamento_crm",
              "value": "26"
            },
            {
              "name": "id_campo_data_de_inicio_crm",
              "value": "28"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_crm",
              "value": "29"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_crm",
              "value": "30"
            },
            {
              "name": "id_campo_data_de_termino_crm",
              "value": "31"
            },
            {
              "name": "id_campo_email_do_responsavel_crm",
              "value": "32"
            },
            {
              "name": "id_campo_data_do_reagendamento_crm",
              "value": "33"
            },
            {
              "name": "id_campo_link_da_reuniao_crm",
              "value": "34"
            },
            {
              "name": "id_campo_tipo_de_evento_crm",
              "value": "36"
            },
            {
              "name": "id_campo_id_do_evento_crm",
              "value": "37"
            },
            {
              "name": "id_task_reuniao_crm",
              "value": "4"
            },
            {
              "name": "id_campo_id_bot_conversa_deal_crm",
              "value": "53"
            },
            {
              "name": "id_campo_id_banco_deal_crm",
              "value": "42"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "88"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "89"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "92"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "90"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "91"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "93"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "94"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1123113"
            },
            {
              "name": "id_campo_utm_campaing_bot_conversa",
              "value": "1123114"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1123117"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1123115"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1123116"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1353849"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1353848"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1354600"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1354465"
            }
          ],
          "boolean": [
            {}
          ]
        },
        "options": {}
      },
      "id": "cbd494af-e2fb-4eae-a16e-354080452e7e",
      "name": "dados_do_reagendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        620
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Data do Cancelamento",
              "value": "={{ $node[\"formata_dados1\"].json[\"Data do Cancelamento\"].split('-')[2] }}/{{ $node[\"formata_dados1\"].json[\"Data do Cancelamento\"].split('-')[1] }}/{{ $node[\"formata_dados1\"].json[\"Data do Cancelamento\"].split('-')[0] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1111672"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1111674"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1115968"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1115965"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1115966"
            },
            {
              "name": "fluxo_de_confirmacao_de_cancelamento",
              "value": "2360857"
            },
            {
              "name": "id_do_campo_motivo_do_cancelamento_bot_conversa",
              "value": "1125865"
            },
            {
              "name": "Motivo do Cancelamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"cancel_reason\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[0] }}"
            },
            {
              "name": "Hora de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"].replace('Parabéns, seu perfil foi aprovado, agende a sessão','Sessao Estrategica') }}"
            },
            {
              "name": "Dia da Semana do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1351140"
            },
            {
              "name": "data_termino_ac",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0] }}"
            },
            {
              "name": "data_e_hora_de_termino",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "data_e_hora_de_inicio",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"].replace('hiltoncaf@gmail.com','carolinafortaleza@gmail.com') }}"
            },
            {
              "name": "Nome do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "url_api_activecampaign",
              "value": "gestaodesaloes67530"
            },
            {
              "name": "id_pipeline_se_crm",
              "value": "3"
            },
            {
              "name": "id_stage_nao_compareceu_reuniao_crm",
              "value": "23"
            },
            {
              "name": "valor_produto_principal_em_centavos",
              "value": "700000"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "257"
            },
            {
              "name": "id_sdr",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"].replace('henry.dossantos@gmail.com','11743307').replace('willnovaes01@gmail.com','11762515').replace('cassiagregorio@gmail.com','9109819') }}"
            },
            {
              "name": "id_campo_link_de_cancelamento_crm",
              "value": "23"
            },
            {
              "name": "id_campo_link_de_reagendamento_crm",
              "value": "24"
            },
            {
              "name": "id_campo_id_do_cliente_crm",
              "value": "25"
            },
            {
              "name": "id_campo_dia_semana_agendamento_crm",
              "value": "26"
            },
            {
              "name": "id_campo_data_de_inicio_crm",
              "value": "28"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_crm",
              "value": "29"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_crm",
              "value": "30"
            },
            {
              "name": "id_campo_data_de_termino_crm",
              "value": "31"
            },
            {
              "name": "id_campo_email_do_responsavel_crm",
              "value": "32"
            },
            {
              "name": "id_campo_data_do_cancelamento_crm",
              "value": "33"
            },
            {
              "name": "id_campo_link_da_reuniao_crm",
              "value": "34"
            },
            {
              "name": "id_campo_tipo_de_evento_crm",
              "value": "36"
            },
            {
              "name": "id_campo_id_do_evento_crm",
              "value": "37"
            },
            {
              "name": "id_task_reuniao_crm",
              "value": "4"
            },
            {
              "name": "id_campo_id_banco_deal_crm",
              "value": "42"
            },
            {
              "name": "id_campo_id_bot_conversa_deal_crm",
              "value": "53"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1354600"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1354465"
            },
            {
              "name": "id_campo_data_do_cancelamento_bot_conversa",
              "value": "1115995"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "21c13c45-7cb7-4df2-a463-ed42a4d339bf",
      "name": "dados_do_cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        1200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"].replace('Parabéns, seu perfil foi aprovado, agende a sessão:','Sessao Estrategica') }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Início\"].replace(',','') }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados\"].json[\"Data em que foi feito o Agendamento\"].replace(',','') }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Término\"].replace(',','') }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo')                  }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1111672"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "1879004"
            },
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1111673"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1115966"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1115965"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1115968"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1351140"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] === \"manychat\" ? \"agendamento_manychat\" : $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1111674"
            },
            {
              "name": "id_do_campo_email_do_responsavel",
              "value": "1115994"
            },
            {
              "name": "url_api_activecampaign",
              "value": "gestaodesaloes67530"
            },
            {
              "name": "id_pipeline_se_crm",
              "value": "3"
            },
            {
              "name": "id_stage_agendou_reuniao_crm",
              "value": "21"
            },
            {
              "name": "valor_produto_principal_em_centavos",
              "value": "700000"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "257"
            },
            {
              "name": "id_sdr",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"].replace('henry.dossantos@gmail.com','11743307').replace('willnovaes01@gmail.com','11762515').replace('jeandcloser@gmail.com','11762503') }}"
            },
            {
              "name": "id_campo_link_de_cancelamento_crm",
              "value": "23"
            },
            {
              "name": "id_campo_link_de_reagendamento_crm",
              "value": "24"
            },
            {
              "name": "id_campo_id_do_cliente_crm",
              "value": "25"
            },
            {
              "name": "id_campo_dia_semana_agendamento_crm",
              "value": "26"
            },
            {
              "name": "id_campo_data_de_inicio_crm",
              "value": "28"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_crm",
              "value": "29"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_crm",
              "value": "30"
            },
            {
              "name": "id_campo_data_de_termino_crm",
              "value": "31"
            },
            {
              "name": "id_campo_email_do_responsavel_crm",
              "value": "32"
            },
            {
              "name": "id_campo_data_do_agendamento_crm",
              "value": "33"
            },
            {
              "name": "id_campo_link_da_reuniao_crm",
              "value": "34"
            },
            {
              "name": "id_campo_tipo_de_evento_crm",
              "value": "36"
            },
            {
              "name": "id_campo_id_do_evento_crm",
              "value": "37"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "88"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "89"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "92"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "90"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "91"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "93"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "94"
            },
            {
              "name": "id_task_reuniao_crm",
              "value": "4"
            },
            {
              "name": "id_campo_id_bot_conversa_crm",
              "value": "53"
            },
            {
              "name": "id_campo_id_banco_deal_crm",
              "value": "42"
            },
            {
              "name": "id_campo_id_bot_conversa_deal_crm",
              "value": "53"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1123113"
            },
            {
              "name": "id_campo_utm_campaing_bot_conversa",
              "value": "1123114"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1123117"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1123115"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1123116"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1353849"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1353848"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1354600"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1354465"
            }
          ]
        },
        "options": {}
      },
      "id": "d5e316fd-be25-4930-b25a-e8712ff24cf8",
      "name": "dados_do_agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        620,
        900
      ]
    },
    {
      "parameters": {
        "content": "## Para consulta\n\nUtilize estes Nodes para Consultar o ID dos Campos do Deal e o ID das Pipelines e Stages no ActiveCampaign",
        "height": 494.4652796495957,
        "width": 1558.7543199104232
      },
      "id": "a1c1c7c9-cb3f-4afb-b12e-1f28be049276",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        -300
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealCustomFieldMeta",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Deals da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -400,
        -120
      ],
      "id": "1a1e29af-2df4-438d-a036-d648c9b63189"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealGroups",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Pipelines e Status da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -180,
        -120
      ],
      "id": "371992b4-6cb1-4392-b369-2ccee5ec01f8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "d0aa5c89796c6403850c539dbd5bcb58ffc0f8c7ff28b9fc6be0c3b54a540a15403f99b1"
            },
            {
              "name": "url_api_activecampaign",
              "value": "gestaodesaloes67530"
            }
          ]
        },
        "options": {}
      },
      "id": "0044a55d-ebb8-48ba-8772-48582b4f53f5",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -600,
        -120
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "bf7f1cec-f50f-42cb-9bfe-984803af2ea5",
      "name": "Consulta Users da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        40,
        -120
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        460,
        -120
      ],
      "id": "efafe817-78cb-4ab7-9907-07e9970d3a53"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        260,
        -120
      ],
      "id": "6fc20d5a-d06d-455a-a606-4852e597d3dd"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "xyz"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "abc"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "71461fdf-9bbe-4e6e-adbf-0cb247e0e292",
      "name": "eventos_permitidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node se o cliente tiver apenas alguns eventos do Calendly que devem entrar na automação",
        "height": 318.2284579191374,
        "width": 468.74007115902964
      },
      "id": "810b2c8e-b4f9-45d9-a884-9e90ad0623ce",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node para permitir que apenas alguns números entrem na automação para testar",
        "height": 318.2284579191374,
        "width": 468.74007115902964
      },
      "id": "a5c48f53-ea4c-42f4-83fd-9fbeeaa3cc4e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use os Nodes abaixo para armazenar JSON de execuções de cancelamento e reagendamento para testes",
        "height": 545.775102619946,
        "width": 468.74007115902964
      },
      "id": "f812659c-593a-4bb6-8feb-7657058bb0c0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"payload\"][\"event_type\"][\"name\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "ba64ecd5-a8b4-4824-8f40-40d1a4e26428",
      "name": "sessao_estrategica",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -680,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "aplicacao"
            }
          ]
        }
      },
      "id": "49bf7000-c540-43b0-a6f2-4ab3d6781048",
      "name": "aplicacao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -520,
        1000
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Reagendamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "d34b94c6-f40f-4028-bf5f-0f0ec1d8191d",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        580,
        620
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    },
    {
      "parameters": {
        "queue": "Calendly - Cancelamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "2647efd4-da61-4afb-9290-9280a541154b",
      "name": "entra_na_fila2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        680,
        1200
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealTasktypes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "64b164d1-ddf7-4136-bd39-1a5ff67a650d",
      "name": "Listar Tipos de Task da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "cda3902f-c096-4f0c-ad8f-38be16bb1b6e",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -400,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "250ec550-7200-4ebf-a76e-6e5eb83c3fcd",
      "name": "Evento Criado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4f34984b-fd21-48df-860e-7b85391ecb54",
      "name": "É Reagendamento2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -300,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6089a549-e533-470d-b26d-284b4f46f645",
      "name": "É Reagendamento3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        1460
      ]
    },
    {
      "parameters": {},
      "id": "0bd6959c-0b79-4215-93cf-3dad3b30c672",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        300,
        1360
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Aplicação",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "829f1edb-13b1-4cdb-adce-1d87d5e8ba85",
      "name": "entra_na_fila3",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        680,
        1540
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email\n};\n"
      },
      "id": "3177328a-414a-4a3b-9391-7831331a5150",
      "name": "formata_dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        1540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{                $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo')                  }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1798742"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento"
            },
            {
              "name": "API-KEY"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1798743"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1783350"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1798741"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1836528"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1823034"
            },
            {
              "name": "funil",
              "value": "aplicacao_direta"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1798744"
            }
          ]
        },
        "options": {}
      },
      "id": "79215e05-d9a2-483e-b87f-ad12d4dfe67c",
      "name": "dados_do_agendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        1540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c82ffa4-8361-4e31-9c01-5193b4baeb69",
      "name": "agendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1360,
        740
      ]
    },
    {
      "parameters": {
        "scope": "organization",
        "events": [
          "invitee.created",
          "invitee.canceled"
        ]
      },
      "id": "33bb5fd9-a5fa-4516-8eb0-b48a169af8d1",
      "name": "Evento",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        760
      ],
      "webhookId": "945ee3d2-a828-4b8f-9b49-5175de6629d8",
      "credentials": {
        "calendlyApi": {
          "id": "3nKSW4fE85vkqPRg",
          "name": "[Calendly][2.0] - Henry Santos"
        }
      }
    }
  ],
  "pinData": {
    "agendamento": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "cec39135-d2f3-47ba-bb8f-25ae178905d6",
              "kind": "One-on-One",
              "slug": "sessao-estrategica-acompanhamento-vip-clone",
              "name": "Sessão Estratégica - Acompanhamento VIP das Lives",
              "duration": 60,
              "owner": {
                "type": "users",
                "uuid": "676eec5d-16c3-4e51-b67e-39ebfe84b747"
              }
            },
            "event": {
              "uuid": "9ae66ce3-dbea-433b-8387-e17a65459b5a",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-06-12T17:30:00-03:00",
              "start_time_pretty": "05:30pm - Wednesday, June 12, 2024",
              "invitee_start_time": "2024-06-12T17:30:00-03:00",
              "invitee_start_time_pretty": "05:30pm - Wednesday, June 12, 2024",
              "end_time": "2024-06-12T18:30:00-03:00",
              "end_time_pretty": "06:30pm - Wednesday, June 12, 2024",
              "invitee_end_time": "2024-06-12T18:30:00-03:00",
              "invitee_end_time_pretty": "06:30pm - Wednesday, June 12, 2024",
              "created_at": "2024-06-11T12:57:29-03:00",
              "location": "https://calendly.com/events/9ae66ce3-dbea-433b-8387-e17a65459b5a/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "973d1023-ccfa-44f7-9589-5c7943df8d08",
              "first_name": "Vitor",
              "last_name": "Queiroz",
              "name": "Vitor Queiroz",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-06-11T12:57:29-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "WhatsApp",
                "answer": "+55 19 98457-4874"
              },
              {
                "question": "Faça um breve resumo do que você gostaria de solucionar com esta sessão estratégica",
                "answer": "teste manychat"
              }
            ],
            "questions_and_responses": {
              "1_question": "WhatsApp",
              "1_response": "+55 19 98457-4874",
              "2_question": "Faça um breve resumo do que você gostaria de solucionar com esta sessão estratégica",
              "2_response": "teste manychat"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": "manychat",
              "utm_medium": null,
              "utm_content": "Mais de R$ 100.000 mensal",
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-06-11T15:57:30Z"
        }
      }
    ],
    "Reagendamento": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "cec39135-d2f3-47ba-bb8f-25ae178905d6",
              "kind": "One-on-One",
              "slug": "sessao-estrategica-acompanhamento-vip-clone",
              "name": "Sessão Estratégica - Acompanhamento VIP das Lives",
              "duration": 60,
              "owner": {
                "type": "users",
                "uuid": "676eec5d-16c3-4e51-b67e-39ebfe84b747"
              }
            },
            "event": {
              "uuid": "9ae66ce3-dbea-433b-8387-e17a65459b5a",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-06-12T17:30:00-03:00",
              "start_time_pretty": "05:30pm - Wednesday, June 12, 2024",
              "invitee_start_time": "2024-06-12T17:30:00-03:00",
              "invitee_start_time_pretty": "05:30pm - Wednesday, June 12, 2024",
              "end_time": "2024-06-12T18:30:00-03:00",
              "end_time_pretty": "06:30pm - Wednesday, June 12, 2024",
              "invitee_end_time": "2024-06-12T18:30:00-03:00",
              "invitee_end_time_pretty": "06:30pm - Wednesday, June 12, 2024",
              "created_at": "2024-06-11T12:57:29-03:00",
              "location": "https://calendly.com/events/9ae66ce3-dbea-433b-8387-e17a65459b5a/google_meet",
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "Reagendmaneto teste",
              "canceled_at": "2024-06-11T15:29:06-03:00"
            },
            "invitee": {
              "uuid": "973d1023-ccfa-44f7-9589-5c7943df8d08",
              "first_name": "Vitor",
              "last_name": "Queiroz",
              "name": "Vitor Queiroz",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-06-11T12:57:29-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "Reagendmaneto teste",
              "canceled_at": "2024-06-11T15:29:06-03:00"
            },
            "questions_and_answers": [
              {
                "question": "WhatsApp",
                "answer": "+55 19 98457-4874"
              },
              {
                "question": "Faça um breve resumo do que você gostaria de solucionar com esta sessão estratégica",
                "answer": "teste manychat"
              }
            ],
            "questions_and_responses": {
              "1_question": "WhatsApp",
              "1_response": "+55 19 98457-4874",
              "2_question": "Faça um breve resumo do que você gostaria de solucionar com esta sessão estratégica",
              "2_response": "teste manychat"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": "manychat",
              "utm_medium": null,
              "utm_content": "Mais de R$ 100.000 mensal",
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "26b5a32a-e265-4067-b5a6-8b25efe02f9a",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-06-13T15:00:00-03:00",
              "start_time_pretty": "03:00pm - Thursday, June 13, 2024",
              "invitee_start_time": "2024-06-13T15:00:00-03:00",
              "invitee_start_time_pretty": "03:00pm - Thursday, June 13, 2024",
              "end_time": "2024-06-13T16:00:00-03:00",
              "end_time_pretty": "04:00pm - Thursday, June 13, 2024",
              "invitee_end_time": "2024-06-13T16:00:00-03:00",
              "invitee_end_time_pretty": "04:00pm - Thursday, June 13, 2024",
              "created_at": "2024-06-11T15:29:06-03:00",
              "location": "https://calendly.com/events/26b5a32a-e265-4067-b5a6-8b25efe02f9a/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "8fa6a2ee-129a-47e4-b45d-7b7e41f99de2",
              "first_name": "Vitor",
              "last_name": "Queiroz",
              "name": "Vitor Queiroz",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-06-11T15:29:06-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2024-06-11T18:29:06Z"
        }
      }
    ],
    "Cancelamento": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "cec39135-d2f3-47ba-bb8f-25ae178905d6",
              "kind": "One-on-One",
              "slug": "sessao-estrategica-acompanhamento-vip-clone",
              "name": "Sessão Estratégica - Acompanhamento VIP das Lives",
              "duration": 60,
              "owner": {
                "type": "users",
                "uuid": "676eec5d-16c3-4e51-b67e-39ebfe84b747"
              }
            },
            "event": {
              "uuid": "26b5a32a-e265-4067-b5a6-8b25efe02f9a",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-06-13T15:00:00-03:00",
              "start_time_pretty": "03:00pm - Thursday, June 13, 2024",
              "invitee_start_time": "2024-06-13T15:00:00-03:00",
              "invitee_start_time_pretty": "03:00pm - Thursday, June 13, 2024",
              "end_time": "2024-06-13T16:00:00-03:00",
              "end_time_pretty": "04:00pm - Thursday, June 13, 2024",
              "invitee_end_time": "2024-06-13T16:00:00-03:00",
              "invitee_end_time_pretty": "04:00pm - Thursday, June 13, 2024",
              "created_at": "2024-06-11T15:29:06-03:00",
              "location": "https://calendly.com/events/26b5a32a-e265-4067-b5a6-8b25efe02f9a/google_meet",
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": null,
              "canceled_at": "2024-06-11T15:40:02-03:00"
            },
            "invitee": {
              "uuid": "8fa6a2ee-129a-47e4-b45d-7b7e41f99de2",
              "first_name": "Vitor",
              "last_name": "Queiroz",
              "name": "Vitor Queiroz",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-06-11T15:29:06-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": null,
              "canceled_at": "2024-06-11T15:40:02-03:00"
            },
            "questions_and_answers": [
              {
                "question": "WhatsApp",
                "answer": "+55 19 98457-4874"
              },
              {
                "question": "Faça um breve resumo do que você gostaria de solucionar com esta sessão estratégica",
                "answer": "teste manychat"
              }
            ],
            "questions_and_responses": {
              "1_question": "WhatsApp",
              "1_response": "+55 19 98457-4874",
              "2_question": "Faça um breve resumo do que você gostaria de solucionar com esta sessão estratégica",
              "2_response": "teste manychat"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": "manychat",
              "utm_medium": null,
              "utm_content": "Mais de R$ 100.000 mensal",
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": {
              "uuid": "9ae66ce3-dbea-433b-8387-e17a65459b5a",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-06-12T17:30:00-03:00",
              "start_time_pretty": "05:30pm - Wednesday, June 12, 2024",
              "invitee_start_time": "2024-06-12T17:30:00-03:00",
              "invitee_start_time_pretty": "05:30pm - Wednesday, June 12, 2024",
              "end_time": "2024-06-12T18:30:00-03:00",
              "end_time_pretty": "06:30pm - Wednesday, June 12, 2024",
              "invitee_end_time": "2024-06-12T18:30:00-03:00",
              "invitee_end_time_pretty": "06:30pm - Wednesday, June 12, 2024",
              "created_at": "2024-06-11T12:57:29-03:00",
              "location": "https://calendly.com/events/9ae66ce3-dbea-433b-8387-e17a65459b5a/google_meet",
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "Reagendmaneto teste",
              "canceled_at": "2024-06-11T15:29:06-03:00"
            },
            "old_invitee": {
              "uuid": "973d1023-ccfa-44f7-9589-5c7943df8d08",
              "first_name": "Vitor",
              "last_name": "Queiroz",
              "name": "Vitor Queiroz",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-06-11T12:57:29-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "Reagendmaneto teste",
              "canceled_at": "2024-06-11T15:29:06-03:00"
            },
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-06-11T18:40:02Z"
        }
      }
    ],
    "agendamento1": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "558b4559-59c5-4c20-93a0-f162f1354911",
              "kind": "One-on-One",
              "slug": "sessao-estrategica-com-henry",
              "name": "Parabéns, seu perfil foi aprovado, agende a sessão:",
              "duration": 90,
              "owner": {
                "type": "users",
                "uuid": "676eec5d-16c3-4e51-b67e-39ebfe84b747"
              }
            },
            "event": {
              "uuid": "c220e1ee-2fb4-4f26-81d3-2c3d7aaa92c5",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-03-20T14:00:00-03:00",
              "start_time_pretty": "02:00pm - Wednesday, March 20, 2024",
              "invitee_start_time": "2024-03-20T14:00:00-03:00",
              "invitee_start_time_pretty": "02:00pm - Wednesday, March 20, 2024",
              "end_time": "2024-03-20T15:30:00-03:00",
              "end_time_pretty": "03:30pm - Wednesday, March 20, 2024",
              "invitee_end_time": "2024-03-20T15:30:00-03:00",
              "invitee_end_time_pretty": "03:30pm - Wednesday, March 20, 2024",
              "created_at": "2024-03-15T16:57:18-03:00",
              "location": "https://calendly.com/events/c220e1ee-2fb4-4f26-81d3-2c3d7aaa92c5/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "ac196211-a296-4f20-9a61-c74e6468af0c",
              "first_name": null,
              "last_name": null,
              "name": "Jailson Teste",
              "email": "testedeautomacaoes@gmail.com",
              "text_reminder_number": "+55 11 96042-5056",
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-03-15T16:57:18-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Seu DDD + Whatsapp",
                "answer": "+55 11 96042-5056"
              }
            ],
            "questions_and_responses": {
              "1_question": "Seu DDD + Whatsapp",
              "1_response": "+55 11 96042-5056"
            },
            "tracking": {
              "utm_campaign": "ad4",
              "utm_source": "manychat",
              "utm_medium": "image",
              "utm_content": null,
              "utm_term": "hot",
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-03-15T19:57:18Z"
        }
      }
    ],
    "reagendamento1": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "558b4559-59c5-4c20-93a0-f162f1354911",
              "kind": "One-on-One",
              "slug": "sessao-estrategica-com-henry",
              "name": "Parabéns, seu perfil foi aprovado, agende a sessão:",
              "duration": 90,
              "owner": {
                "type": "users",
                "uuid": "676eec5d-16c3-4e51-b67e-39ebfe84b747"
              }
            },
            "event": {
              "uuid": "e430253f-c57a-45ad-81a8-08439e0e31cb",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-03-26T09:30:00-03:00",
              "start_time_pretty": "09:30am - Tuesday, March 26, 2024",
              "invitee_start_time": "2024-03-26T09:30:00-03:00",
              "invitee_start_time_pretty": "09:30am - Tuesday, March 26, 2024",
              "end_time": "2024-03-26T11:00:00-03:00",
              "end_time_pretty": "11:00am - Tuesday, March 26, 2024",
              "invitee_end_time": "2024-03-26T11:00:00-03:00",
              "invitee_end_time_pretty": "11:00am - Tuesday, March 26, 2024",
              "created_at": "2024-03-21T12:12:54-03:00",
              "location": "https://calendly.com/events/e430253f-c57a-45ad-81a8-08439e0e31cb/google_meet",
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "Reagendamento - Teste",
              "canceled_at": "2024-03-21T12:35:26-03:00"
            },
            "invitee": {
              "uuid": "e7ecb783-2fee-41bf-815c-a0ba30ff0873",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": "+55 19 98202-2213",
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-03-21T12:12:54-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "Reagendamento - Teste",
              "canceled_at": "2024-03-21T12:35:26-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Seu DDD + Whatsapp",
                "answer": "+55 19 98202-2213"
              }
            ],
            "questions_and_responses": {
              "1_question": "Seu DDD + Whatsapp",
              "1_response": "+55 19 98202-2213"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "608ea2e7-150d-42e1-9942-7d11079328f4",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-03-21T19:00:00-03:00",
              "start_time_pretty": "07:00pm - Thursday, March 21, 2024",
              "invitee_start_time": "2024-03-21T19:00:00-03:00",
              "invitee_start_time_pretty": "07:00pm - Thursday, March 21, 2024",
              "end_time": "2024-03-21T20:30:00-03:00",
              "end_time_pretty": "08:30pm - Thursday, March 21, 2024",
              "invitee_end_time": "2024-03-21T20:30:00-03:00",
              "invitee_end_time_pretty": "08:30pm - Thursday, March 21, 2024",
              "created_at": "2024-03-21T12:35:26-03:00",
              "location": "https://calendly.com/events/608ea2e7-150d-42e1-9942-7d11079328f4/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "0e5c6aa1-e0c7-48b6-ad79-037a9a922a3a",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": "+55 19 98202-2213",
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-03-21T12:35:26-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2024-03-21T15:35:27Z"
        }
      }
    ],
    "cancelamento1": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "558b4559-59c5-4c20-93a0-f162f1354911",
              "kind": "One-on-One",
              "slug": "sessao-estrategica-com-henry",
              "name": "Parabéns, seu perfil foi aprovado, agende a sessão:",
              "duration": 90,
              "owner": {
                "type": "users",
                "uuid": "676eec5d-16c3-4e51-b67e-39ebfe84b747"
              }
            },
            "event": {
              "uuid": "a7c48cd0-bddb-4327-9f57-b63104fa2ddf",
              "assigned_to": [
                "Henry Santos"
              ],
              "extended_assigned_to": [
                {
                  "name": "Henry Santos",
                  "email": "henry.dossantos@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-03-18T16:00:00-03:00",
              "start_time_pretty": "04:00pm - Monday, March 18, 2024",
              "invitee_start_time": "2024-03-18T16:00:00-03:00",
              "invitee_start_time_pretty": "04:00pm - Monday, March 18, 2024",
              "end_time": "2024-03-18T17:30:00-03:00",
              "end_time_pretty": "05:30pm - Monday, March 18, 2024",
              "invitee_end_time": "2024-03-18T17:30:00-03:00",
              "invitee_end_time_pretty": "05:30pm - Monday, March 18, 2024",
              "created_at": "2024-03-15T16:40:19-03:00",
              "location": "https://calendly.com/events/a7c48cd0-bddb-4327-9f57-b63104fa2ddf/google_meet",
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "teste",
              "canceled_at": "2024-03-15T16:42:45-03:00"
            },
            "invitee": {
              "uuid": "daa37baa-8d3e-45fb-b731-290913a7a784",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": "+55 19 98457-4874",
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-03-15T16:40:19-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": true,
              "canceler_name": "Henry Santos",
              "cancel_reason": "teste",
              "canceled_at": "2024-03-15T16:42:45-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Seu DDD + Whatsapp",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "1_question": "Seu DDD + Whatsapp",
              "1_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": "campaign4",
              "utm_source": "source1",
              "utm_medium": "medium2",
              "utm_content": "content3",
              "utm_term": "term5",
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-03-15T19:42:45Z"
        }
      }
    ],
    "Evento": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "2a21d9e7-454c-4d6c-9fdb-6853c3c32744",
              "kind": "Collective",
              "slug": null,
              "name": "Sessão Estratégica",
              "duration": 30,
              "owner": {
                "type": "organizations",
                "uuid": null
              }
            },
            "event": {
              "uuid": "15e7c31e-e5f3-4c1d-bc29-6c2767102648",
              "assigned_to": [
                "Jean Carlos",
                "Willian Novaes"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jean Carlos",
                  "email": "jeandcloser@gmail.com",
                  "primary": false
                },
                {
                  "name": "Willian Novaes",
                  "email": "willnovaes01@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2024-09-06T18:00:00-04:00",
              "start_time_pretty": "06:00pm - Friday, September 6, 2024",
              "invitee_start_time": "2024-09-06T19:00:00-03:00",
              "invitee_start_time_pretty": "07:00pm - Friday, September 6, 2024",
              "end_time": "2024-09-06T18:30:00-04:00",
              "end_time_pretty": "06:30pm - Friday, September 6, 2024",
              "invitee_end_time": "2024-09-06T19:30:00-03:00",
              "invitee_end_time_pretty": "07:30pm - Friday, September 6, 2024",
              "created_at": "2024-09-05T16:08:41-04:00",
              "location": null,
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "e814df3a-2df6-4abe-9a7c-7d9a1c5bbf70",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-09-05T16:08:41-04:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual é o seu telefone?",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "2_question": "Qual é o seu telefone?",
              "2_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": "gatilho_ao-vivo",
              "utm_source": "manychat",
              "utm_medium": null,
              "utm_content": "Mais de R$100 mil por mês",
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-09-05T20:08:42Z"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": {
    "node:Calendly Trigger": {},
    "node:Evento": {
      "webhookId": 5056007
    }
  },
  "tags": [
    {
      "createdAt": "2024-03-25T19:32:32.637Z",
      "updatedAt": "2024-03-25T19:32:32.637Z",
      "id": "V7V28IgydBvyVzu9",
      "name": "[CALENDLY]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-05T20:36:48.781Z",
  "versionId": "7de420e9-3891-48cd-8ce9-55a2f1d3b6f9"
}