workflows/⌛⌚[HENRY SANTOS][BD][SHEETS] - Calendly - Parte 4 - Cancelamento.json
{
  "active": true,
  "connections": {
    "pesquisa_agendamento": {
      "main": [
        [
          {
            "node": "nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe1": {
      "main": [
        [
          {
            "node": "pesquisa_closer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_closer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer": {
      "main": [
        [
          {
            "node": "nao_existe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador": {
      "main": [
        [
          {
            "node": "id_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe3": {
      "main": [
        [
          {
            "node": "insert_data_colaborador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_agendamento": {
      "main": [
        [
          {
            "node": "insert_utm_2_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake": {
      "main": [
        [
          {
            "node": "lead_ja_existia12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake1": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake1": {
      "main": [
        [
          {
            "node": "lead_ja_existia1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia1": {
      "main": [
        [
          {
            "node": "nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada1": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia4": {
      "main": [
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake7": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_utm_2_agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador1": {
      "main": [
        [
          {
            "node": "insert_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer2": {
      "main": [
        [
          {
            "node": "nao_existe7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador2": {
      "main": [
        [
          {
            "node": "id_colaborador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador2": {
      "main": [
        [
          {
            "node": "id_colaborador3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe7": {
      "main": [
        [
          {
            "node": "insert_data_colaborador2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador2": {
      "main": [
        [
          {
            "node": "update_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador3": {
      "main": [
        [
          {
            "node": "update_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia13": {
      "main": [
        [
          {
            "node": "update_data_data_lake14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake6": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake11": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake14": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake15": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_bd_botconversa": {
      "main": [
        [
          {
            "node": "envia_campo_idleadac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_motivo_do_cancelamento": {
      "main": [
        [
          {
            "node": "envia_campo_id_bd_botconversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "Add_lead_KOMMO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "id_lead_kommo_vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead1": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead": {
      "main": [
        [
          {
            "node": "update_leads_KOMMO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual": {
      "main": [
        [
          {
            "node": "atualiza_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido": {
      "main": [
        [
          {
            "node": "email_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido6": {
      "main": [
        [
          {
            "node": "email_igual8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual8": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual2": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido2": {
      "main": [
        [
          {
            "node": "email_igual2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual": {
      "main": [
        [
          {
            "node": "email_preenchido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido": {
      "main": [
        [
          {
            "node": "telefone_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_idleadac": {
      "main": [
        [
          {
            "node": "envia_campo_id_bd_iddealac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_bd_iddealac": {
      "main": [
        [
          {
            "node": "envia_campo_id_bd_iddealac1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador": {
      "main": [
        [
          {
            "node": "id_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador": {
      "main": [
        [
          {
            "node": "insert_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia12": {
      "main": [
        [
          {
            "node": "insert_data_data_lake10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake10": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead4": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email6": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email2": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone4": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email7": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entra_na_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3s": {
      "main": [
        [
          {
            "node": "fluxo_confirmacao_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_bd_iddealac1": {
      "main": [
        [
          {
            "node": "3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead_kommo_vazio": {
      "main": [
        [
          {
            "node": "Add_contato_KOMMO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_contato_KOMMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_id_kommo": {
      "main": [
        [
          {
            "node": "update_leads_KOMMO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_contato_KOMMO1": {
      "main": [
        [
          {
            "node": "atualiza_id_kommo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_leads_KOMMO1": {
      "main": [
        [
          {
            "node": "telefone_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_leads_KOMMO2": {
      "main": [
        [
          {
            "node": "id_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_lead_KOMMO": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_contato_KOMMO": {
      "main": [
        [
          {
            "node": "update_leads_KOMMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_leads_KOMMO": {
      "main": [
        [
          {
            "node": "telefone_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead3": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-01T18:28:56.167Z",
  "id": "JTtyVpZoTPO7CXXF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌛⌚[HENRY SANTOS][BD][SHEETS] - Calendly - Parte 4 - Cancelamento",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "5d9185a8-7c7d-499c-9292-b92e80234683",
      "name": "pesquisa_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4180,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "262254db-fa03-493e-8c7b-f127b2b43911",
      "name": "pesquisa_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4380,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a28c23ad-4922-4961-b76b-e18fcb572938",
      "name": "nao_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4540,
        740
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_agendamento",
        "valueToMatchOn": "={{ $node[\"pesquisa_agendamento\"].json[\"id_agendamento\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status_evento",
              "value": "=Cancelado"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Cancelamento\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "79c06130-02b4-4922-8b0d-d38ed84ac859",
      "name": "update_data_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5440,
        860
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "fdd57bda-ef0b-4d06-8369-8cb0552bbe86",
      "name": "pesquisa_closer",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4740,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c46279f5-e084-4b5b-9238-6b8bb9029da6",
      "name": "update_data_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5060,
        680
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f35a3ce0-9de9-44a3-9ef1-15d7789f5094",
      "name": "nao_existe3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4900,
        620
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Cancelado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Cancelamento\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "46c48fe7-c9b1-4795-bc89-587d6af50dae",
      "name": "insert_data_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5560,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "87de9098-a297-4a5c-bbcf-b1e14c34e5be",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5940,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "8299c9fb-c132-4e44-a8c9-6217cb9f69f8",
      "name": "nao_encontrou_registro_dia_dia_data_lake",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6180,
        620
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "4d10af14-c74d-4497-90ff-cbb078414194",
      "name": "pesquisa_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5640,
        860
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "85dead6f-e03a-46e7-9dd0-6bfa6d2b075a",
      "name": "nao_encontrou_registro_dia_dia_data_lake1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5840,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "992204c6-99fe-40cd-b5e6-c7b0c60010db",
      "name": "lead_ja_existia1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6160,
        1180
      ]
    },
    {
      "parameters": {},
      "id": "fea6291f-897f-4016-8e8b-464eb3017019",
      "name": "nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6360,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "e8d40121-ff35-4b0b-9b78-0ee576480a19",
      "name": "lead_ja_existia4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6140,
        1460
      ]
    },
    {
      "parameters": {},
      "id": "ecd79c56-c4bf-4899-9781-e78d12d6a72c",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6360,
        1380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "69171e38-434c-4445-a650-24641cd2afd5",
      "name": "update_data_data_lake7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6360,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos_2_utms",
          "mode": "list",
          "cachedResultName": "agendamentos_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2aed8a97-a636-4c08-bf23-ac63799b34ad",
      "name": "insert_utm_2_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5760,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61711ca0-9838-4e3c-809b-26ff1dba3e3a",
      "name": "id_colaborador1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5260,
        680
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "7e369760-d4df-4728-b18d-f058aba9bb2e",
      "name": "pesquisa_closer2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4740,
        940
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f99df86c-1f00-4d7c-bd53-cd5d62708108",
      "name": "insert_data_colaborador2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5080,
        860
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer2\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e6794c73-4d12-4f70-bd20-409284a3d31e",
      "name": "update_data_colaborador2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5080,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "88275cc0-cb68-4459-81ac-0ab51ead799e",
      "name": "nao_existe7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4900,
        940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador2\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "def67338-1159-4098-909c-021a0731b2a0",
      "name": "id_colaborador2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5260,
        860
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer2\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5b8d9c2-fff7-4605-afd9-7017ddbca8e1",
      "name": "id_colaborador3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5260,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0db6ecc0-726f-4f3a-b99e-90008e7a317e",
      "name": "lead_ja_existia13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6440,
        920
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b82e96e0-14dd-480e-aed1-37106ea94e56",
      "name": "insert_data_data_lake6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6360,
        1220
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "082b5e5f-d632-48a8-bb11-5e81f4056481",
      "name": "insert_data_data_lake11",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6640,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_agendamentos\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b3358688-eaad-4071-a2e5-4b0b582e60e5",
      "name": "update_data_data_lake14",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6640,
        820
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_agendamentos\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0ef2e2a5-b425-4548-b079-2b953d9cea3c",
      "name": "update_data_data_lake15",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6640,
        1000
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78c23499-5c93-410b-8852-e5cbdb61df29",
      "name": "envia_campo_id_bd_botconversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7260,
        1540
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"cadastrar_contato\"].json[\"id\"]}}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"fluxo_de_confirmacao_de_cancelamento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "36c11bf8-fcf5-4723-bbf2-987d97eceee0",
      "name": "fluxo_confirmacao_cancelamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8300,
        1540
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_motivo_do_cancelamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Cancelamento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a65260a2-17e1-410e-8cd7-d5a4cd4e8ee7",
      "name": "envia_campo_motivo_do_cancelamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7060,
        1540
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{$node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[1] ? $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1400,
        1040
      ],
      "id": "4518f0fc-b06c-4be8-97ac-7f9f51e331f0",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "5b0bc34d-d926-4363-9b61-92e89ba93723",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1940,
        1040
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "3fd1d500-f8eb-43d0-b71a-20c72eab1270",
      "name": "id_lead1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3760,
        740
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4b2bd113-092c-46ab-922a-3e0b8da156f5",
      "name": "insert_data_utm_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3380,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "6168ee5f-8eca-45ea-a21e-7b2f6da0fed1",
      "name": "email_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3560,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8c46f73e-be7e-43ca-9123-6b7afe79766d",
      "name": "email_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3400,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c4168a92-688a-4c52-ab82-20eeffb5f8ca",
      "name": "email_preenchido6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3380,
        1560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "eb2bc967-d8f9-4e50-b0e2-5ba0d6707b11",
      "name": "email_igual8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3580,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "fd4c03de-099e-4703-9a2c-20eb00feb06b",
      "name": "atualiza_dados_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3760,
        1080
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9b407643-5206-4cb7-bc7f-0ed5e9cdb9bb",
      "name": "atualiza_dados_email6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3560,
        1260
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d762e77a-8e60-4b23-b79a-129e3425247c",
      "name": "atualiza_dados_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3780,
        1400
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6e3d39a3-6825-41cd-980e-a8031565e10c",
      "name": "atualiza_dados_telefone2_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3780,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5d0ed14f-977f-4694-923b-d47faa7a3ee1",
      "name": "atualiza_dados_telefone2_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3580,
        1700
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "9f942227-3b92-4961-8091-c88b7009f4c1",
      "name": "email_igual2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3420,
        1940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ef6e78d8-2786-41c1-a237-291c58bef067",
      "name": "email_preenchido2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3260,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0d7b58a3-2fc3-4bff-bcee-c59bd467db46",
      "name": "atualiza_dados_email7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3420,
        2180
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "be5a384e-9943-4587-86d5-478cf3dc1359",
      "name": "atualiza_dados_telefone4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3620,
        1860
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f0409f81-0dee-41b4-8813-887cf2bdd265",
      "name": "atualiza_dados_email2_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3620,
        2020
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "83a3a8a3-e396-47ce-a61f-6bf596d3868c",
      "name": "telefone_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3220,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "53ef3610-97bc-4164-bf58-8b6c85fbab21",
      "name": "telefone_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3020,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{$node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"id\"] : \n($node[\"update_leads_KOMMO\"].runIndex >= 0 ? $node[\"update_leads_KOMMO\"].json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] : '')}}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{$node[\"update_contato_KOMMO\"].runIndex >= 0 ? $node[\"update_contato_KOMMO\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] : \n($node[\"Add_contato_KOMMO1\"].runIndex >= 0 ? $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] : '')}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f9a56310-a739-44a3-a802-a16753d4933b",
      "name": "atualiza_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3760,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead_activecampaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14659188-3be1-4475-a57c-fb781b76ebee",
      "name": "envia_campo_idleadac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7480,
        1540
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_deal_activecampaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "684542a3-cb64-4c24-aa12-539dbc6368ff",
      "name": "envia_campo_id_bd_iddealac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7680,
        1540
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "6f64e003-6940-4910-9920-43dc141a0a5b",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1400,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7fad11e7-c453-4f40-9225-c26870e84f94",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        1040
      ]
    },
    {
      "parameters": {
        "queue": "=Calendly - Cancelamentos",
        "options": {
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "0471f65a-9668-4f74-9183-5dff182125cd",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        1020,
        1040
      ],
      "credentials": {
        "rabbitmq": {
          "id": "J2XRJ2ukEbkqQASv",
          "name": "[RabbitMQ] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "37b8c022-51b0-43f2-b71c-3efff3b4a9b1",
      "name": "insert_data_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5060,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58973b40-a2fc-4e2e-bc44-108c35fb6e7c",
      "name": "id_colaborador",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5260,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "58d3134a-ef07-4d41-a7e8-01506d5c4248",
      "name": "lead_ja_existia12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6420,
        520
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "fecc6dd3-5c9b-4421-9848-5fe78fa9d794",
      "name": "insert_data_data_lake10",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6640,
        420
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        500,
        160
      ],
      "id": "232f49ff-699d-41e7-bd53-880b558e412b"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 704.6455567098876
      },
      "id": "d18af6d1-370a-4fdb-a1fe-65aac6a024e4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        300,
        160
      ],
      "id": "4382f5b1-19ea-4c90-9a88-5c85f6666fc6"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada",
              "value": "cancelou"
            }
          ]
        },
        "options": {}
      },
      "id": "ad75565d-3043-4ede-ade9-8bae9d50fcbd",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        100,
        160
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b68aa2ce-6ae7-4992-a2d4-0146f253a5ce",
      "name": "id_lead4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4040,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "b8db753d-e82d-4eea-84d6-5edb8080fbe5",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1780,
        1040
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "2b116c1c-4de7-48db-b357-cac5a3aaea35",
      "name": "3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        8100,
        1540
      ],
      "webhookId": "d5b00f59-7be2-4eb4-8b85-9d9cab1483ff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_do_cancelamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"].split('-')[2] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"].split('-')[1] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"].split('-')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "21c00b7e-96a6-45af-be5b-fa7db817c63b",
      "name": "envia_campo_id_bd_iddealac1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7900,
        1540
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{ $node[\"Add_lead_KOMMO\"].json[\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $node[\"Add_lead_KOMMO\"].json[\"contact_id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d48137a3-9aa5-4cc5-997a-7547a7b8efbc",
      "name": "insere_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3160,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead_kommo\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "c07b81a5-eeac-4c2d-a21c-bf10bee050bb",
      "name": "id_lead_kommo_vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2140,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"]  || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "845df135-fabc-44ad-864c-8981147fc22c",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1580,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead_kommo",
              "value": "={{ $node[\"Add_contato_KOMMO1\"].json[\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $node[\"Add_contato_KOMMO1\"].json[\"contact_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab642235-4ce9-42c6-aa73-ff50d3038431",
      "name": "atualiza_id_kommo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2560,
        1100
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n             \"responsible_user_id\":11762503,\n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                        {\n                \"field_id\": 1016078,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016074,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016076,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n                  {\n                      \"field_id\": 1015594,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015596,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015598,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015600,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015602,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015604,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015606,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1014634,\n                      \"field_name\": \"Data da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split (' ')[0] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 1014636,\n                      \"field_name\": \"Hora da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}\"\n                          }\n                      ]\n                  },\n                  {\n                      \"field_id\": 1016190,\n                      \"field_name\": \"Data do Cancelamento\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}\"\n                          }\n                      ]\n                  },\n                                {\n                \"field_id\": 1015570,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015576,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015580,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n                {\n                      \"field_id\": 1014638,\n                      \"field_name\": \"Link da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }},\n    \"status_id\":72345791,\n    \"pipeline_id\":9337315\n }\n]",
        "options": {}
      },
      "id": "812368dd-9614-481a-9254-d20b99d1f651",
      "name": "Add_contato_KOMMO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2360,
        1100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"Add_contato_KOMMO1\"].json[\"id\"] }},\n        \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n        \"status_id\": 72345791,\n        \"pipeline_id\": 9337315,\n         \"responsible_user_id\":{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }},\n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1016092,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016094,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016096,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016098,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016186,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016100,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016102,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016104,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016106,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016108,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016110,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016112,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016114,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016116,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016120,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016122,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                    }\n                ]\n            },\n              {\n                \"field_id\": 1016126,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e94b9fa5-e0ec-4a7e-ae1e-b78df77d560b",
      "name": "update_leads_KOMMO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2760,
        1100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"Add_lead_KOMMO\"].json[\"id\"] }},\n        \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n        \"status_id\": 72345791,\n        \"pipeline_id\": 9337315,\n         \"responsible_user_id\":{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }},\n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1016092,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016094,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016096,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016098,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016186,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016100,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016102,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016104,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016106,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016108,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016110,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016112,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016114,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016116,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016120,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016122,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                    }\n                ]\n            },\n              {\n                \"field_id\": 1016126,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ba16e2ed-aa82-4a70-9c15-11b5dc71f8f5",
      "name": "update_leads_KOMMO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3560,
        740
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n             \"responsible_user_id\":11762503,\n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                        {\n                \"field_id\": 1016078,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016074,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016076,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n                  {\n                      \"field_id\": 1015594,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015596,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015598,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015600,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015602,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015604,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015606,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1014634,\n                      \"field_name\": \"Data da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split (' ')[0] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 1014636,\n                      \"field_name\": \"Hora da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}\"\n                          }\n                      ]\n                  },\n                  {\n                      \"field_id\": 1016190,\n                      \"field_name\": \"Data do Cancelamento\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}\"\n                          }\n                      ]\n                  },\n                                {\n                \"field_id\": 1015570,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015576,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015580,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n                {\n                      \"field_id\": 1014638,\n                      \"field_name\": \"Link da Reunião\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }},\n    \"status_id\":72345791,\n    \"pipeline_id\":9337315\n }\n]",
        "options": {}
      },
      "id": "710aba4c-51a2-4f06-a67d-7b06d996a600",
      "name": "Add_lead_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2940,
        740
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"pesquisa_lead\"].json[\"id_lead_kommo\"] }},\n        \"name\": \"{{ $node[\"pesquisa_lead\"].json[\"nome\"] }}\",\n        \"status_id\": 72345791,\n        \"pipeline_id\": 9337315,\n         \"responsible_user_id\":{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }},\n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1016092,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016094,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016096,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016098,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016186,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016100,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016102,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016104,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016106,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016108,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016110,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016112,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016114,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016116,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016120,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016122,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                    }\n                ]\n            },\n              {\n                \"field_id\": 1016126,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2383a346-b935-4f0b-81ad-7422a5bdb065",
      "name": "update_leads_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2660,
        1360
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"id\": {{ $node[\"pesquisa_lead\"].json[\"id_contato_kommo\"] }},\n        \"status_id\": 72345791,    \n        \"custom_fields_values\": [\n            {\n                \"field_id\": 1014636,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1014634,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016078,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016190,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016074,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1016076,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                      \"field_id\": 1015594,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015596,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015598,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015600,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015602,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015604,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015606,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n            {\n                \"field_id\": 1014638,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015570,\n                \"values\": [\n                    {\n                        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015576,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            },\n            {\n                \"field_id\": 1015580,\n                \"values\": [\n                    {\n                        \"value\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n                    }\n                ]\n            }\n        ]\n    }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a4d9821a-22b1-4d62-9111-9b71585f1d02",
      "name": "update_contato_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2460,
        1360
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    }
  ],
  "pinData": {
    "entra_na_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-pKjoZawBM4TLKCyiULxwPA",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Calendly - Cancelamentos"
          },
          "properties": {},
          "content": {
            "Nome do Cliente": "Vitor Queiroz de Almeida",
            "E-mail do Cliente": "vitorrqueiroztrafego@gmail.com",
            "Telefone do Cliente - Formato BC": "+5519984574874",
            "Telefone do Cliente - Formato Z-API": "5519984574874",
            "ID do Evento": "a7c48cd0-bddb-4327-9f57-b63104fa2ddf",
            "Data do Cancelamento": "15/03/2024",
            "ID do Cliente": "daa37baa-8d3e-45fb-b731-290913a7a784",
            "API-KEY": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe",
            "id_do_campo_id_do_agendamento_bot_conversa": "1111672",
            "id_do_campo_inviteeid_bot_conversa": "1111674",
            "id_do_campo_horario_agendado_bot_conversa": "1115968",
            "id_do_campo_data_do_agendamento_bot_conversa": "1115965",
            "id_do_campo_dia_da_semana_do_agendamento_bot_conversa": "1115966",
            "fluxo_de_confirmacao_de_cancelamento": "2360857",
            "id_do_campo_motivo_do_cancelamento_bot_conversa": "1125865",
            "Motivo do Cancelamento": "teste",
            "Data de Início": "18/03/2024",
            "Hora de Início": "16:00:00",
            "Link da Reunião": "https://calendly.com/events/a7c48cd0-bddb-4327-9f57-b63104fa2ddf/google_meet",
            "Tipo de Evento": "Sessao Estrategica:",
            "Dia da Semana do Evento": "Segunda",
            "utm_source": "source1",
            "utm_campaign": "campaign4",
            "utm_term": "term5",
            "utm_medium": "medium2",
            "utm_content": "content3",
            "data_agendamento": "2024-03-15 16:40:19",
            "id_campo_id_banco_de_dados_bot_conversa": "1351140",
            "data_termino_ac": "2024-03-18",
            "data_e_hora_de_termino": "18/03/2024 17:30",
            "data_e_hora_de_inicio": "18/03/2024 16:00",
            "funil": "sessao_estrategica",
            "variacao_do_funil": "v1",
            "E-mail do Responsável": "henry.dossantos@gmail.com",
            "Nome do Responsável": "Henry Santos",
            "url_api_activecampaign": "gestaodesaloes67530",
            "id_pipeline_se_crm": "3",
            "id_stage_nao_compareceu_reuniao_crm": "23",
            "valor_produto_principal_em_centavos": "700000",
            "id_campo_id_banco_de_dados_crm": "257",
            "id_sdr": "11743307",
            "id_campo_link_de_cancelamento_crm": "23",
            "id_campo_link_de_reagendamento_crm": "24",
            "id_campo_id_do_cliente_crm": "25",
            "id_campo_dia_semana_agendamento_crm": "26",
            "id_campo_data_de_inicio_crm": "28",
            "id_campo_data_e_hora_de_inicio_crm": "29",
            "id_campo_data_e_hora_de_termino_crm": "30",
            "id_campo_data_de_termino_crm": "31",
            "id_campo_email_do_responsavel_crm": "32",
            "id_campo_data_do_cancelamento_crm": "33",
            "id_campo_link_da_reuniao_crm": "34",
            "id_campo_tipo_de_evento_crm": "36",
            "id_campo_id_do_evento_crm": "37",
            "id_task_reuniao_crm": "4",
            "id_campo_id_banco_deal_crm": "42",
            "id_campo_id_bot_conversa_deal_crm": "53",
            "id_do_campo_idleadac_bot_conversa": "1354600",
            "id_do_campo_iddealac_bot_conversa": "1354465",
            "id_campo_data_do_cancelamento_bot_conversa": "1115995"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YqwIRpfotJoCTvFh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-01T18:38:01.369Z",
  "versionId": "d6135eac-7da0-4989-8382-c21d9317fb4f"
}