workflows/🏆⌚[HENRY SANTOS][BD]- Aplicação Evento Presencial - Parte 2.json
{
  "active": true,
  "connections": {
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_vazio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_vazio2": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "lead_nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_nao_existe5": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead4": {
      "main": [
        [
          {
            "node": "dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados4": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados15": {
      "main": [
        [
          {
            "node": "entra_na_fila8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados1": {
      "main": [
        [
          {
            "node": "entra_na_fila9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio1": {
      "main": [
        [
          {
            "node": "divide_closers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "divide_closers": {
      "main": [
        [
          {
            "node": "Add_lead_KOMMO_Jean",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add_lead_KOMMO_Veronica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_lead_KOMMO_Jean": {
      "main": [
        [
          {
            "node": "insere_dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_lead_KOMMO_Veronica": {
      "main": [
        [
          {
            "node": "insere_dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "divide_closers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "divide_closers1": {
      "main": [
        [
          {
            "node": "Add_lead_KOMMO_Jean1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add_lead_KOMMO_Veronica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_lead_KOMMO_Veronica1": {
      "main": [
        [
          {
            "node": "dados15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_lead_KOMMO_Jean1": {
      "main": [
        [
          {
            "node": "dados15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-01T18:10:23.287Z",
  "id": "yWVzJl3YjX4pnxbh",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🏆⌚[HENRY SANTOS][BD]- Aplicação Evento Presencial - Parte 2",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{$node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[1] ? $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1300,
        380
      ],
      "id": "503bfafb-39e1-499a-9746-5faf9f30516d",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "f30b8bf9-eda1-4493-828c-3f17e625e58a",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1500,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2d1c43f6-4fd6-4050-afae-c6a615fcf5b3",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1700,
        320
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "910ed37b-2603-4dea-90d6-85fae00b4fac",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -900,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0b77484d-0405-4c5c-9d17-76bd0d5f8776",
      "name": "telefone_vazio2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1500,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "20a99d80-8705-43d6-b9bd-3e5054d726bb",
      "name": "lead_nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -720,
        320
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "3a8d232f-f69c-4e0f-b24e-3968fe588300",
      "name": "entra_na_fila8",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        380,
        420
      ],
      "credentials": {
        "rabbitmq": {
          "id": "J2XRJ2ukEbkqQASv",
          "name": "[RabbitMQ] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados4\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "57e5fc9a-8013-4027-9f3f-2288f59a3565",
      "name": "insert_data_utm_lead4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        440,
        140
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4 - Qualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "bb8a9385-a7f3-4faa-b73d-bc7687d9548a",
      "name": "entra_na_fila9",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        860,
        140
      ],
      "credentials": {
        "rabbitmq": {
          "id": "J2XRJ2ukEbkqQASv",
          "name": "[RabbitMQ] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta0_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta1_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta2_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta3_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta4_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta5_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta6_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta7_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta8_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta9_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta10_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta11_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta12_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta13_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta14_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta15_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta16_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta17_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta18_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta19_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta20_bot_conversa\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_iddealac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Desqualificado"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_desqualificados\"] }}"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_da_aplicacao_bot_conversa\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados4\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "name": "id_campo_id_banco_deal_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_deal_crm\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_crm\"] }}"
            },
            {
              "name": "id_campo_id_bot_conversa_deal_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_deal_crm\"] }}"
            },
            {
              "name": "id_campo_id_bot_conversa_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_crm\"] }}"
            },
            {
              "name": "url_api_activecampaign_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"url_api_activecampaign_crm\"] }}"
            },
            {
              "name": "id_fluxo2_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo2_nao_agendou_10_min_desqualificados\"] }}"
            },
            {
              "name": "id_campo_dia_aplicou_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_dia_aplicou_se\"] }}"
            },
            {
              "name": "dia_da_semana_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"dia_da_semana_se\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63489e7e-e7ae-4f73-b94a-f6af10abe652",
      "name": "dados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        140
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta0_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta1_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta2_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta3_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta4_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta5_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta6_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta7_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta8_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta9_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta10_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta11_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta12_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta13_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta14_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta15_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta16_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta17_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta18_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta19_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta20_bot_conversa\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_iddealac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Desqualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"instagram\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"telefone\"] }}"
            },
            {
              "name": "email_bd",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_da_aplicacao_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_desqualificados\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_crm\"] }}"
            },
            {
              "name": "id_campo_id_bot_conversa_deal_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_deal_crm\"] }}"
            },
            {
              "name": "id_campo_id_bot_conversa_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_crm\"] }}"
            },
            {
              "name": "url_api_activecampaign_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"url_api_activecampaign_crm\"] }}"
            },
            {
              "name": "id_campo_id_banco_deal_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_deal_crm\"] }}"
            },
            {
              "name": "id_fluxo2_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo2_nao_agendou_10_min_desqualificados\"] }}"
            },
            {
              "name": "id_campo_dia_aplicou_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_dia_aplicou_se\"] }}"
            },
            {
              "name": "dia_da_semana_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"dia_da_semana_se\"] }}"
            },
            {
              "name": "id_lead_kommo",
              "value": "={{ $json[\"_embedded\"][\"leads\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "id_contato_kommo",
              "value": "={{ $json[\"_embedded\"][\"contacts\"][\"0\"][\"id\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "ec46ba8a-8c6f-440b-a045-dc709f7d33f0",
      "name": "dados15",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        180,
        420
      ]
    },
    {
      "parameters": {
        "queue": "Evento - Aplicacao - Parte 2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "93ac694d-20ef-4ab7-aac0-359a13a4a0be",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1860,
        320
      ],
      "credentials": {
        "rabbitmq": {
          "id": "J2XRJ2ukEbkqQASv",
          "name": "[RabbitMQ] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "="
            },
            {
              "column": "id_deal_activecampaign",
              "value": "="
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            },
            {
              "column": "id_lead_kommo",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "column": "id_contato_kommo",
              "value": "={{ $json[\"contact_id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "17eda352-5e1a-4969-a189-b14229efabfa",
      "name": "insere_dados4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        240,
        140
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"]  || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "194e2a9e-2ca7-4314-a141-9ae7800304ef",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -1100,
        320
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Variável para armazenar o último valor gerado\nlet lastResult = $json.lastResult || null;\n\nfunction generateUniqueRandom() {\n    let newResult;\n\n    // Garantir que o novo valor seja diferente do último\n    do {\n        newResult = Math.round(Math.random()) + 1;\n    } while (newResult === lastResult);\n\n    return newResult;\n}\n\n// Gerar o novo valor aleatório\nconst result = generateUniqueRandom();\n\n// Armazenar o último valor gerado para evitar repetição na próxima execução\nreturn [{ json: { result, lastResult: result } }];\n"
      },
      "id": "06e317ed-2733-4b8f-a1cb-710001ed80a9",
      "name": "Retorna Output Aleatorio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -500,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($node[\"Retorna Output Aleatorio1\"].json[\"result\"]) }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "e1552775-1cc8-4b80-adb2-1d647481818d",
      "name": "divide_closers",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n\"responsible_user_id\":11743307,           \n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1017816,\n                      \"field_name\": \"Em qual etapa de começar a montar o seu salão você está\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788734,\n                      \"field_name\": \"quantos profissionais você tem?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788786,\n                      \"field_name\": \"Qual seu faturamento MENSAL MÉDIO em 2024 (considerando até este mês)?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"\n                          }\n                      ]\n                  },  \n                 {\n                      \"field_id\": 1023229,\n                      \"field_name\": \"o quão comprometido você está em participar?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta21\"] }}\"\n                          }\n                      ]\n                  }, \n                {\n                      \"field_id\": 1023231,\n                      \"field_name\": \"Responsável\",\n                      \"values\": [\n                          {\n                              \"value\": \"Jean\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015234,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015236,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015238,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015240,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015242,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015244,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015246,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788726,\n                      \"field_name\": \"Instagram\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11918983,\n    \"status_id\":74348443,\n    \"pipeline_id\":9650131\n }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c65f1acc-59f0-401c-b473-bff74d557747",
      "name": "Add_lead_KOMMO_Jean",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -60,
        -60
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n\"responsible_user_id\":11743307,           \n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1017816,\n                      \"field_name\": \"Em qual etapa de começar a montar o seu salão você está\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788734,\n                      \"field_name\": \"quantos profissionais você tem?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788786,\n                      \"field_name\": \"Qual seu faturamento MENSAL MÉDIO em 2024 (considerando até este mês)?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"\n                          }\n                      ]\n                  },  \n                 {\n                      \"field_id\": 1023229,\n                      \"field_name\": \"o quão comprometido você está em participar?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta21\"] }}\"\n                          }\n                      ]\n                  }, \n                {\n                      \"field_id\": 1023231,\n                      \"field_name\": \"Responsável\",\n                      \"values\": [\n                          {\n                              \"value\": \"Veronica\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015234,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015236,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015238,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015240,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015242,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015244,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015246,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788726,\n                      \"field_name\": \"Instagram\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11743307,\n    \"status_id\":74348443,\n    \"pipeline_id\":9650131\n }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "8754a875-97ec-44c4-b713-3e9eecaef6af",
      "name": "Add_lead_KOMMO_Veronica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -60,
        120
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Variável para armazenar o último valor gerado\nlet lastResult = $json.lastResult || null;\n\nfunction generateUniqueRandom() {\n    let newResult;\n\n    // Garantir que o novo valor seja diferente do último\n    do {\n        newResult = Math.round(Math.random()) + 1;\n    } while (newResult === lastResult);\n\n    return newResult;\n}\n\n// Gerar o novo valor aleatório\nconst result = generateUniqueRandom();\n\n// Armazenar o último valor gerado para evitar repetição na próxima execução\nreturn [{ json: { result, lastResult: result } }];\n"
      },
      "id": "f3907edb-3bfd-415e-bdea-9564c74e9598",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -500,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($node[\"Retorna Output Aleatorio\"].json[\"result\"]) }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "08c72314-abc2-44f0-a303-6764f86574e9",
      "name": "divide_closers1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n\"responsible_user_id\":11743307,           \n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1017816,\n                      \"field_name\": \"Em qual etapa de começar a montar o seu salão você está\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788734,\n                      \"field_name\": \"quantos profissionais você tem?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788786,\n                      \"field_name\": \"Qual seu faturamento MENSAL MÉDIO em 2024 (considerando até este mês)?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"\n                          }\n                      ]\n                  },  \n                 {\n                      \"field_id\": 1023229,\n                      \"field_name\": \"o quão comprometido você está em participar?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta21\"] }}\"\n                          }\n                      ]\n                  }, \n                {\n                      \"field_id\": 1023231,\n                      \"field_name\": \"Responsável\",\n                      \"values\": [\n                          {\n                              \"value\": \"Jean\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015234,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015236,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015238,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015240,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015242,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015244,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015246,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788726,\n                      \"field_name\": \"Instagram\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11918983,\n    \"status_id\":74348443,\n    \"pipeline_id\":9650131\n }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9642495a-ab39-4935-b674-495f6de7d69f",
      "name": "Add_lead_KOMMO_Jean1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -60,
        340
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split (' ')[0] }}\",\n\"responsible_user_id\":11743307,           \n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1017816,\n                      \"field_name\": \"Em qual etapa de começar a montar o seu salão você está\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788734,\n                      \"field_name\": \"quantos profissionais você tem?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788786,\n                      \"field_name\": \"Qual seu faturamento MENSAL MÉDIO em 2024 (considerando até este mês)?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"\n                          }\n                      ]\n                  },  \n                 {\n                      \"field_id\": 1023229,\n                      \"field_name\": \"o quão comprometido você está em participar?\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta21\"] }}\"\n                          }\n                      ]\n                  }, \n                {\n                      \"field_id\": 1023231,\n                      \"field_name\": \"Responsável\",\n                      \"values\": [\n                          {\n                              \"value\": \"Veronica\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015234,\n                      \"field_name\": \"utm_source\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015236,\n                      \"field_name\": \"utm_campaign\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015238,\n                      \"field_name\": \"utm_content\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015240,\n                      \"field_name\": \"utm_medium\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015242,\n                      \"field_name\": \"utm_term\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015244,\n                      \"field_name\": \"utm_fun\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1015246,\n                      \"field_name\": \"utm_var\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n                          }\n                      ]\n                  },\n                {\n                      \"field_id\": 788726,\n                      \"field_name\": \"Instagram\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11743307,\n    \"status_id\":74348443,\n    \"pipeline_id\":9650131\n }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0bc58ef0-8c85-42e0-bf32-96888fa4abc1",
      "name": "Add_lead_KOMMO_Veronica1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -60,
        540
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/10773739",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f3a264a2-d32e-402e-beec-d2889db61a38",
      "name": "Busca_lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -900,
        0
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-zjmuBvpNHWkt4Wcw9tRTng",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Evento - Aplicacao - Parte 2"
          },
          "properties": {},
          "content": {
            "id_fluxo2_nao_agendou_10_min_desqualificados": 2830145,
            "Nome do Cliente": "Mateus",
            "E-mail do Cliente": "xxxxx",
            "Telefone do Cliente - Formato BC": "+5562981196678",
            "Telefone do Cliente - Formato Z-API": "5562981196678",
            "Instagram": "prmateusdiniz",
            "pergunta1": "ENTRE 3 E 5",
            "pergunta2": "Entre R$15.001 e R$30.000 mensal",
            "utm_content": "xxxxx",
            "utm_source": "xxxxx",
            "utm_campaign": "xxxxx",
            "utm_medium": "xxxxx",
            "utm_term": "xxxxx",
            "data_resposta_type": "01/10/2024 14:57",
            "data_ultima_quinzena": "2024-09-16",
            "id_fluxo_nao_agendou_10_min": "2416169",
            "id_fluxo_nao_agendou_10_min_desqualificados": "2829998",
            "API-KEY": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe",
            "id_campo_id_banco_de_dados_bot_conversa": "1351140",
            "id_campo_utm_source_bot_conversa": "1123113",
            "id_campo_utm_campaign_bot_conversa": "1123114",
            "id_campo_utm_term_bot_conversa": "1123115",
            "id_campo_utm_medium_bot_conversa": "1123116",
            "id_campo_utm_content_bot_conversa": "1123117",
            "id_campo_utm_fun_bot_conversa": "1353849",
            "id_campo_utm_var_bot_conversa": "1353848",
            "id_campo_instagram_bot_conversa": "1123096",
            "id_campo_emailse_bot_conversa": "1115994",
            "id_campo_data_resposta_type_bot_conversa": "",
            "id_tag_desqualificado_bot_conversa": "4935232",
            "id_tag_qualificado_bot_conversa": "4891828",
            "id_campo_iddealac_bot_conversa": "1354465",
            "id_campo_idleadac_bot_conversa": "1354600",
            "id_campo_pergunta0_bot_conversa": "1123099",
            "id_campo_pergunta1_bot_conversa": "1123101",
            "id_campo_pergunta2_bot_conversa": "1123100",
            "id_campo_pergunta3_bot_conversa": "1860276",
            "id_campo_pergunta4_bot_conversa": "1123102",
            "id_campo_pergunta5_bot_conversa": "1860278",
            "id_campo_pergunta6_bot_conversa": "1359514",
            "id_campo_pergunta7_bot_conversa": "1860280",
            "id_campo_pergunta8_bot_conversa": "1860281",
            "id_campo_pergunta9_bot_conversa": "2056601",
            "id_campo_pergunta10_bot_conversa": "2193610",
            "id_campo_pergunta11_bot_conversa": "",
            "id_campo_pergunta12_bot_conversa": "",
            "id_campo_pergunta13_bot_conversa": "",
            "id_campo_pergunta14_bot_conversa": "",
            "id_campo_pergunta15_bot_conversa": "",
            "id_campo_pergunta16_bot_conversa": "",
            "id_campo_pergunta17_bot_conversa": "",
            "id_campo_pergunta18_bot_conversa": "",
            "id_campo_pergunta19_bot_conversa": "",
            "id_campo_pergunta20_bot_conversa": "",
            "qualificacao": "Desqualificado",
            "id_ending_typeform": "7d7a1cb5-a06b-4456-a528-3f52291149bf",
            "id_pipeline_downsell_produto_1_crm": "10",
            "valor_produto_downsell_em_centavos_produto_1_crm": "49700",
            "id_pipeline_downsell_produto_2_crm": "9",
            "valor_produto_downsell_em_centavos_produto_2_crm": "99700",
            "id_pipeline_crm": "3",
            "valor_produto_principal_em_centavos_crm": "700000",
            "url_api_activecampaign_crm": "gestaodesaloes67530",
            "id_sdr_crm": "6",
            "funil": "sessao estrategica",
            "variacao_do_funil": "v1",
            "id_stage_preencheu_aplicacao_crm": "18",
            "id_stage_desqualificado_produto_1_crm": "56",
            "id_stage_desqualificadoproduto_2_crm": "53",
            "id_campo_id_banco_de_dados_crm": "257",
            "id_campo_id_bot_conversa_crm": "163",
            "Api-Token": "d0aa5c89796c6403850c539dbd5bcb58ffc0f8c7ff28b9fc6be0c3b54a540a15403f99b1",
            "id_campo_instagram_crm": "314",
            "id_campo_pergunta0_crm": "86",
            "id_campo_pergunta1_crm": "87",
            "id_campo_pergunta2_crm": "88",
            "id_campo_pergunta3_crm": "311",
            "id_campo_pergunta4_crm": "313",
            "id_campo_pergunta5_crm": "90",
            "id_campo_pergunta6_crm": "92",
            "id_campo_pergunta7_crm": "98",
            "id_campo_pergunta8_crm": "99",
            "id_campo_pergunta9_crm": "315",
            "id_campo_pergunta10_crm": "318",
            "id_campo_pergunta11_crm": "95",
            "id_campo_pergunta12_crm": "",
            "id_campo_pergunta13_crm": "",
            "id_campo_pergunta14_crm": "",
            "id_campo_pergunta15_crm": "",
            "id_campo_pergunta16_crm": "",
            "id_campo_pergunta17_crm": "",
            "id_campo_pergunta18_crm": "",
            "id_campo_pergunta19_crm": "",
            "id_campo_pergunta20_crm": "",
            "id_campo_utm_source_crm": "140",
            "id_campo_utm_campaign_crm": "141",
            "id_campo_utm_content_crm": "143",
            "id_campo_utm_medium_crm": "142",
            "id_campo_utm_term_crm": "144",
            "id_campo_utm_fun_crm": "263",
            "id_campo_utm_var_crm": "264",
            "id_tag_desqualificado_crm": "159",
            "id_tag_qualificado_crm": "158",
            "id_tag_aplicou_crm": "99",
            "id_campo_ddd_crm": "185",
            "id_campo_id_banco_deal_crm": "42",
            "id_campo_id_bot_conversa_deal_crm": "53",
            "id_campo_instagram_deal_crm": "21",
            "id_campo_pergunta0_deal_crm": "20",
            "id_campo_pergunta1_deal_crm": "78",
            "id_campo_pergunta2_deal_crm": "18",
            "id_campo_pergunta3_deal_crm": "79",
            "id_campo_pergunta4_deal_crm": "17",
            "id_campo_pergunta5_deal_crm": "16",
            "id_campo_pergunta6_deal_crm": "13",
            "id_campo_pergunta7_deal_crm": "80",
            "id_campo_pergunta8_deal_crm": "50",
            "id_campo_utm_source_deal_crm": "6",
            "id_campo_utm_campaign_deal_crm": "5",
            "id_campo_utm_content_deal_crm": "3",
            "id_campo_utm_medium_deal_crm": "4",
            "id_campo_utm_term_deal_crm": "2",
            "id_campo_utm_var_deal_crm": "43",
            "id_campo_utm_fun_deal_crm": "44",
            "id_campo_pergunta9_deal_crm": "81",
            "id_pipeline_desqualificado_crm": "14",
            "id_stage_desqualificado_crm": "102",
            "dia_da_semana_se": "Terça-feira",
            "id_campo_dia_aplicou_se": "2113710",
            "id_campo_pergunta10_deal_crm": "82",
            "pergunta21": "Quero muitooo, mas quero saber mais detalhes com alguém da equipe!"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YqwIRpfotJoCTvFh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-01T18:11:42.414Z",
  "versionId": "9ffa3a23-5c2f-4158-8556-0f1c3422abcf"
}