workflows/🏆⌚[HENRY SANTOS][BD][SHEETS] - Aplicação Preenchida - Parte 4 - Desqualificado.json
{
  "active": true,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Deals da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Deals da Conta3": {
      "main": [
        [
          {
            "node": "Listar Pipelines e Status da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Pipelines e Status da Conta3": {
      "main": [
        [
          {
            "node": "Consulta Users da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tags da Conta": {
      "main": [
        [
          {
            "node": "Listar Tipos de Task da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users da Conta": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead5": {
      "main": [
        [
          {
            "node": "insert_data_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_aplicacao": {
      "main": [
        [
          {
            "node": "insert_data_utm_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_aplicacao": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_hj_data_lake1": {
      "main": [
        [
          {
            "node": "lead_ja_existia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia": {
      "main": [
        [
          {
            "node": "insert_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia4": {
      "main": [
        [
          {
            "node": "update_data_data_lake2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_hj_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado3": {
      "main": [
        [
          {
            "node": "add_id_banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado1": {
      "main": [
        [
          {
            "node": "add_id_banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_id_banco1": {
      "main": [
        [
          {
            "node": "atualiza_campos_deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campos_deal2": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake2": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake2": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_telefone_na_planilha": {
      "main": [
        [
          {
            "node": "existe_telefone_na_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_telefone_na_planilha": {
      "main": [
        [
          {
            "node": "espera_10s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera_10s4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_email_na_planilha1": {
      "main": [
        [
          {
            "node": "espera_10s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera_10s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_email_na_planilha1": {
      "main": [
        [
          {
            "node": "existe_email_na_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_10s": {
      "main": [
        [
          {
            "node": "busca_email_na_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_10s1": {
      "main": [
        [
          {
            "node": "preenche_planilha_leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_10s3": {
      "main": [
        [
          {
            "node": "preenche_planilha_leads_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_10s4": {
      "main": [
        [
          {
            "node": "preenche_planilha_leads_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_10s2": {
      "main": [
        [
          {
            "node": "busca_telefone_na_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake1": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-25T19:19:00.705Z",
  "id": "5s919EdqqHd2TQE9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🏆⌚[HENRY SANTOS][BD][SHEETS] - Aplicação Preenchida - Parte 4 - Desqualificado",
  "nodes": [
    {
      "parameters": {
        "content": "## Para consulta\n\nUtilize estes Nodes para Consultar o ID dos Campos do Deal e o ID das Pipelines e Stages no ActiveCampaign",
        "height": 494.4652796495957,
        "width": 1510.0404531979405
      },
      "id": "265881be-6a09-493e-b234-958852ddee31",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealCustomFieldMeta?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Deals da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1180,
        640
      ],
      "id": "242f2a26-b5e8-4b74-b87a-e9c7de8a65ef"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealGroups",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Pipelines e Status da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1400,
        640
      ],
      "id": "2149e9a4-3cd1-456d-a46a-951c2f7a71a4"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "d0aa5c89796c6403850c539dbd5bcb58ffc0f8c7ff28b9fc6be0c3b54a540a15403f99b1"
            },
            {
              "name": "url_api_activecampaign",
              "value": "gestaodesaloes67530"
            }
          ]
        },
        "options": {}
      },
      "id": "9cbc8a17-1c5d-4741-b887-9393de6fbc8c",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        980,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "aa9e9cb4-f978-4a34-8c48-4112f3e78073",
      "name": "Consulta Users da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Para consulta\n\nP0 = tem_recepcionista\nP1 = tamanho_da_equipe\nP2 = faturamento\nP3 = etapa_montar_salao\nP4 = objetivo_este_ano\nP5 = impede_objetivo\nP6 = porque_voce\nP7 = acompanhamento_unico\nP8 = nao_e_momento_ideal\nP9 = momento_atual\nP10 =\n\nProduto 1 = Precificações Lucrativa\nProduto 2 = 5 dimensões da Gestão",
        "height": 494.4652796495957,
        "width": 406.19790552805046
      },
      "id": "7e3031f2-8910-4b06-adaf-7dcf183001e3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1820,
        640
      ],
      "id": "330f20c5-a297-4940-b5e7-b9cbdd9a384c"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set1\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set1\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2020,
        640
      ],
      "id": "526fa917-ab3e-44a6-8d36-d088cdc5b627"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set1\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealTasktypes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set1\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "74c03dfd-e502-4153-b247-47f65fd41b14",
      "name": "Listar Tipos de Task da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        640
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 5 - Desqualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "171ddbf4-78f7-4d99-ae59-0a0607535d1b",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2640,
        1860
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "2e76e35c-016f-44b1-822d-498272ffe300",
      "name": "pesquisa_lead5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        80,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes",
          "mode": "list",
          "cachedResultName": "aplicacoes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}"
            },
            {
              "column": "tem_recepcionista_p0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "column": "tamanho_da_equipe_p1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "column": "faturamento_p2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "column": "etapa_montar_salao_p3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "column": "data_aplicacao",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "objetivo_este_ano_p4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "column": "impede_objetivo_p5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "column": "porque_voce_p6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "column": "acompanhamento_unico_p7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "column": "nao_e_momento_ideal_p8",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "column": "formato_sessao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f1abdf2d-5641-451d-9ccd-99a37cfa0fb4",
      "name": "insert_data_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        280,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes_2_utms",
          "mode": "list",
          "cachedResultName": "aplicacoes_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_aplicacao",
              "value": "={{ $node[\"insert_data_aplicacao\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "443f470b-ea53-4cf7-8683-fa4405b8e86c",
      "name": "insert_data_utm_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        500,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "6db2726a-5507-4f37-a03a-948b28b4e034",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        80,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a476b0e1-fa21-4e2b-8719-9288172055c5",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -120,
        1880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_data_data_lake\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f78b0035-742e-495c-bda7-806f74b07f59",
      "name": "nao_encontrou_registro_hj_data_lake1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        1880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "6604217a-db33-41df-95d6-3a3cea6b571a",
      "name": "lead_ja_existia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1240,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "9d9e9555-839a-4993-bc6f-dbbdb5188b7c",
      "name": "lead_ja_existia4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1240,
        2040
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "0fdd011c-c292-4f7c-82cd-8f439fc2e338",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        700,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "87b40217-de10-4a93-ad59-a5e585f65340",
      "name": "update_qualificacao_qualificado1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1800,
        1660
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "7239fe1d-101e-4893-b39a-7ac171c1f1be",
      "name": "update_qualificacao_qualificado3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1800,
        2000
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta0_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta1_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta2_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta3_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta4_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta5_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta6_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta7_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta8_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta9_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta10_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta11_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta12_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta13_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta14_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta15_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta16_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta17_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta18_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta19_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta20_bot_conversa\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_iddealac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]}}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"]}}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"]}}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_desqualificados\"] }}"
            },
            {
              "name": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "name": "id_deal_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_deal_activecampaign\"] }}"
            },
            {
              "name": "id_fluxo2_nao_agendou_10_min_desqualificados",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo2_nao_agendou_10_min_desqualificados\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d7f33c1-fb55-471f-9a87-97ec6c326071",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2380,
        1860
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4 - Desqualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "6bfba338-865f-40ff-8408-fb8f23190b91",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        1880
      ],
      "credentials": {
        "rabbitmq": {
          "id": "9ZBMW8Zoa6820Xsp",
          "name": "[RabbitMQ][2.0] - Henry Santos "
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_crm\"] }}",
                "value": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}"
              },
              {
                "field": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_crm\"] }}",
                "value": "={{ $node[\"pesquisa_lead5\"].json[\"id_botconversa\"] }}"
              }
            ]
          }
        }
      },
      "id": "5ddbc480-5c24-41be-b5c0-d59ffe118284",
      "name": "add_id_banco1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2020,
        1860
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "9rNps4gzqiBpNK6e",
          "name": "[ActiveCampaign][2.0] - Henry Santos"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $node[\"chega_da_fila\"].json[\"content\"][\"url_api_activecampaign_crm\"] }}.api-us1.com/api/3/deals/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_deal_activecampaign\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"deal\": {\n\"fields\": [\n{\n\"customFieldId\": {{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_deal_crm\"] }},\n\"fieldValue\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_deal_crm\"] }},\n\"fieldValue\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"] }}\"\n}\n]\n}\n}",
        "options": {}
      },
      "id": "c8966313-c5ec-4936-a309-0f22f76128f0",
      "name": "atualiza_campos_deal2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2180,
        1860
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "9rNps4gzqiBpNK6e",
          "name": "[ActiveCampaign][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "eb3ba864-877c-4aec-9020-fd04fb89cede",
      "name": "update_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1480,
        2180
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e3c1f6df-32e0-4915-b61b-415cf2449b01",
      "name": "insert_data_data_lake2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1480,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3d66e749-5e23-4fa2-a7b6-c9c168cade8d",
      "name": "update_data_data_lake2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1480,
        1960
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 570760941,
          "mode": "list",
          "cachedResultName": "Aplicações",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=570760941"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE",
              "lookupValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "188fa1b4-a8b9-4412-ace9-2e513acd9ebe",
      "name": "busca_telefone_na_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1860,
        1380
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"busca_telefone_na_planilha\"].json[\"row_number\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d895c104-8da7-4276-ba8b-826a21f27c61",
      "name": "existe_telefone_na_planilha",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2040,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"busca_email_na_planilha1\"].json[\"row_number\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e9017cd8-205a-4932-bf90-9ee1682ebfbc",
      "name": "existe_email_na_planilha1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        1380
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 570760941,
          "mode": "list",
          "cachedResultName": "Aplicações",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=570760941"
        },
        "columnToMatchOn": "EMAIL",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA",
              "fieldValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "column": "INSTAGRAM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "column": "TEM RECEPCIONISTA P0",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "column": "TAMANHO DA EQUIPE P1",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"].replace('+','Mais') }}"
            },
            {
              "column": "FATURAMENTO P2",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"].replace('+','Mais') }}"
            },
            {
              "column": "ETAPA MONTAR SALÃO P3",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "column": "OBJETIVO ESTE ANO P4",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "column": "IMPEDE OBJETIVO P5",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "column": "PORQUE VOCÊ P6",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "column": "ACOMPANHAMENTO ÚNICO P7",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "column": "NÃO É MOMENTO IDEAL P8",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "column": "UTM_SOURCE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "UTM_CAMPAIGN",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "UTM_TERM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "UTM_MEDIUM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "UTM_CONTENT",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "HORA",
              "fieldValue": "={{ $now.toFormat('HH:mm') }}"
            },
            {
              "column": "QUALIFICAÇÃO",
              "fieldValue": "Desqualificado"
            },
            {
              "column": "ID LEAD AC",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "ID BOT CONVERSA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"] }}"
            },
            {
              "column": "ID DEAL AC",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_deal_activecampaign\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "TIPO DO EBOOK P10",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "column": "MOMENTO ATUAL P9",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "f9c161c4-0b61-45f6-a11a-c002b5be23a1",
      "name": "preenche_planilha_leads1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1860,
        1200
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 570760941,
          "mode": "list",
          "cachedResultName": "Aplicações",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=570760941"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "EMAIL",
              "lookupValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f3c3b74-f59d-4086-8794-793ff33e14c1",
      "name": "busca_email_na_planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1240,
        1380
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "535e14fc-9733-4429-bc6c-4134837f9e34",
      "name": "espera_10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        1380
      ],
      "webhookId": "17364817-0fb8-431f-af7a-e4a3cd8c11f1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 570760941,
          "mode": "list",
          "cachedResultName": "Aplicações",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=570760941"
        },
        "columnToMatchOn": "TELEFONE",
        "valueToMatchOn": "={{ $node[\"segundo_ou_mais_erro\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA",
              "fieldValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "column": "INSTAGRAM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "column": "TEM RECEPCIONISTA P0",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "column": "TAMANHO DA EQUIPE P1",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"].replace('+','Mais') }}"
            },
            {
              "column": "FATURAMENTO P2",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"].replace('+','Mais') }}"
            },
            {
              "column": "ETAPA MONTAR SALÃO P3",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "column": "OBJETIVO ESTE ANO P4",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "column": "IMPEDE OBJETIVO P5",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "column": "PORQUE VOCÊ P6",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "column": "ACOMPANHAMENTO ÚNICO P7",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "column": "NÃO É MOMENTO IDEAL P8",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "column": "UTM_SOURCE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "UTM_CAMPAIGN",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "UTM_TERM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "UTM_MEDIUM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "UTM_CONTENT",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "HORA",
              "fieldValue": "={{ $now.toFormat('HH:mm') }}"
            },
            {
              "column": "QUALIFICAÇÃO",
              "fieldValue": "Desqualificado"
            },
            {
              "column": "ID LEAD AC",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "ID BOT CONVERSA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"] }}"
            },
            {
              "column": "ID DEAL AC",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_deal_activecampaign\"] }}"
            },
            {
              "column": "EMAIL",
              "fieldValue": "={{ $node[\"segundo_ou_mais_erro\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "TIPO DO EBOOK P10",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "column": "MOMENTO ATUAL P9",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "78b7e877-a0b2-478f-9c5b-693f81ccbc3e",
      "name": "preenche_planilha_leads_telefone",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2440,
        1200
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "efd8cf8a-dadd-416c-bcf2-36f8cc3c0ecd",
      "name": "espera_10s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1660,
        1200
      ],
      "webhookId": "7fdbe048-987e-4584-832f-7877fbbc7367"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "c9448e79-d5ab-495c-a42a-76f39ee7a490",
      "name": "espera_10s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2240,
        1200
      ],
      "webhookId": "6441a9df-401b-4300-b256-d9f7a2a6fa18"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "719d6a8e-c4ad-4ce2-8f90-f54324b4ec3c",
      "name": "espera_10s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2240,
        1380
      ],
      "webhookId": "80223062-429e-4089-9c09-a15f5a015dd1"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "6379574d-348a-49ba-abe4-80848ea2c000",
      "name": "espera_10s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1660,
        1380
      ],
      "webhookId": "7fdbe048-987e-4584-832f-7877fbbc7367"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 570760941,
          "mode": "list",
          "cachedResultName": "Aplicações",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=570760941"
        },
        "columnToMatchOn": "INSTAGRAM",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA",
              "fieldValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "TEM RECEPCIONISTA P0",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "column": "TAMANHO DA EQUIPE P1",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"].replace('+','Mais') }}"
            },
            {
              "column": "FATURAMENTO P2",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"].replace('+','Mais') }}"
            },
            {
              "column": "ETAPA MONTAR SALÃO P3",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "column": "OBJETIVO ESTE ANO P4",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "column": "IMPEDE OBJETIVO P5",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "column": "PORQUE VOCÊ P6",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "column": "ACOMPANHAMENTO ÚNICO P7",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "column": "NÃO É MOMENTO IDEAL P8",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "column": "UTM_SOURCE",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "UTM_CAMPAIGN",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "UTM_TERM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "UTM_MEDIUM",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "UTM_CONTENT",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "HORA",
              "fieldValue": "={{ $now.toFormat('HH:mm') }}"
            },
            {
              "column": "QUALIFICAÇÃO",
              "fieldValue": "Desqualificado"
            },
            {
              "column": "ID LEAD AC",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "ID BOT CONVERSA",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"] }}"
            },
            {
              "column": "ID DEAL AC",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_deal_activecampaign\"] }}"
            },
            {
              "column": "EMAIL",
              "fieldValue": "={{ $node[\"segundo_ou_mais_erro\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "TIPO DO EBOOK P10",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "column": "MOMENTO ATUAL P9",
              "fieldValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "1d881386-6873-44ac-b0a2-06b37d639f4d",
      "name": "preenche_planilha_leads_telefone1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2440,
        1380
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "0cd2c8fe-7821-4bc5-a574-11fdbdd9481a",
      "name": "insert_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1460,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-4jDp1iQKAr_jsfkYGThxUw",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Não Agendamentos - Sessão - Parte 4 - Desqualificado"
          },
          "properties": {},
          "content": {
            "verificacao_lead": false,
            "Nome do Cliente": "Vitor Ebook",
            "E-mail do Cliente": "vitorrqueiroztrafego@gmail.com",
            "Telefone do Cliente - Formato BC": "+5519984574874",
            "Telefone do Cliente - Formato Z-API": "5519984574874",
            "utm_content": "content30",
            "utm_source": "source10",
            "utm_campaign": "campaign40",
            "utm_medium": "medium20",
            "utm_term": "term50",
            "instagram": "teste.ebook",
            "id_fluxo_nao_agendou_10_min": "2416169",
            "API-KEY": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe",
            "pergunta2": "Entre R$40.001 e R$50.000",
            "pergunta10": "E-book 'Fazendo 500 milhão en 40 dias'",
            "id_campo_pergunta0_bot_conversa": "1123099",
            "id_campo_pergunta1_bot_conversa": "1123101",
            "id_campo_pergunta2_bot_conversa": "1123100",
            "id_campo_pergunta3_bot_conversa": "1860276",
            "id_campo_pergunta4_bot_conversa": "1123102",
            "id_campo_pergunta5_bot_conversa": "1860278",
            "id_campo_pergunta6_bot_conversa": "1359514",
            "id_campo_pergunta7_bot_conversa": "1860280",
            "id_campo_pergunta8_bot_conversa": "1860281",
            "id_campo_pergunta9_bot_conversa": "2056601",
            "id_campo_pergunta10_bot_conversa": "2193610",
            "id_campo_pergunta11_bot_conversa": "",
            "id_campo_pergunta12_bot_conversa": "",
            "id_campo_pergunta13_bot_conversa": "",
            "id_campo_pergunta14_bot_conversa": "",
            "id_campo_pergunta15_bot_conversa": "",
            "id_campo_pergunta16_bot_conversa": "",
            "id_campo_pergunta17_bot_conversa": "",
            "id_campo_pergunta18_bot_conversa": "",
            "id_campo_pergunta19_bot_conversa": "",
            "id_campo_pergunta20_bot_conversa": "",
            "url_api_activecampaign_crm": "gestaodesaloes67530",
            "id_ending_typeform": "3768d569-5785-4af7-a771-f64b91a4c800",
            "id_campo_id_banco_de_dados_bot_conversa": "1351140",
            "id_campo_iddealac_bot_conversa": "1354465",
            "id_campo_idleadac_bot_conversa": "1354600",
            "id_campo_utm_source_bot_conversa": "1123113",
            "id_campo_utm_campaign_bot_conversa": "1123114",
            "id_campo_utm_term_bot_conversa": "1123115",
            "id_campo_utm_medium_bot_conversa": "1123116",
            "id_campo_utm_content_bot_conversa": "1123117",
            "id_campo_utm_fun_bot_conversa": "1353849",
            "id_campo_utm_var_bot_conversa": "1353848",
            "id_campo_instagram_bot_conversa": "1123096",
            "funil": "sessao estrategica",
            "variacao_do_funil": "v1",
            "data_ultima_quinzena": "2024-03-19",
            "id_campo_emailse_bot_conversa": "1115994",
            "id_tag_desqualificado_bot_conversa": "4935232",
            "id_tag_qualificado_bot_conversa": "4891828",
            "data_resposta_type": "03/04/2024 11:05",
            "id_campo_data_resposta_type_bot_conversa": "",
            "qualificacao": "Desqualificado",
            "id_lead_bd": 2382,
            "id_lead_bc": 417093818,
            "id_fluxo_nao_agendou_10_min_desqualificados": "2829998",
            "id_lead_activecampaign": "15621",
            "id_deal_activecampaign": "3959",
            "id_campo_id_banco_deal_crm": "42",
            "id_campo_id_bot_conversa_deal_crm": "53",
            "id_campo_id_banco_de_dados_crm": "257",
            "id_campo_id_bot_conversa_crm": "163",
            "id_fluxo2_nao_agendou_10_min_desqualificados": 2830145,
            "id_campo_dia_aplicou_se": "2113710",
            "dia_da_semana_se": "Quarta-feira"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-25T13:17:28.604Z",
      "updatedAt": "2024-03-25T13:17:28.604Z",
      "id": "iEWW0rAq20zciLEA",
      "name": "[NAG]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-07T14:47:50.513Z",
  "versionId": "1fa8cedb-3167-4c10-b3fc-6765cafe9ed0"
}