workflows/💵[HENRY SANTOS] - ASSAS + Liberar acesso a Memberkit.json
{
  "active": true,
  "connections": {
    "Formata Data de Vencimento": {
      "main": [
        [
          {
            "node": "Formata Data de Vencimento Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data de Vencimento Original": {
      "main": [
        [
          {
            "node": "Formata Data do Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Evento": {
      "main": [
        [
          {
            "node": "formata_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data de Criacao": {
      "main": [
        [
          {
            "node": "Formata Data de Vencimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data do Pagamento": {
      "main": [
        [
          {
            "node": "Formata Data de Credito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data de Credito": {
      "main": [
        [
          {
            "node": "Formata Data de Credito Estimada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data de Credito Estimada": {
      "main": [
        [
          {
            "node": "Formata Data da Ultima Visualizacao da Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data da Ultima Visualizacao da Fatura": {
      "main": [
        [
          {
            "node": "Formata Data da Ultima Visualizacao do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data da Ultima Visualizacao do Boleto": {
      "main": [
        [
          {
            "node": "Busca Cliente no Asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Cliente no Asaas": {
      "main": [
        [
          {
            "node": "Dados do Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "cria_lead_active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3s": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Deals da Conta3": {
      "main": [
        [
          {
            "node": "Listar Pipelines e Status da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Pipelines e Status da Conta3": {
      "main": [
        [
          {
            "node": "Consulta Users da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Deals da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users da Conta": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tags da Conta": {
      "main": [
        [
          {
            "node": "Listar Tipos de Task da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tiop_do_produto": {
      "main": [
        [
          {
            "node": "cria_deal_msa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_deal_software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_msa": {
      "main": [
        [
          {
            "node": "atualiza_campos_deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_software": {
      "main": [
        [
          {
            "node": "atualiza_campos_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "envia_tag_mi_inteira",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_tag_mi_start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_tag_método_modus_inovandi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_tag_mentoria_c_level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados4": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credito": {
      "main": [
        [
          {
            "node": "tiop_do_produto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "está_inadiplente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_mentoria_MSA": {
      "main": [
        [
          {
            "node": "add_membro_msa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "é_5DG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "está_inadiplente": {
      "main": [
        [
          {
            "node": "está_inadimplente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "está_inadimplente": {
      "main": [
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_deal_inadimplente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead_active": {
      "main": [
        [
          {
            "node": "3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados1": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_inadimplente": {
      "main": [
        [
          {
            "node": "atualiza_campos_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campos_deal": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "primeira_parcela_ou_pagamento_unico": {
      "main": [
        [
          {
            "node": "Credito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "insere_dados2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead2": {
      "main": [
        [
          {
            "node": "id_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados2": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual1": {
      "main": [
        [
          {
            "node": "email_preenchido2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido1": {
      "main": [
        [
          {
            "node": "telefone_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual3": {
      "main": [
        [
          {
            "node": "atualiza_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido2": {
      "main": [
        [
          {
            "node": "email_igual3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido3": {
      "main": [
        [
          {
            "node": "email_igual6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual6": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido": {
      "main": [
        [
          {
            "node": "email_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead": {
      "main": [
        [
          {
            "node": "é_mentoria_MSA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead5": {
      "main": [
        [
          {
            "node": "é_mentoria_MSA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campos_deal1": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campos_deal2": {
      "main": [
        [
          {
            "node": "insere_dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_telefone": {
      "main": [
        [
          {
            "node": "filtra_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_5DG": {
      "main": [
        [
          {
            "node": "add_membro_5g",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "é_PL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_PL": {
      "main": [
        [
          {
            "node": "add_membro_pl",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "é_PLANO30K",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_membro_msa": {
      "main": [
        [
          {
            "node": "notificacao_Veronica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notificacao_Veronica": {
      "main": [
        [
          {
            "node": "envia_fluxo_de_onboarding_msa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas": {
      "main": [
        [
          {
            "node": "Formata Data de Criacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "primeira_parcela_ou_pagamento_unico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_contato_KOMMO2": {
      "main": [
        [
          {
            "node": "add_membro_memberkit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_membro_memberkit": {
      "main": [
        [
          {
            "node": "msg_onboarding_evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtra_produto": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "insere_plano30k",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg_onboarding_evolution": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_PLANO30K": {
      "main": [
        [
          {
            "node": "Add_contato_KOMMO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-01T18:48:18.467Z",
  "id": "DoQnAA5VmiXd3roU",
  "meta": null,
  "name": "💵[HENRY SANTOS] - ASSAS + Liberar acesso a Memberkit",
  "nodes": [
    {
      "parameters": {
        "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"dueDate\"] }}",
        "dataPropertyName": "Data de Vencimento Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "990ea26c-09f5-49d2-92b4-1d7f310ae110",
      "name": "Formata Data de Vencimento",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -820,
        1400
      ]
    },
    {
      "parameters": {
        "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"originalDueDate\"] }}",
        "dataPropertyName": "Data de Vencimento Original Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "671512b0-c876-42d5-b36a-ab746ff19195",
      "name": "Formata Data de Vencimento Original",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -660,
        1400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Evento",
              "value": "={{      $node[\"Asaas\"].json[\"body\"][\"event\"].replace('PAYMENT_CREATED','Cobrança Gerada').replace('PAYMENT_AWAITING_RISK_ANALYSIS','Aguardando Aprovação de Pagamento em Cartão pela Análise Manual de Risco').replace('PAYMENT_APPROVED_BY_RISK_ANALYSIS','Pagamento em Cartão Aprovado pela Análise Manual de Risco').replace('PAYMENT_REPROVED_BY_RISK_ANALYSIS','Pagamento em Cartão Reprovado pela Análise Manual de Risco').replace('PAYMENT_UPDATED','Cobrança Alterada').replace('PAYMENT_CONFIRMED','Cobrança Confirmada ainda não disponibilizada').replace('PAYMENT_RECEIVED','Cobrança Recebida').replace('PAYMENT_ANTICIPATED','Cobrança Antecipada').replace('PAYMENT_OVERDUE','Cobrança Vencida').replace('PAYMENT_DELETED','Cobrança Removida').replace('PAYMENT_RESTORED','Cobrança Restaurada').replace('PAYMENT_REFUNDED','Cobrança Estornada').replace('PAYMENT_RECEIVED_IN_CASH_UNDONE','Recebimento em Dinheiro desfeito').replace('PAYMENT_CHARGEBACK_REQUESTED','Chargeback Solicitado').replace('PAYMENT_CHARGEBACK_DISPUTE','Em disputa de Chargeback').replace('PAYMENT_AWAITING_CHARGEBACK_REVERSAL','Disputa de Chargeback Vencida').replace('PAYMENT_DUNNING_RECEIVED','Recebimento de Negativação').replace('PAYMENT_DUNNING_REQUESTED','Pedido de Negativação').replace('PAYMENT_BANK_SLIP_VIEWED','Boleto Visualizado pelo Cliente').replace('PAYMENT_CHECKOUT_VIEWED','Fatura Visualizada pelo Cliente')         }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"id\"] }}"
            },
            {
              "name": "Data do Evento",
              "value": "={{ $node[\"Formata Data de Criacao\"].json[\"Data de Criacao Formatada\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"customer\"] }}"
            },
            {
              "name": "Valor Bruto do Pagamento",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"value\"] }}"
            },
            {
              "name": "Valor Líquido do Pagamento",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"netValue\"] }}"
            },
            {
              "name": "Descrição do Pagamento",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"description\"] }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"billingType\"].replace('BOLETO','Boleto Bancário').replace('CREDIT_CARD','Cartão de Crédito').replace('DEBIT_CARD','Cartão de Débito').replace('UNDEFINED','Escolha do Cliente').replace('TRANSFER','Transferência Bancária').replace('DEPOSIT','Depósito Bancário')   }}"
            },
            {
              "name": "Data de Vencimento",
              "value": "={{ $node[\"Formata Data de Vencimento\"].json[\"Data de Vencimento Formatada\"] }}"
            },
            {
              "name": "Status",
              "value": "={{     $node[\"Asaas\"].json[\"body\"][\"payment\"][\"status\"].replace('RECEIVED','Recebida').replace('PENDING','Pendente').replace('REQUESTED','Solicitada').replace('DONE','Realizada')     }}"
            },
            {
              "name": "Data de Vencimento Original",
              "value": "={{ $node[\"Formata Data de Vencimento Original\"].json[\"Data de Vencimento Original Formatada\"] }}"
            },
            {
              "name": "Data do Pagamento",
              "value": "={{ $node[\"Formata Data do Pagamento\"].json[\"Data do Pagamento Formatada\"] }}"
            },
            {
              "name": "Numero da Parcela",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"installmentNumber\"] }}"
            },
            {
              "name": "Link da Fatura",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"invoiceUrl\"] }}"
            },
            {
              "name": "Numero da Fatura",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"invoiceNumber\"] }}"
            },
            {
              "name": "Data de Credito",
              "value": "={{ $node[\"Formata Data de Credito\"].json[\"Data de Credito Formatada\"] }}"
            },
            {
              "name": "Data de Credito Estimada",
              "value": "={{ $node[\"Formata Data de Credito Estimada\"].json[\"Data de Credito Estimada Formatada\"] }}"
            },
            {
              "name": "Nosso Numero",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"nossoNumero\"] }}"
            },
            {
              "name": "Link do Boleto",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"bankSlipUrl\"] }}"
            },
            {
              "name": "Data da Ultima Visualizacao da Fatura",
              "value": "={{ $node[\"Formata Data da Ultima Visualizacao da Fatura\"].json[\"Data de Ultima Visualizacao da Fatura Formatada\"] }}"
            },
            {
              "name": "Data da Ultima Visualizacao do Boleto",
              "value": "={{ $node[\"Formata Data da Ultima Visualizacao do Boleto\"].json[\"Data da Ultima Visualizacao do Boleto Formatada\"] }}"
            },
            {
              "name": "Valor do Desconto",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"discount\"][\"value\"] }}"
            },
            {
              "name": "Reembolso",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"refunds\"] }}"
            },
            {
              "name": "URL do Recibo",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"transactionReceiptUrl\"] }}"
            },
            {
              "name": "Nome do Produto",
              "value": "={{ $node.Asaas.json.body.payment.description }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"mobilePhone\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            },
            {
              "name": "ID EmailSE",
              "value": "1115994"
            },
            {
              "name": "id_campo_id_banco_de_dados",
              "value": "1351140"
            },
            {
              "name": "valor_mentoria_msa_em_centavos_crm",
              "value": "700000"
            },
            {
              "name": "valor_produto_software_em_centavos_crm",
              "value": "30000"
            },
            {
              "name": "url_api_activecampaign_crm",
              "value": "gestaodesaloes67530"
            },
            {
              "name": "id_sdr_crm",
              "value": "6"
            },
            {
              "name": "id_pipeline_finenceiro_crm",
              "value": "2"
            },
            {
              "name": "id_stage_pagamento_confirmado_msa_crm",
              "value": "4"
            },
            {
              "name": "id_stage_pagamento_confirmado_software_crm",
              "value": "146"
            },
            {
              "name": "apikey_memberkit",
              "value": "mWoZGzTLv9pgChgHuCWxqdUX"
            },
            {
              "name": "id_campo_nome_produto_crm",
              "value": "84"
            },
            {
              "name": "id_campo_descricao_da_fatura_crm",
              "value": "83"
            },
            {
              "name": "id_campo_quantidades_de_parcelas_crm",
              "value": "87"
            },
            {
              "name": "id_cs_bot_conversa",
              "value": "157859243"
            }
          ],
          "boolean": [
            {
              "name": "Antecipado",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"anticipated\"] }}"
            },
            {
              "name": "Pode pagar depois de expirar",
              "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"canBePaidAfterDueDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8d2d89bb-d496-4821-aad9-3c31c78357a4",
      "name": "Dados do Evento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        1400
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"body\"][\"payment\"][\"dateCreated\"] }}",
        "dataPropertyName": "Data de Criacao Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "f35b3713-be2b-4494-8e00-eddf28e1568f",
      "name": "Formata Data de Criacao",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -980,
        1400
      ]
    },
    {
      "parameters": {
        "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"paymentDate\"] }}",
        "dataPropertyName": "Data do Pagamento Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "71d73e14-90e7-4745-9cc2-90391db3818c",
      "name": "Formata Data do Pagamento",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -480,
        1400
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"creditDate\"] }}",
        "dataPropertyName": "Data de Credito Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "1e813d31-1ac7-493a-92ff-f20e40afb3f7",
      "name": "Formata Data de Credito",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -300,
        1400
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"estimatedCreditDate\"] }}",
        "dataPropertyName": "Data de Credito Estimada Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "60ff94dd-b222-4a68-a332-4687707a3979",
      "name": "Formata Data de Credito Estimada",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -120,
        1400
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"lastInvoiceViewedDate\"] }}",
        "dataPropertyName": "Data de Ultima Visualizacao da Fatura Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "e83b3768-bb8f-48b7-a93f-3e358e278131",
      "name": "Formata Data da Ultima Visualizacao da Fatura",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        60,
        1400
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "value": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"lastBankSlipViewedDate\"] }}",
        "dataPropertyName": "Data da Ultima Visualizacao do Boleto Formatada",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "id": "53fabf6d-4236-4679-b52c-aeb07401b37b",
      "name": "Formata Data da Ultima Visualizacao do Boleto",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        240,
        1400
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://www.asaas.com/api/v3/customers/{{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"customer\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fca13125-8277-4634-b4c6-5c72973dfdc3",
      "name": "Busca Cliente no Asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        440,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Dados do Evento\"].json[\"Evento\"] }}",
              "value2": "Cobrança Recebida"
            },
            {
              "value1": "={{ $node[\"Dados do Evento\"].json[\"Evento\"] }}",
              "value2": "Cobrança Antecipada"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "840c9cc3-ebee-460b-a556-5322ea6e6b0a",
      "name": "Credito",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2360,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = $node[\"Asaas\"].json;\nconst respostas = inputData.body;\n\n// Função para extrair o DDD e formatar o telefone\nfunction extrairDddETelefone(telefone) {\n  if (!telefone) return \"\";\n\n  let telefoneLimpo = telefone.replace(/\\D/g, \"\");\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone não começa com \"351\" e não está vazio\n  if (!telefoneLimpo.startsWith('351') && telefoneLimpo.length > 0) {\n    // Adicionar o código do Brasil (55) na frente\n    telefoneLimpo = '55' + telefoneLimpo;\n  }\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else if (telefoneLimpo.startsWith('358')) { // Adicionar verificação para números iniciados com \"358\"\n    // Remover caracteres não numéricos e espaços\n    telefoneLimpo = telefoneLimpo.replace(/\\D/g, ''); \n    telefoneFormatado = telefoneLimpo;\n  } else {\n    // Se o DDI for diferente de 55 e não iniciar com \"358\", manter o número como está\n    telefoneFormatado = telefoneLimpo;\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para tratar o email (validação e transformação para minúsculo)\nfunction tratarEmail(email) {\n  // Verificar se o email é válido usando uma expressão regular simples\n  const emailValido = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$/.test(email);\n  \n  // Se o email for válido, transformá-lo em minúsculo; caso contrário, deixá-lo vazio\n  if (emailValido) {\n    return email.toLowerCase();\n  } else {\n    return \"\";\n  }\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúscula\nfunction capitalizeWords(str) {\n  return str.replace(/\\b\\w/g, char => char.toUpperCase());\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Função para formatar CPF ou CNPJ\nfunction formatarCpfCnpj(cpfCnpj) {\n  if (cpfCnpj.length === 11) {\n    // Formatar como CPF: XXX.XXX.XXX-XX\n    return cpfCnpj.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n  } else if (cpfCnpj.length === 14) {\n    // Formatar como CNPJ: XX.XXX.XXX/0001-XX\n    return cpfCnpj.replace(/(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})/, '$1.$2.$3/$4-$5');\n  } else {\n    // Formato inválido\n    return \"Formato inválido\";\n  }\n}\n\n// Função para validar e formatar a descrição\nfunction validarEDescricao(descricao) {\n  const nomenclaturas = [\n    \"MSA 6 meses\", \"MSA 1 ano\", \"Software mensal\", \"Software semestral\",\n    \"Software anual\", \"Mentoria individual 1 ano\", \"Mentoria individual 6 meses\",\n    \"MSA 3 meses\", \"Software trimestral\"\n  ];\n\n  for (const nomenclatura of nomenclaturas) {\n    if (descricao.includes(nomenclatura)) {\n      return nomenclatura;\n    }\n  }\n\n  return \"nomenclatura não encontrada\";\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// Extrair outras informações do formulário\nconst nome = $node[\"Busca Cliente no Asaas\"].json[\"name\"] || '';\nconst telefone = $node[\"Busca Cliente no Asaas\"].json[\"mobilePhone\"] || '';\nconst email = $node[\"Busca Cliente no Asaas\"].json[\"email\"] || '';\nconst cpfCnpj = $node[\"Busca Cliente no Asaas\"].json[\"cpfCnpj\"] || '';\nconst descricao = $node[\"Asaas\"].json[\"body\"][\"payment\"][\"description\"] || '';\n\n// Formatar telefone, email e CPF/CNPJ\nconst telefoneFormatado = extrairDddETelefone(telefone);\nconst emailFormatado = tratarEmail(email);\nconst cpfCnpjFormatado = formatarCpfCnpj(cpfCnpj);\nconst descricaoFormatada = validarEDescricao(descricao);\n\n// Criar objeto com os valores formatados\nconst formattedData = {\n  nome: capitalizeWords(nome),\n  telefone: telefoneFormatado,\n  email: emailFormatado,\n  cpf_cnpj: cpfCnpjFormatado,\n  descricao: descricao,\n  tipo_mentoria: descricaoFormatada\n};\n\n// Retorna o objeto formatado como JSON\nreturn formattedData;\n"
      },
      "id": "89f44b28-e916-4d6e-80d9-a0168a503fd0",
      "name": "formata_telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        840,
        1400
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"].split(\" \").slice(1).join(\" \") }}."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"Dados do Evento\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1200,
        1400
      ],
      "id": "7fe9bf6c-30b7-426c-a2ba-3465d86255eb",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e998183e-25d8-4549-95d7-90fdf3ea9bcf",
      "name": "Evento de PIX",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1520,
        1300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e16fa3ed-4a49-492d-9cde-670512e566d6",
      "name": "Exemplo 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1520,
        1480
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "cb4ebbc2-104d-4061-a1b9-ba9fd94eeb28",
      "name": "insere_dados4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3340,
        1240
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "bb866684-8791-456f-b31d-b8af7ffd1f93",
      "name": "3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1540,
        1400
      ],
      "webhookId": "5d01f41e-c82a-4f1e-96a1-22f901b78472"
    },
    {
      "parameters": {
        "content": "## Para consulta\n\nUtilize estes Nodes para Consultar o ID dos Campos do Deal e o ID das Pipelines e Stages no ActiveCampaign",
        "height": 494.4652796495957,
        "width": 1510.0404531979405
      },
      "id": "bff9b8e2-d2eb-48bd-bd72-ffdbebf4aa68",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealCustomFieldMeta?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Deals da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        260,
        180
      ],
      "id": "aaa077f0-d41f-4143-a0e7-3d109d306020"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealGroups",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Pipelines e Status da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        180
      ],
      "id": "de70d728-6d02-4e4a-85b4-7d8a70907c04"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "d0aa5c89796c6403850c539dbd5bcb58ffc0f8c7ff28b9fc6be0c3b54a540a15403f99b1"
            },
            {
              "name": "url_api_activecampaign",
              "value": "gestaodesaloes67530"
            }
          ]
        },
        "options": {}
      },
      "id": "9117ef8d-0a11-4ce2-ab2e-8bd321c506af",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        60,
        180
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "6e743fa0-6bb5-4e11-8964-660052e8d5c3",
      "name": "Consulta Users da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        180
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set1\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set1\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        880,
        180
      ],
      "id": "04cd9dc8-b7e5-454e-a358-19cd623957ca"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set1\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set1\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1080,
        180
      ],
      "id": "d1567fa7-2bf8-4eda-ab2f-9f82c6bf697d"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set1\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealTasktypes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set1\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2550e502-34ec-49b5-acaa-1a45b571edf6",
      "name": "Listar Tipos de Task da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9d955fb8-334f-4b0c-adc6-ae2f7473383a",
              "leftValue": "={{ $node[\"formata_telefone\"].json[\"descricao\"] }}",
              "rightValue": "MSA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffee6fb0-d4aa-412c-9ee8-4b023ee78738",
      "name": "tiop_do_produto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2680,
        1340
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "title": "={{ $node[\"formata_telefone\"].json[\"nome\"] }}",
        "contact": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}",
        "value": "={{ $node[\"Dados do Evento\"].json[\"valor_mentoria_msa_em_centavos_crm\"] }}",
        "currency": "brl",
        "group": "={{ $node[\"Dados do Evento\"].json[\"id_pipeline_finenceiro_crm\"] }}",
        "stage": "={{ $node[\"Dados do Evento\"].json[\"id_stage_pagamento_confirmado_msa_crm\"] }}",
        "owner": "={{ $node[\"Dados do Evento\"].json[\"id_sdr_crm\"] }}",
        "additionalFields": {}
      },
      "id": "c0090faa-1474-4b99-ac86-5c1bf28132ff",
      "name": "cria_deal_msa",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2900,
        1240
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "97f0e8f2-4cd7-4e5d-8eb2-04328e4abe81",
      "name": "insere_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3340,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $node[\"Dados do Evento\"].json[\"url_api_activecampaign_crm\"] }}.api-us1.com/api/3/deals/{{ $json[\"deal\"][\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal\": {\n    \"fields\": [\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_descricao_da_fatura_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"formata_telefone\"].json[\"descricao\"] }}\"\n      },\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_nome_produto_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"formata_telefone\"].json[\"tipo_mentoria\"] }}\"\n      },\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_quantidades_de_parcelas_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"Dados do Evento\"].json[\"Numero da Parcela\"] }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "1c13282d-8b9f-4b46-8702-93fd659accc8",
      "name": "atualiza_campos_deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3080,
        1820
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "deal",
        "title": "={{ $node[\"formata_telefone\"].json[\"nome\"] }}",
        "contact": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}",
        "value": "={{ $node[\"Dados do Evento\"].json[\"valor_produto_software_em_centavos_crm\"] }}",
        "currency": "brl",
        "group": "={{ $node[\"Dados do Evento\"].json[\"id_pipeline_finenceiro_crm\"] }}",
        "stage": "={{ $node[\"Dados do Evento\"].json[\"id_stage_pagamento_confirmado_software_crm\"] }}",
        "owner": "={{ $node[\"Dados do Evento\"].json[\"id_sdr_crm\"] }}",
        "additionalFields": {}
      },
      "id": "579d86c4-2fae-430e-b679-dc27e8ca12f5",
      "name": "cria_deal_software",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2900,
        1440
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://memberkit.com.br/api/v1/classrooms",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "mWoZGzTLv9pgChgHuCWxqdUX"
            }
          ]
        },
        "options": {}
      },
      "id": "20ce863e-57bf-41b0-8f2d-bc100f69f3c6",
      "name": "pegar_id_turma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        540,
        1140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"pesquisa_lead1\"].json[\"id_botconversa\"] }}/tags/{{ $node[\"variables\"].json[\"id_tag_mentoria_modus_inovandi_inteira_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"variables\"].json[\"API-KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c14b9f5-2b2e-42fe-b61f-dc01f79073ca",
      "name": "envia_tag_mi_inteira",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6580,
        780
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"pesquisa_lead1\"].json[\"id_botconversa\"] }}/tags/{{ $node[\"variables\"].json[\"id_tag_mentoria_modus_inovandi_start_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"variables\"].json[\"API-KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "74db03e8-dd02-47a1-ae47-c314f57f7e30",
      "name": "envia_tag_mi_start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6580,
        940
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"pesquisa_lead1\"].json[\"id_botconversa\"] }}/tags/{{ $node[\"variables\"].json[\"id_tag_metodo_modus_inovandi_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"variables\"].json[\"API-KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a1b23e0-b942-4a87-b2e2-eb6ce82468dc",
      "name": "envia_tag_método_modus_inovandi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6580,
        1080
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"pesquisa_lead1\"].json[\"id_botconversa\"] }}/tags/{{ $node[\"variables\"].json[\"id_tag_mentoria_c_level_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"variables\"].json[\"API-KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aed2a44d-6da4-4806-b2da-dd72b85972b0",
      "name": "envia_tag_mentoria_c_level",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6580,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"variables\"].json[\"id_forms\"] }}",
                    "rightValue": "Contrato Mentoria Modus Inovandi Inteira",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f859d4c4-6956-49bb-935c-325468bbb34d",
                    "leftValue": "={{ $node[\"variables\"].json[\"id_forms\"] }}",
                    "rightValue": "Contrato Mentoria Modus Inovandi Start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "39cae629-d0ff-4f3d-9335-1bca054be971",
                    "leftValue": "={{ $node[\"variables\"].json[\"id_forms\"] }}",
                    "rightValue": "Contrato Método Modus Inovandi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a976a1c2-f1c2-4ea4-8dc3-98ffc14272c2",
                    "leftValue": "={{ $node[\"variables\"].json[\"id_forms\"] }}",
                    "rightValue": "Contrato Mentoria C - Level",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "5335c896-271d-4874-bb4f-bd741d42a87c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6340,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"formata_telefone\"].json[\"descricao\"] }}",
              "operation": "contains",
              "value2": "Teste AutomagicBots"
            }
          ]
        }
      },
      "id": "04a8c7ef-7acf-420e-81c7-bba16ba4e3ae",
      "name": "é_mentoria_MSA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5160,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## CRIA NO ACTIVE - SOFTWARE",
        "width": 683.4879335270791
      },
      "id": "f6174332-6c2d-42fd-a634-c03f98488f5c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2960,
        1520
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Dados do Evento\"].json[\"id_cs_bot_conversa\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 *NOVO LEAD CADASTRADO NA MEMBERKIT - MSA*\n\nO cliente {{ $node[\"formata_telefone\"].json[\"nome\"] }}, acabou de ser cadastrado na memberkit com os acessos - MENTORIA SALÃO AUTOADMINISTRAVEL.\n\n🚨 Confira se está tudo certo com o acesso do cliente e envie a mensagem de onboarding.\n\n.................................\n*Nome do Cliente:* {{ $node[\"formata_telefone\"].json[\"nome\"] }}\n*Telefone do Cliente:* +{{ $node[\"formata_telefone\"].json[\"telefone\"] }}\n*Email do Cliente:* {{ $node[\"formata_telefone\"].json[\"email\"] }}\n*Link do WhatsApp:* wa.me/{{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"Dados do Evento\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "notificacao_Veronica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        5580,
        1000
      ],
      "id": "c22d1802-2b7e-42e0-93c0-83962aef5378",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cd2c9d9c-b005-458f-af27-07e5776e8d26",
              "leftValue": "={{ $json[\"date\"] }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c0c2884e-7948-44d4-9303-65a78d580c57",
      "name": "está_inadimplente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2680,
        1760
      ]
    },
    {
      "parameters": {
        "jsCode": "const dateStr = $node[\"Formata Data de Vencimento\"].json[\"Data de Vencimento Formatada\"]; // sua data no formato \"dd/mm/yyyy\"\nconst [day, month, year] = dateStr.split('/').map(Number); // dividir a string e converter para números\nconst dateObj = new Date(year, month - 1, day); // criar o objeto Date\n\n// Formatar a data no formato desejado \"yyyy-mm-ddThh:mm:ss.sss\"\nconst formattedDate = dateObj.toISOString().split('T')[0] + 'T23:59:59.000';\n\n// Retornar a data formatada\nreturn {\n    json: {\n        date: formattedDate\n    }\n};"
      },
      "id": "feed594a-761c-401e-bfaf-22f844606904",
      "name": "está_inadiplente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        1760
      ]
    },
    {
      "parameters": {
        "content": "## CLIENTE SOLICITOU PARA SEMPRE CRIAR UM NOVO NEGÓCIO DO LEAD NA PIPELINE \"FINANCEIRO\"",
        "width": 683.4879335270791
      },
      "id": "6374c8c6-7ab5-4294-a867-63047089105e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2840,
        960
      ]
    },
    {
      "parameters": {},
      "id": "d347b210-0925-4da7-a8d1-8f3c7f76ce6f",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2880,
        1680
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"formata_telefone\"].json[\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[1] }}",
          "phone": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
        }
      },
      "id": "61605874-ae71-4514-85fa-467165f7370a",
      "name": "cria_lead_active",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1380,
        1400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "53231c20-5235-407a-b08f-00b4894b58dd",
      "name": "insere_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3340,
        1820
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "resource": "deal",
        "title": "={{ $node[\"formata_telefone\"].json[\"nome\"] }}",
        "contact": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}",
        "value": "={{ $node[\"Dados do Evento\"].json[\"valor_produto_software_em_centavos_crm\"] }}",
        "currency": "brl",
        "group": "={{ $node[\"Dados do Evento\"].json[\"id_pipeline_finenceiro_crm\"] }}",
        "stage": "={{ $node[\"Dados do Evento\"].json[\"id_stage_pagamento_confirmado_software_crm\"] }}",
        "owner": "={{ $node[\"Dados do Evento\"].json[\"id_sdr_crm\"] }}",
        "additionalFields": {}
      },
      "id": "4902f072-67b7-4301-8a06-5ec742ea18d1",
      "name": "cria_deal_inadimplente",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2880,
        1820
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "7286e97f-3ec7-482f-9bbf-be5f38ffda47",
      "name": "Não faça nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        1540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"installmentNumber\"] === null ? 0 : $node[\"Asaas\"].json[\"body\"][\"payment\"][\"installmentNumber\"] }}",
              "operation": "equal"
            },
            {
              "value1": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"installmentNumber\"] === null ? 0 : $node[\"Asaas\"].json[\"body\"][\"payment\"][\"installmentNumber\"] }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "284f2120-e228-4c33-807a-caeeef065ac2",
      "name": "primeira_parcela_ou_pagamento_unico",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8940fcb8-7154-4f2c-883d-ecf4f212e8cc",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3760,
        1320
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "96f38302-92f9-4e24-a492-f932d50cf292",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1860,
        1400
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "assas"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "65249264-7f31-4731-aafe-d6b01b4cba6b",
      "name": "insert_data_utm_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4740,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "561ee986-3333-45ac-b645-53a098cd22e6",
      "name": "insere_dados2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4560,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "37d0733b-26df-42f7-b736-b1557cfdb20f",
      "name": "telefone_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4160,
        1440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b8d7062f-bda4-453c-943f-4ac4fb5b7a9e",
      "name": "telefone_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3980,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            }
          ]
        }
      },
      "id": "009fc78d-4fd9-4921-a186-d0bc1b83f76b",
      "name": "email_igual3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4500,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4b2f4371-fe4e-4278-9507-fef6ec8344bc",
      "name": "email_preenchido2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4340,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e070a2c1-b2c7-49f1-84f3-c77ff537fa54",
      "name": "email_preenchido3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4320,
        1820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            }
          ]
        }
      },
      "id": "164cffee-ac2a-4fa3-9c0f-ec3fb5e5fa78",
      "name": "email_igual6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4520,
        1740
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "84647ec8-b272-41a7-8209-1e35d4aaf846",
      "name": "id_lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4900,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9a4ff1f1-27fb-45c7-9355-885f53c74b29",
      "name": "atualiza_dados_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4700,
        1340
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "37a7f70a-1c5e-4291-bb1f-7ea3e94d5481",
      "name": "atualiza_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4700,
        1180
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "79980835-aff7-421e-849b-8b53db706622",
      "name": "atualiza_dados_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4500,
        1500
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6b670e95-8e76-45a5-851e-8d43619f5fc7",
      "name": "atualiza_dados_telefone2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4720,
        1660
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c6888732-2f18-42cb-93b4-96059b5998e4",
      "name": "atualiza_dados_telefone2_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4720,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3c45f344-b452-42cd-ba0b-a14bbd16e02b",
      "name": "atualiza_dados_telefone2_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4520,
        1960
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            }
          ]
        }
      },
      "id": "f02d3523-5041-4ede-b546-7bf0a3921082",
      "name": "email_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4360,
        2200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "06c387c5-a569-4a59-9ff8-1ab4ed61caba",
      "name": "email_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4200,
        2280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "84ef7855-b5bf-4f28-808d-043cc519a3b0",
      "name": "atualiza_dados_email1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4360,
        2440
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8e11033d-d703-4a97-8eaf-89438978dbd7",
      "name": "atualiza_dados_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4560,
        2120
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"cria_lead_active\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"cria_deal_software\"].runIndex >= 0 ? $node[\"cria_deal_software\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_msa\"].runIndex >= 0 ? $node[\"cria_deal_msa\"].json[\"deal\"][\"id\"] : ($node[\"cria_deal_inadimplente\"].runIndex >= 0 ? $node[\"cria_deal_inadimplente\"].json[\"deal\"][\"id\"] : \"\" )) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d1d9d8fe-b878-482c-b1c6-55e75380a3c4",
      "name": "atualiza_dados_email2_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4560,
        2280
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3d616ca-ab43-4f74-9800-7072a90aa174",
      "name": "id_lead5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4900,
        920
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"email\"] || '-----------------------' }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] || '-----------------------' }}"
            },
            {
              "column": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] || '-----------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "ea06a359-bc97-4f34-b487-a910fcf2167f",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1700,
        1400
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $node[\"Dados do Evento\"].json[\"url_api_activecampaign_crm\"] }}.api-us1.com/api/3/deals/{{ $json[\"deal\"][\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal\": {\n    \"fields\": [\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_descricao_da_fatura_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"formata_telefone\"].json[\"descricao\"] }}\"\n      },\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_nome_produto_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"formata_telefone\"].json[\"tipo_mentoria\"] }}\"\n      },\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_quantidades_de_parcelas_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"Dados do Evento\"].json[\"Numero da Parcela\"] }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "aed717a7-45d5-43f0-ae26-0b3c9359bea7",
      "name": "atualiza_campos_deal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3120,
        1440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $node[\"Dados do Evento\"].json[\"url_api_activecampaign_crm\"] }}.api-us1.com/api/3/deals/{{ $json[\"deal\"][\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal\": {\n    \"fields\": [\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_descricao_da_fatura_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"formata_telefone\"].json[\"descricao\"] }}\"\n      },\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_nome_produto_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"formata_telefone\"].json[\"tipo_mentoria\"] }}\"\n      },\n      {\n        \"customFieldId\": \"{{ $node[\"Dados do Evento\"].json[\"id_campo_quantidades_de_parcelas_crm\"] }}\",\n        \"fieldValue\": \"{{ $node[\"Dados do Evento\"].json[\"Numero da Parcela\"] }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "bed2fa55-7885-4906-a368-7c808c21be15",
      "name": "atualiza_campos_deal2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3120,
        1240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = $node[\"Asaas\"].json;\nconst respostas = inputData.body;\n\n// Função para extrair o DDD e formatar o telefone\nfunction extrairDddETelefone(telefone) {\n  if (!telefone) return \"\";\n\n  let telefoneLimpo = telefone.replace(/\\D/g, \"\");\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone não começa com \"351\" e não está vazio\n  if (!telefoneLimpo.startsWith('351') && telefoneLimpo.length > 0) {\n    // Adicionar o código do Brasil (55) na frente\n    telefoneLimpo = '55' + telefoneLimpo;\n  }\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else if (telefoneLimpo.startsWith('358')) { // Adicionar verificação para números iniciados com \"358\"\n    // Remover caracteres não numéricos e espaços\n    telefoneLimpo = telefoneLimpo.replace(/\\D/g, ''); \n    telefoneFormatado = telefoneLimpo;\n  } else {\n    // Se o DDI for diferente de 55 e não iniciar com \"358\", manter o número como está\n    telefoneFormatado = telefoneLimpo;\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para tratar o email (validação e transformação para minúsculo)\nfunction tratarEmail(email) {\n  // Verificar se o email é válido usando uma expressão regular simples\n  const emailValido = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$/.test(email);\n  \n  // Se o email for válido, transformá-lo em minúsculo; caso contrário, deixá-lo vazio\n  if (emailValido) {\n    return email.toLowerCase();\n  } else {\n    return \"\";\n  }\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúscula\nfunction capitalizeWords(str) {\n  return str.replace(/\\b\\w/g, char => char.toUpperCase());\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Função para formatar CPF ou CNPJ\nfunction formatarCpfCnpj(cpfCnpj) {\n  if (cpfCnpj.length === 11) {\n    // Formatar como CPF: XXX.XXX.XXX-XX\n    return cpfCnpj.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n  } else if (cpfCnpj.length === 14) {\n    // Formatar como CNPJ: XX.XXX.XXX/0001-XX\n    return cpfCnpj.replace(/(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})/, '$1.$2.$3/$4-$5');\n  } else {\n    // Formato inválido\n    return \"Formato inválido\";\n  }\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// Extrair outras informações do formulário\nconst nome = $node[\"Busca Cliente no Asaas\"].json[\"name\"] || '';\nconst telefone = $node[\"Busca Cliente no Asaas\"].json[\"mobilePhone\"] || '';\nconst email = $node[\"Busca Cliente no Asaas\"].json[\"email\"] || '';\nconst cpfCnpj = $node[\"Busca Cliente no Asaas\"].json[\"cpfCnpj\"] || '';\nconst descricao = $node[\"Asaas\"].json[\"body\"][\"payment\"][\"description\"] || '';\n\n// Formatar telefone, email e CPF/CNPJ\nconst telefoneFormatado = extrairDddETelefone(telefone);\nconst emailFormatado = tratarEmail(email);\nconst cpfCnpjFormatado = formatarCpfCnpj(cpfCnpj);\n\n// Criar objeto com os valores formatados\nconst formattedData = {\n  nome: capitalizeWords(nome),\n  telefone: telefoneFormatado,\n  email: emailFormatado,\n  cpf_cnpj: cpfCnpjFormatado,\n  descricao: descricao\n};\n\n// Retorna o objeto formatado como JSON\nreturn formattedData;\n"
      },
      "id": "60487e4e-5355-400c-b33d-52722604519f",
      "name": "formata_telefone1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        840,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"] }}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "4370194"
            }
          ]
        },
        "options": {}
      },
      "id": "e71602e0-9233-41b2-bcb3-6532584189d5",
      "name": "envia_fluxo_de_onboarding_msa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5780,
        1000
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://memberkit.com.br/api/v1/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $node[\"Dados do Evento\"].json[\"apikey_memberkit\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_name",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "blocked",
              "value": "={{ false }}"
            },
            {
              "name": "unlimited",
              "value": "={{ false }}"
            },
            {
              "name": "classroom_ids",
              "value": "224029, 225159, 225117, 234103"
            },
            {
              "name": "membership_level_id",
              "value": "=0"
            },
            {
              "name": "expires_at",
              "value": "={{ new Date(new Date().getTime() + 180 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpf_cnpj\"] }}"
            },
            {
              "name": "phone_local_code",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"].slice(0,2) }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2,4) }}9{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c739894-c37d-4c67-a636-ef0d6a61413e",
      "name": "add_membro_msa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5360,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"formata_telefone\"].json[\"descricao\"] }}",
              "operation": "contains",
              "value2": "Teste AutomagicBots"
            }
          ]
        }
      },
      "id": "6a4226b8-80d5-41ed-b659-65ce473cf13d",
      "name": "é_5DG",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5360,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"formata_telefone\"].json[\"descricao\"] }}",
              "operation": "contains",
              "value2": "Teste AutomagicBots"
            }
          ]
        }
      },
      "id": "1a742268-8402-4319-b362-891f77b88d21",
      "name": "é_PL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5580,
        1360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eventos-assas",
        "options": {}
      },
      "id": "7303ea3e-1b3b-4e10-aa92-cacdfe3cb79e",
      "name": "Asaas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1160,
        1400
      ],
      "webhookId": "1c415ef2-1587-4024-9850-5af9a18b3ddc"
    },
    {
      "parameters": {
        "url": "https://memberkit.com.br/api/v1/classrooms",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "mWoZGzTLv9pgChgHuCWxqdUX"
            }
          ]
        },
        "options": {}
      },
      "id": "941413be-5cf1-4429-966a-e34d1200a3fd",
      "name": "pegar_id_turma1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5400,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://memberkit.com.br/api/v1/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $node[\"Dados do Evento\"].json[\"apikey_memberkit\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_name",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "blocked",
              "value": "={{ false }}"
            },
            {
              "name": "unlimited",
              "value": "={{ false }}"
            },
            {
              "name": "classroom_ids",
              "value": "225159"
            },
            {
              "name": "membership_level_id",
              "value": "=0"
            },
            {
              "name": "expires_at",
              "value": "={{ new Date(new Date().getTime() + 180 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpf_cnpj\"] }}"
            },
            {
              "name": "phone_local_code",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"].slice(0,2) }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2,4) }}9{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f24719a2-7234-4dd4-9c75-c11ae6039ebf",
      "name": "add_membro_5g",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5580,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://memberkit.com.br/api/v1/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $node[\"Dados do Evento\"].json[\"apikey_memberkit\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_name",
              "value": "={{ $node[\"formata_telefone\"].json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_telefone\"].json[\"email\"] }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "blocked",
              "value": "={{ false }}"
            },
            {
              "name": "unlimited",
              "value": "={{ false }}"
            },
            {
              "name": "classroom_ids",
              "value": "225117"
            },
            {
              "name": "membership_level_id",
              "value": "=0"
            },
            {
              "name": "expires_at",
              "value": "={{ new Date(new Date().getTime() + 180 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpf_cnpj\"] }}"
            },
            {
              "name": "phone_local_code",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"].slice(0,2) }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2,4) }}9{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a44a4390-50f1-46ae-b612-ef0486d8fdcc",
      "name": "add_membro_pl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5780,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n {\n    \"name\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n    \"_embedded\":{\n       \"contacts\":[\n          {\n             \"first_name\":\"{{ $node[\"Dados do Evento\"].json[\"name\"].split(' ')[0] }}\",\n\"responsible_user_id\": 11743307,           \n             \"custom_fields_values\": [\n                  {\n                      \"field_id\": 710450,\n                      \"field_name\": \"Phone\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n               {\n                      \"field_id\": 710452,\n                      \"field_name\": \"Email\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"Dados do Evento\"].json[\"email\"] }}\",\n                              \"enum_code\": \"WORK\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1021880,\n                      \"field_name\": \"Produto\",\n                      \"values\": [\n                          {\n                              \"value\": \"Plano 30K\"\n                          }\n                      ]\n                  },\n                 {\n                      \"field_id\": 1027702,\n                      \"field_name\": \"Valor do Produto\",\n                      \"values\": [\n                          {\n                              \"value\": \"{{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }}\"\n                          }\n                      ]\n                  }\n              ],\n             \"updated_by\":0\n          }\n       ],\n       \"companies\": []\n    },\n    \"responsible_user_id\":11743307,\n    \"status_id\":76084467,\n    \"pipeline_id\":9337915\n }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b9049739-3240-4bd7-977c-ee6cdfac0151",
      "name": "Add_contato_KOMMO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6000,
        1540
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://memberkit.com.br/api/v1/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "mWoZGzTLv9pgChgHuCWxqdUX"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_name",
              "value": "={{ $node[\"Dados do Evento\"].json[\"name\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Dados do Evento\"].json[\"email\"] }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "blocked",
              "value": "={{ false }}"
            },
            {
              "name": "unlimited",
              "value": "={{ false }}"
            },
            {
              "name": "classroom_ids",
              "value": "279041"
            },
            {
              "name": "membership_level_id",
              "value": "=0"
            },
            {
              "name": "expires_at",
              "value": "={{ new Date(new Date().getTime() + 180 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "cpf_cnpj",
              "value": "={{ $node[\"Dados do Evento\"].json[\"cpfCnpj\"] }}"
            },
            {
              "name": "phone_local_code",
              "value": "={{ $node[\"Dados do Evento\"].json[\"mobilePhone\"].slice(0,2) }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2,4) }}9{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(-8) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1fb858c0-c854-4d2b-9299-c70353c1a058",
      "name": "add_membro_memberkit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6220,
        1540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/HenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0EAD0386DBC7-46F1-8414-06CFB9E2E7D4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "=Compra Confirmada! Bem-vindo(a) ao Plano 30K 🚀\n\nOlá {{ $node[\"Dados do Evento\"].json[\"name\"].split(' ')[0] }},\n\nParabéns pela sua decisão! Sua compra foi *aprovada* e você está oficialmente no *Plano 30K*. Estamos muito empolgados em começar essa jornada com você e ajudar seu salão a alcançar novos patamares!\n\nAqui estão suas informações de acesso:\n\n🔗 *Link de acesso:* https://mentoria-salao-autoadministravel.memberkit.com.br/\n🧑‍💻 *Login:* {{ $node[\"Dados do Evento\"].json[\"email\"] }}\n🔑 *Senha:* Salao321*\n\n*Importante:*\nAo acessar pela primeira vez, recomendamos que altere sua senha para garantir ainda mais segurança.\nSe tiver qualquer dúvida, estamos aqui para ajudar! Basta responder a esta mensagem.\n\n*Prepare-se para transformar a gestão do seu salão e alcançar resultados incríveis!*\n\nNos vemos em breve,Henry Santos e \n*Equipe Plano 30K.*"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a4cb7ba7-c8ad-4c38-a71c-e1e82df1106a",
      "name": "msg_onboarding_evolution",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6440,
        1540
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "url": "=https://veronicaburgel15.kommo.com/api/v4/leads/13268706",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "6c0d494c-908f-4540-8ec5-07dffe69adb7",
      "name": "Add_contato_KOMMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6140,
        1740
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "iGd90KYctpkhwimG",
          "name": "[KommoCRM] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"formata_telefone\"].json[\"descricao\"] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b2edaa51-ce88-45c0-b44c-294a6364a373",
      "name": "filtra_produto",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1020,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"invoiceUrl\"] }}",
              "operation": "contains",
              "value2": "https://www.asaas.com/c/iqsa5tg9n8ouo1d0"
            },
            {
              "value1": "={{ $node[\"Asaas\"].json[\"body\"][\"payment\"][\"invoiceUrl\"] }}",
              "operation": "contains",
              "value2": "https://www.asaas.com/c/zr2vn1xai81rm19h"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "90158b67-0544-4752-aa76-9b5c2d4bd1c3",
      "name": "é_PLANO30K",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5740,
        1620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obter a data atual\nconst dataAtual = new Date();\n\n// Função para formatar a data no formato \"YYYY-MM-DD\"\nfunction formatarData(data) {\n  const ano = data.getFullYear();\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Meses começam em 0\n  const dia = String(data.getDate()).padStart(2, '0');\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Objeto para armazenar as datas semanais\nconst datasSemanais = {};\n\n// Loop para calcular as datas de cada semana\nfor (let i = 1; i <= 6; i++) {\n  const dataSemana = new Date(dataAtual); // Criar uma nova data baseada na data atual\n  dataSemana.setDate(dataAtual.getDate() + (i * 7)); // Adicionar semanas\n  datasSemanais[`data_semana${i}`] = formatarData(dataSemana); // Adicionar ao objeto\n}\n\n// Retornar as datas formatadas no formato esperado pelo n8n\nreturn [{ json: datasSemanais }];\n"
      },
      "id": "ed5a01d0-86b0-4ca2-a2ee-c368772db9b0",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6660,
        1540
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "plano30k",
          "mode": "list",
          "cachedResultName": "plano30k"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"id_lead5\"].runIndex >= 0      ?   $node[\"id_lead5\"].json[\"id_lead\"] : $node[\"id_lead\"].json[\"id_lead\"] }}"
            },
            {
              "column": "semana1",
              "value": "={{ $json[\"data_semana1\"] }}"
            },
            {
              "column": "semana2",
              "value": "={{ $json[\"data_semana2\"] }}"
            },
            {
              "column": "semana3",
              "value": "={{ $json[\"data_semana3\"] }}"
            },
            {
              "column": "semana4",
              "value": "={{ $json[\"data_semana4\"] }}"
            },
            {
              "column": "semana5",
              "value": "={{ $json[\"data_semana5\"] }}"
            },
            {
              "column": "semana6",
              "value": "={{ $json[\"data_semana6\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8ca9a254-85e8-4250-947b-5d966915b25e",
      "name": "insere_plano30k",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6840,
        1540
      ],
      "credentials": {
        "mySql": {
          "id": "rva8krZgONj5RBij",
          "name": "[MySQL] - Henry Santos"
        }
      }
    }
  ],
  "pinData": {
    "Evento de PIX": [
      {
        "json": {
          "headers": {
            "host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "user-agent": "Java/1.8.0_282",
            "content-length": "1288",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "pragma": "no-cache",
            "traceparent": "00-663bb260000000001c1e19a98cf6cfea-405dccaea0ce162a-00",
            "tracestate": "dd=s:0;t.tid:663bb26000000000",
            "x-datadog-parent-id": "4638088241655715370",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=663bb26000000000",
            "x-datadog-trace-id": "2026085098368454634",
            "x-forwarded-for": "18.230.8.159",
            "x-forwarded-host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b71525949d32",
            "x-real-ip": "18.230.8.159"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_d26e303b238e509335ac9ba210e51b0f&645736141",
            "event": "PAYMENT_RECEIVED",
            "payment": {
              "object": "payment",
              "id": "pay_9yx62u7rjivssc3a",
              "dateCreated": "2024-05-08",
              "customer": "cus_000083802117",
              "paymentLink": null,
              "value": 10,
              "netValue": 8.01,
              "originalValue": null,
              "interestValue": null,
              "description": "Teste AutomagicBots",
              "billingType": "PIX",
              "confirmedDate": "2024-05-08",
              "pixTransaction": "fda94b9b-b547-4308-aef2-37ce17c88c99",
              "pixQrCodeId": "SIMINTEGRACAODESIS00000316311158ASA",
              "status": "RECEIVED",
              "dueDate": "2024-05-09",
              "originalDueDate": "2024-05-09",
              "paymentDate": "2024-05-08",
              "clientPaymentDate": "2024-05-08",
              "installmentNumber": null,
              "invoiceUrl": "https://www.asaas.com/i/9yx62u7rjivssc3a",
              "invoiceNumber": "396109687",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": false,
              "creditDate": "2024-05-08",
              "estimatedCreditDate": "2024-05-08",
              "transactionReceiptUrl": "https://www.asaas.com/comprovantes/8304009448595984",
              "nossoNumero": "216059040",
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": "2024-05-08T17:09:37Z",
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "PERCENTAGE"
              },
              "fine": {
                "value": 2,
                "type": "PERCENTAGE"
              },
              "interest": {
                "value": 2,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "custody": null,
              "refunds": null
            }
          }
        }
      }
    ],
    "Exemplo 2": [
      {
        "json": {
          "headers": {
            "host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "user-agent": "Java/1.8.0_282",
            "content-length": "1293",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "pragma": "no-cache",
            "traceparent": "00-664762670000000068d297ff213ed610-756a738d1a64d129-01",
            "tracestate": "dd=s:1;t.dm:-1;t.tid:6647626700000000",
            "x-datadog-parent-id": "8460701899839295785",
            "x-datadog-sampling-priority": "1",
            "x-datadog-tags": "_dd.p.dm=-1,_dd.p.tid=6647626700000000",
            "x-datadog-trace-id": "7553266647083963920",
            "x-forwarded-for": "18.230.8.159",
            "x-forwarded-host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b71525949d32",
            "x-real-ip": "18.230.8.159"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_bdaf5c611b55dc82906787d5bfe1e5e2&646503276",
            "event": "PAYMENT_CHECKOUT_VIEWED",
            "payment": {
              "object": "payment",
              "id": "pay_sbvdtfixxy9znq0f",
              "dateCreated": "2024-05-09",
              "customer": "cus_000083897192",
              "installment": "4b72ffe4-dcc9-41d1-9c65-69bbb53b3c5c",
              "paymentLink": null,
              "value": 350,
              "netValue": 336,
              "originalValue": null,
              "interestValue": null,
              "description": "Parcela 1 de 12. Mentoria de Implementação Software SIM de Gestão",
              "billingType": "CREDIT_CARD",
              "confirmedDate": null,
              "creditCard": {
                "creditCardNumber": null,
                "creditCardBrand": null
              },
              "pixTransaction": null,
              "status": "PENDING",
              "dueDate": "2024-05-10",
              "originalDueDate": "2024-05-10",
              "paymentDate": null,
              "clientPaymentDate": null,
              "installmentNumber": 1,
              "invoiceUrl": "https://www.asaas.com/i/sbvdtfixxy9znq0f",
              "invoiceNumber": "396647180",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": false,
              "creditDate": null,
              "estimatedCreditDate": null,
              "transactionReceiptUrl": null,
              "nossoNumero": null,
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": "2024-05-09T19:41:52Z",
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "PERCENTAGE"
              },
              "fine": {
                "value": 2,
                "type": "PERCENTAGE"
              },
              "interest": {
                "value": 2,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "custody": null,
              "refunds": null
            }
          }
        }
      }
    ],
    "Asaas": [
      {
        "json": {
          "headers": {
            "host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "user-agent": "Java/1.8.0_282",
            "content-length": "1338",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "pragma": "no-cache",
            "traceparent": "00-6747730c000000001e40c2032127c104-72d2f9bc412d2eb9-00",
            "tracestate": "dd=s:0;p:669e333f2c5907f3;t.tid:6747730c00000000",
            "x-datadog-parent-id": "8273950052375670457",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=6747730c00000000",
            "x-datadog-trace-id": "2179955538344263940",
            "x-forwarded-for": "52.67.12.206",
            "x-forwarded-host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b71525949d32",
            "x-real-ip": "52.67.12.206"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_15e444ff9b9ab9ec29294aa1abe68025&779580503",
            "event": "PAYMENT_CONFIRMED",
            "dateCreated": "2024-11-27 16:29:16",
            "payment": {
              "object": "payment",
              "id": "pay_278k8z1pfg76wsxu",
              "dateCreated": "2024-11-27",
              "customer": "cus_000103070042",
              "installment": "7967d37d-af2e-4500-b444-ae72e216c082",
              "paymentLink": "8ew4r1vt2o0l1mnx",
              "value": 900,
              "netValue": 868.35,
              "originalValue": null,
              "interestValue": null,
              "description": "Parcela 1 de 2.",
              "billingType": "CREDIT_CARD",
              "confirmedDate": "2024-11-27",
              "creditCard": {
                "creditCardNumber": "8535",
                "creditCardBrand": "VISA"
              },
              "pixTransaction": null,
              "status": "CONFIRMED",
              "dueDate": "2024-11-27",
              "originalDueDate": "2024-11-27",
              "paymentDate": null,
              "clientPaymentDate": "2024-11-27",
              "installmentNumber": 1,
              "invoiceUrl": "https://www.asaas.com/i/278k8z1pfg76wsxu",
              "invoiceNumber": "479864940",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": true,
              "creditDate": "2024-12-30",
              "estimatedCreditDate": "2024-12-30",
              "transactionReceiptUrl": "https://www.asaas.com/comprovantes/0810555611131202",
              "nossoNumero": null,
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": null,
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "FIXED"
              },
              "fine": {
                "value": 2,
                "type": "PERCENTAGE"
              },
              "interest": {
                "value": 2,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "custody": null,
              "refunds": null
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YqwIRpfotJoCTvFh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-01T18:52:56.328Z",
  "versionId": "4eb17003-5f99-4d88-b3d2-61b9f401d3c1"
}