workflows/📅[HENRY SANTOS] - Grupo Reunião Secreta.json
{
  "active": false,
  "connections": {
    "le_planilha": {
      "main": [
        [
          {
            "node": "3 DIAS ANTES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_8hs": {
      "main": [
        [
          {
            "node": "variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 DIAS ANTES": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha1": {
      "main": [
        [
          {
            "node": "2 DIAS ANTES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis1": {
      "main": [
        [
          {
            "node": "le_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_8hs1": {
      "main": [
        [
          {
            "node": "variaveis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha2": {
      "main": [
        [
          {
            "node": "1 DIAS ANTES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis2": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_8hs2": {
      "main": [
        [
          {
            "node": "variaveis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 DIAS ANTES": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 DIAS ANTES": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha3": {
      "main": [
        [
          {
            "node": "É HOJE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis3": {
      "main": [
        [
          {
            "node": "le_planilha3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É HOJE": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_6:30h": {
      "main": [
        [
          {
            "node": "variaveis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha4": {
      "main": [
        [
          {
            "node": "FALTA 30 MINUTOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis4": {
      "main": [
        [
          {
            "node": "le_planilha4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FALTA 30 MINUTOS": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_7:30h1": {
      "main": [
        [
          {
            "node": "variaveis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha5": {
      "main": [
        [
          {
            "node": "AO VIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis5": {
      "main": [
        [
          {
            "node": "le_planilha5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_8h": {
      "main": [
        [
          {
            "node": "variaveis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AO VIVO": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha6": {
      "main": [
        [
          {
            "node": "APLICAÇÃO ABERTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis6": {
      "main": [
        [
          {
            "node": "le_planilha6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APLICAÇÃO ABERTA": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha7": {
      "main": [
        [
          {
            "node": "APLICAÇÃO ABERTA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis7": {
      "main": [
        [
          {
            "node": "le_planilha7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APLICAÇÃO ABERTA1": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Faça Nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_18:30h": {
      "main": [
        [
          {
            "node": "variaveis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara_as_7:30h": {
      "main": [
        [
          {
            "node": "variaveis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-23T23:12:29.982Z",
  "id": "gNXTbMZEd0c7o5gd",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "📅[HENRY SANTOS] - Grupo Reunião Secreta",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "6ecc1ad4-e103-47ee-8821-e1360be6bbe6",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "8c1e048f-bf29-456e-b936-8e9262ecb339",
      "name": "variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3d673ddb-5a7a-4e6c-b37b-c02f2e875e09",
      "name": "EnviaMensagemTexto2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        40
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "a0206a47-8f4a-4595-92ff-24602c687172",
      "name": "Não Faça Nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        180
      ]
    },
    {
      "parameters": {
        "content": "## ID GRUPO PARA RECEBER AS MENSAGEM 120363310511886700@g.us\n\n## ID GRUPO TESTE: 120363256444706105@g.us\n\nhttps://docs.google.com/document/d/1Mtwfr9kQchTH9JHkhUsxe9v9-pHGgiz0/edit#heading=h.cqulo8slkbrl\n\nDoc com as mensagens",
        "width": 945.1467129610476
      },
      "id": "0dff6fe4-5a2b-4fc0-ab02-c3b377f1d78a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4860,
        -220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "2c56a4f3-a37f-480b-838c-1309a248b713",
      "name": "dispara_as_8hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "3 DIAS ANTES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "08:00:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69bcbe71-54a5-495a-938e-5ddaf2637114",
      "name": "3 DIAS ANTES",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        100
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "9b431426-207e-4b5a-86a7-df41df85dd40",
      "name": "le_planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "6d7040a6-38ad-436a-97ab-81728f3fcca6",
      "name": "variaveis1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis1\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d85f0180-9a51-4233-8865-4ed3c8cae028",
      "name": "EnviaMensagemTexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        340
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "77b7b557-12dc-429b-9cf0-b8dfbda00c2d",
      "name": "Não Faça Nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "189e05a5-7ce3-4968-bebd-55f5941622a8",
      "name": "dispara_as_8hs1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "36cecc3f-4148-4acf-8385-4e88b56768e0",
      "name": "le_planilha2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "1d5b8c7e-2731-4e12-86e7-315bfbfb5db3",
      "name": "variaveis2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis2\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis2\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis2\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis2\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "49061d11-199c-4bb4-bf3c-f64f2ec7f562",
      "name": "EnviaMensagemTexto1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        660
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "7d029ae4-ea1f-437a-ad43-3931098f869c",
      "name": "Não Faça Nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        800
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "c0573fe8-8068-4d9a-a7b8-ca6fb27316d6",
      "name": "dispara_as_8hs2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha1\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "2 DIAS ANTES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha1\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "08:00:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d5a0137-aadd-434e-9b0f-f9e9ef67e422",
      "name": "2 DIAS ANTES",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha2\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "1 DIAS ANTES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha2\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "08:00:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9ecfa51-f4cc-4d50-87b4-00cf5fbd680c",
      "name": "1 DIAS ANTES",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "1dcbb8f2-e3c4-4eb3-b98b-8c972c8438d0",
      "name": "le_planilha3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        1020
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "b3368bca-fd35-4fc6-a58d-01f358520a78",
      "name": "variaveis3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis3\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis3\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis3\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis3\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "90c6f6e0-d5dd-4934-9a08-bd3b1431c257",
      "name": "EnviaMensagemTexto3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        960
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "7991cb3c-091b-438a-9678-b2839bf2e2a3",
      "name": "Não Faça Nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha3\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "É HOJE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha3\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "06:30:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "72fc6c79-dca2-45fd-a9db-40e9cfe44b84",
      "name": "É HOJE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        1020
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "2ffc48ef-a0d2-4385-ac2c-25991a54f833",
      "name": "dispara_as_6:30h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        1020
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "be381fe5-c0d8-4add-be1f-8c6ccb85987b",
      "name": "le_planilha4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        1320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "ec38b194-f9b9-416c-8a16-8e834e1e1b7a",
      "name": "variaveis4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis4\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis4\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis4\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis4\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d5bfa852-51cb-421f-b873-f133b06ae61e",
      "name": "EnviaMensagemTexto4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        1260
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "7b9dded5-c6ce-4b0b-bd5a-ddb8af348582",
      "name": "Não Faça Nada4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha4\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "FALTA 30 MINUTOS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha4\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "07:30:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53efa89b-9dc5-448d-9e87-4a5f9a71b581",
      "name": "FALTA 30 MINUTOS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        1320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "43b852c1-812a-4fed-b3d3-8d31032131c4",
      "name": "dispara_as_7:30h1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        1320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "32933630-d04b-4d18-af97-9e2ae2c92191",
      "name": "le_planilha5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        1600
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "06c541c5-984b-4856-8243-2bcfd10f6e58",
      "name": "variaveis5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis5\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis5\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis5\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis5\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "02e7682e-cee8-44e1-b3bc-7bc5a4802e05",
      "name": "EnviaMensagemTexto5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        1540
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "cedd999b-801a-486d-bf8c-5325afbbf7e5",
      "name": "Não Faça Nada5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        1680
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a38b714f-2541-4bfe-87ee-984dcd83bdc8",
      "name": "dispara_as_8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        1600
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha5\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "AO VIVO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha5\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "08:00:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3946d1a2-5114-4219-801b-f40c38878ce8",
      "name": "AO VIVO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        1600
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "e38bb57c-d9db-42de-8e5a-809be523c18b",
      "name": "le_planilha6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        1900
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "1e6137e9-ca85-4953-8c6b-9864409c392e",
      "name": "variaveis6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        1900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis6\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis6\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis6\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis6\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "1196f763-f1d8-4583-a9ca-cfd9c4890ffb",
      "name": "EnviaMensagemTexto6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        1840
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "359bf6ed-c77a-4377-af55-e7825c88c184",
      "name": "Não Faça Nada6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        1980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha6\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "APLICAÇÃO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha6\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "07:30:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b9666a3-ade2-4a0e-b56c-c763c0501b86",
      "name": "APLICAÇÃO ABERTA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        1900
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837387742,
          "mode": "list",
          "cachedResultName": "Reunião Secreta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1837387742"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA DISPARO",
              "lookupValue": "={{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "16263ef0-0e0f-4494-a406-6fa80f9b58c5",
      "name": "le_planilha7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4460,
        2180
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "id_grupo",
              "value": "120363310511886700@g.us"
            },
            {
              "name": "numero_adm",
              "value": "554797464264"
            }
          ]
        },
        "options": {}
      },
      "id": "8aab46f5-ddb1-4e63-95a3-394d0a0506d1",
      "name": "variaveis7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4640,
        2180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis7\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis7\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis7\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis7\"].json[\"id_grupo\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $json[\"MENSAGEM\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d9fb00d8-7102-49fc-8c1b-fae9627b5ec5",
      "name": "EnviaMensagemTexto7",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4000,
        2120
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "id": "489b8b61-3eea-446f-8f8c-dc76452db4d4",
      "name": "Não Faça Nada7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        2260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f8a5237-6bba-4c2c-b07e-2b371c21224b",
              "leftValue": "={{ $node[\"le_planilha7\"].json[\"TIPO LEMBRETE\"] }}",
              "rightValue": "APLICAÇÃO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bc470041-ccbe-474c-8a53-872ee4d94d33",
              "leftValue": "={{ $node[\"le_planilha7\"].json[\"HORA DISPARO\"] }}",
              "rightValue": "18:30:00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7f30b1b7-ef7f-4b18-8fec-a5977c1c9303",
      "name": "APLICAÇÃO ABERTA1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4260,
        2180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "8ed922a4-b61d-45c6-af39-dca247f9ff7c",
      "name": "dispara_as_18:30h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        2180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "e47e46af-d861-4932-a7e6-ce4355f52fba",
      "name": "dispara_as_7:30h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4820,
        1900
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": {
    "node:todo_dia_7:00": {
      "recurrencyRules": []
    },
    "node:todo_dia_8:": {
      "recurrencyRules": []
    },
    "node:todo_dia_8:1": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:15_manha": {
      "recurrencyRules": []
    },
    "node:dispara_as_12:15": {
      "recurrencyRules": []
    },
    "node:dispara_as_19:15": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:00_manha": {
      "recurrencyRules": []
    },
    "node:dispara_as_17:00": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:00": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:": {
      "recurrencyRules": []
    },
    "node:dispara_as_18hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_18hs1": {
      "recurrencyRules": []
    },
    "node:dispara_as_7hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_12hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_8": {
      "recurrencyRules": []
    },
    "node:dispara_as_22hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_19hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_20hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_8hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_8hs1": {
      "recurrencyRules": []
    },
    "node:dispara_as_8hs2": {
      "recurrencyRules": []
    },
    "node:dispara_as_6:30h": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:30h1": {
      "recurrencyRules": []
    },
    "node:dispara_as_8h": {
      "recurrencyRules": []
    },
    "node:dispara_as_6:30h1": {
      "recurrencyRules": []
    },
    "node:dispara_as_9:30h": {
      "recurrencyRules": []
    },
    "node:dispara_as_9:30h1": {
      "recurrencyRules": []
    },
    "node:dispara_as_18:30h": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:30h": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-03-27T14:03:25.264Z",
      "updatedAt": "2024-03-27T14:03:25.264Z",
      "id": "Ju8yPHXMHj0pxd19",
      "name": "[LEMBRETE]"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-07-05T19:55:40.834Z",
  "versionId": "e2575d2d-b2c6-4c30-9d46-4daf5dae7c80"
}