workflows/📅[HENRY SANTOS] - Lembrete Grupos.json
{
  "active": true,
  "connections": {
    "mensagem1": {
      "main": [
        [
          {
            "node": "MensagemGrupoMSA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoMSA": {
      "main": [
        [
          {
            "node": "MensagemGrupoMSA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoMSA3": {
      "main": [
        [
          {
            "node": "MensagemGrupoSoftware1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11/09/2024": {
      "main": [
        [
          {
            "node": "mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13hs": {
      "main": [
        [
          {
            "node": "11/09/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoAntigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaSecreta": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoLucrativo#2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoAntigo": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaSecreta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoLucrativo#2": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoNovo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoNovo": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoAutoadministravel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#2": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#1": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#3": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoAutoadministravel": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11/09/": {
      "main": [
        [
          {
            "node": "Pre-venda-imersão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7hs": {
      "main": [
        [
          {
            "node": "11/09/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11/09/1": {
      "main": [
        [
          {
            "node": "Pre-venda-imersão1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11hs": {
      "main": [
        [
          {
            "node": "11/09/1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11/09/2": {
      "main": [
        [
          {
            "node": "Pre-venda-imersão2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6hs": {
      "main": [
        [
          {
            "node": "11/09/2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13/09/2024": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18h": {
      "main": [
        [
          {
            "node": "13/09/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem2": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoAntigo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaSecreta1": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoLucrativo#",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoLucrativo#": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoNovo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoAntigo1": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaSecreta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoNovo1": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoAutoadministravel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoAutoadministravel1": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#5": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#6": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#7": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#8": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13h": {
      "main": [
        [
          {
            "node": "14/09/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14/09/2024": {
      "main": [
        [
          {
            "node": "mensagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem3": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoAntigo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaSecreta2": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoLucrativo#1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoLucrativo#1": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoNovo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoAntigo2": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaSecreta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoNovo2": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoAutoadministravel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoAutoadministravel2": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#10": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#11": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#12": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#13": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15h": {
      "main": [
        [
          {
            "node": "15/09/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15/09/2024": {
      "main": [
        [
          {
            "node": "mensagem3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem4": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoAntigo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaSecreta3": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoLucrativo#3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoLucrativo#3": {
      "main": [
        [
          {
            "node": "MensagemGrupoAoVivoNovo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoAntigo3": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaSecreta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoAoVivoNovo3": {
      "main": [
        [
          {
            "node": "MensagemGrupoSalaoAutoadministravel3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSalaoAutoadministravel3": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#15": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#16": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#17": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkshopSalaoAutoadministrável#18": {
      "main": [
        [
          {
            "node": "WorkshopSalaoAutoadministrável#19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16/09/2024": {
      "main": [
        [
          {
            "node": "mensagem4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8h": {
      "main": [
        [
          {
            "node": "16/09/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-28T23:20:10.639Z",
  "id": "q6IMwFkLFK5nY6mj",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "📅[HENRY SANTOS] - Lembrete Grupos",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb4581f7-fc6a-4dd8-921c-4bf38304ad21",
              "name": "mensagem",
              "value": "🔍 *Descubra Tudo Sobre a Sala Secreta!* 🔍\n\nImagine ter acesso exclusivo aos segredos que transformaram centenas de salões em negócios lucrativos e autoadministráveis!\n \n💥 Na *Sala Secreta*, Henry Santos e Amélia Pinheiro vão revelar como você pode alcançar *mais tempo, mais dinheiro e mais liberdade* com seu salão.\n\n✨ *O que você vai encontrar*:\n\nEstratégias inéditas para transformar seu salão.\nSpoilers exclusivos da *Imersão Presencial* em Florianópolis.\nCondições especiais na pré-venda do *Lote Zero* da Imersão.\n\n🚀 Não deixe essa oportunidade passar! Entre na *Sala Secreta* e prepare-se para transformar seu negócio.\n\n👉 *Clique aqui e descubra tudo*!\n\n📲 https://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "824ce061-6059-4195-a764-3dc75cae26bd",
      "name": "mensagem1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2160,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363314632556359@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem1\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "e30e07fa-bb69-40aa-b6ee-0f256e8af60c",
      "name": "MensagemGrupoMSA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2340,
        1120
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363297457001793@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem1\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "193ac694-aa1d-4626-8c6b-f5334c450cd0",
      "name": "MensagemGrupoMSA3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2540,
        1120
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363318948095655@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem1\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "c626ce36-cd96-4a25-8ecb-af13eefdf6ad",
      "name": "MensagemGrupoSoftware1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2740,
        1120
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "11/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e9a6856-5b5b-49d6-8ed3-38d9661138f0",
      "name": "11/09/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1960,
        1120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "13188ca3-7b7b-402f-a3c5-c079cac4ce55",
      "name": "13hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1760,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb4581f7-fc6a-4dd8-921c-4bf38304ad21",
              "name": "mensagem",
              "value": "Na Sala Secreta, você terá acesso a um conteúdo exclusivo que pode transformar completamente a gestão do seu salão. Aqui estão os principais pontos que serão abordados:\n\n🔑 Spoilers da Imersão Presencial: Você vai descobrir os detalhes inéditos dos 3 dias da Imersão Salão Autoadministrável que acontecerá em Florianópolis em outubro.\n\n💼 Estratégias de Gestão: Henry Santos e Amélia Pinheiro vão compartilhar segredos e táticas que transformaram centenas de salões em negócios autoadministráveis, lucrativos e com equipes engajadas, mesmo sem a sua presença constante.\n\n🎯 Oportunidade Única – Lote Zero: No final da Sala Secreta, você terá a chance de adquirir o ingresso para a Imersão Presencial com condições especiais, exclusivas para quem estiver ao vivo.\n\n🚀 Transformação Real: Saia da Sala Secreta com uma visão clara de como levar seu salão ao próximo nível e conquistar mais liberdade, tempo e dinheiro!\n\nNão perca essa oportunidade!\n\nToque aqui e garanta sua vaga gratuita: \n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bdf7982f-e702-451e-91af-9ee2ac017ede",
      "name": "mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2160,
        1480
      ]
    },
    {
      "parameters": {
        "content": "## ATIVAR",
        "height": 80
      },
      "id": "094cebfb-147c-498d-b426-826ff102cb61",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363307022792711@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "6457806d-20af-4f25-9f0c-dfa70505014a",
      "name": "MensagemGrupoSalaSecreta",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2540,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363023112844213@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a0a83f37-2dba-4bb9-928c-2f5da16db5e9",
      "name": "MensagemGrupoSalaoLucrativo#2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2760,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363250366394159@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "77bac7ee-baf1-4e6a-99c9-5fe19529cedb",
      "name": "MensagemGrupoAoVivoAntigo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2340,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363295424007193@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "00b154ca-b642-4663-ac31-76bb0e9d477a",
      "name": "MensagemGrupoAoVivoNovo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2980,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363198578363705@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3b3dede6-0b8e-47a7-8440-1ba523792d6d",
      "name": "MensagemGrupoSalaoAutoadministravel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3180,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363140239918470@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "c685dc83-1ae2-4c96-84f0-e478453d82a4",
      "name": "WorkshopSalaoAutoadministrável#2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3400,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363142617591762@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d3fd3aa0-d337-44f3-a64c-7e6b05370050",
      "name": "WorkshopSalaoAutoadministrável#",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3600,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363149352683773@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "6a221b7d-088e-4207-9615-2d5dbd97c69c",
      "name": "WorkshopSalaoAutoadministrável#1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3780,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363146185437035@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d081acff-bf5d-403e-957d-72a61b632407",
      "name": "WorkshopSalaoAutoadministrável#3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3980,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363157785119277@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a5793fee-22e9-4bda-a17c-e6a38b56d84c",
      "name": "WorkshopSalaoAutoadministrável#4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4200,
        1480
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363256444706105@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5947ffc4-c138-42ee-8154-f678b72e9ec5",
      "name": "MensagemGrupoTeste1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1080,
        1500
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "11/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ea49786-362f-400d-941f-aaabd174b8d5",
      "name": "11/09/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        820
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "f1b9de7d-f562-4c05-86a6-08e8551e02e5",
      "name": "7hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363331626654305@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "=🎉 Bom dia, pessoal! Preparados para começar nossa jornada rumo ao salão autoadministrável?\n\nHoje temos uma live incrível às *11*h com o *Henry Santos e a Amélia Pinheiro* sobre Como Engajar a Equipe e Fazer com que Ela Funcione Sem Sua Presença.\n\nEsse é um conteúdo indispensável para quem quer ter uma equipe motivada e autônoma!\n\nAssim que a Live começar você pode assistir pelo Instagram do Henry Santos: https://www.instagram.com/henrysantossim?igsh=MTVkZ2Z0b2hzaGExaw==\n\n e da Amélia Pinheiro: https://www.instagram.com/ameliampinheiro?igsh=Nnp3Mzd2YjQ1NGIz"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "afd4f37d-792f-4e92-aa08-6be02e68945f",
      "name": "Pre-venda-imersão",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1560,
        820
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "11/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "74a0ae30-f0c9-4011-b151-9394a0951698",
      "name": "11/09/1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363331626654305@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "=📢 Estamos AO VIVO! Não perca a chance de aprender diretamente com Henry e Amélia.\n\nEstão prontos para descobrir como construir uma equipe que funcione de forma autônoma?\n\n👉 Clique aqui para acompanhar ao vivo!\n\nhttps://www.instagram.com/henrysantossim?igsh=MTVkZ2Z0b2hzaGExaw== \n\nou\n\nhttps://www.instagram.com/ameliampinheiro?igsh=Nnp3Mzd2YjQ1NGIz"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "dd885b92-55f5-4c0a-8e58-1bad1c8c7c66",
      "name": "Pre-venda-imersão1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1560,
        1000
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "abc616d8-4e38-4dab-a27d-ffabf25ba1a3",
      "name": "11hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "11/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e1a648e-9742-46ab-bdf5-c91d4eced921",
      "name": "11/09/2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        1160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363331626654305@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "=🤩 *Que aula foi essa hoje, pessoal*?\n\nE estamos só começando! \n\nJá imaginou *seu salão funcionando perfeitamente, mesmo quando você não está lá?*\n\nIsso é possível e vamos te mostrar o caminho.\n\nFique ligado(a), amanhã tem mais! 👀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "320ec712-9ddf-428c-8275-c98bb8f95720",
      "name": "Pre-venda-imersão2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1560,
        1160
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "afb6b03f-7070-4905-816b-382b97c200e1",
      "name": "6hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "13/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "531fcf19-464f-44ec-9456-881ea80457c4",
      "name": "13/09/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1960,
        1480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "3d02fa30-218a-4693-87c4-89b821983194",
      "name": "18h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1760,
        1480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb4581f7-fc6a-4dd8-921c-4bf38304ad21",
              "name": "mensagem",
              "value": "Ao participar da Sala Secreta, você pode esperar resultados transformadores para o seu salão e sua vida profissional. Aqui estão os principais ganhos que você terá:\n\n💡 Clareza e Direção: Você vai entender exatamente quais passos seguir para transformar seu salão em um negócio autoadministrável e lucrativo.\n\n🚀 Spoiler Exclusivo: Descubra em primeira mão os segredos da Imersão Presencial de Florianópolis e esteja à frente do mercado com estratégias que só quem está na Sala Secreta vai conhecer!\n\n🎯 Planejamento Claro: Saia da Sala Secreta com um plano concreto de ação para começar a implementar as mudanças necessárias e ver resultados práticos no seu salão.\n\n🔥 Acesso Exclusivo à Pré-venda: Somente quem participar da Sala Secreta terá condições especiais para garantir sua vaga na Imersão Presencial, onde você aprofundará essas estratégias.\n\n🚀https://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4e00127c-11cd-42fa-a347-d40c998d842d",
      "name": "mensagem2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2160,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363307022792711@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "29d6b175-e527-4c9c-944d-513e64ca79cb",
      "name": "MensagemGrupoSalaSecreta1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2540,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363023112844213@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "62057d60-46a4-417f-8e51-dc6d640e329b",
      "name": "MensagemGrupoSalaoLucrativo#",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2760,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363250366394159@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "38569d39-41d4-4007-ac49-00f42b1bcdfc",
      "name": "MensagemGrupoAoVivoAntigo1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2340,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363295424007193@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "00b2a1e9-cd2d-46d6-b9a2-740058509d60",
      "name": "MensagemGrupoAoVivoNovo1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2980,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363198578363705@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "cbfd34c9-9f03-4227-9366-3ef06042dadd",
      "name": "MensagemGrupoSalaoAutoadministravel1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3180,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363140239918470@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d987cbfc-f9da-4245-9590-66c9dbbfb516",
      "name": "WorkshopSalaoAutoadministrável#5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3400,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363142617591762@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "6b399367-3a41-4636-b25b-d8acfd4b58ab",
      "name": "WorkshopSalaoAutoadministrável#6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3600,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363149352683773@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5ae1b0d1-821b-4769-9fca-3b27e8873630",
      "name": "WorkshopSalaoAutoadministrável#7",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3780,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363146185437035@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9059cb88-dafb-41be-a60d-05a961e4c6cc",
      "name": "WorkshopSalaoAutoadministrável#8",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3980,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363157785119277@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem2\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "901694b2-2e5c-408a-a2f9-03336e9e3fec",
      "name": "WorkshopSalaoAutoadministrável#9",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4200,
        1680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "8ddf4a12-4a22-41e7-bb83-d51ffe73c379",
      "name": "13h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1760,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "14/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6330405e-0096-439e-8120-51e581a3287f",
      "name": "14/09/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1960,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb4581f7-fc6a-4dd8-921c-4bf38304ad21",
              "name": "mensagem",
              "value": "Prepare-se para algo que você nunca viu antes! Henry Santos e Amélia Pinheiro, juntos pela primeira vez, em um evento exclusivo que pode mudar o rumo do seu salão.\n\nE o melhor: você pode ter acesso a tudo isso na nossa Sala Secreta, onde serão revelados detalhes inéditos e condições especiais para a pré-venda.\n \nNão perca essa chance única de aprender com os melhores e elevar seu negócio a um novo patamar.\n\nClique aqui e entre na Sala Secreta agora! \n\n🚀https://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "736d6818-81a6-4fd2-b260-3bdafe885a88",
      "name": "mensagem3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2160,
        1880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363307022792711@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "012c302d-1034-4396-9860-59af489e2010",
      "name": "MensagemGrupoSalaSecreta2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2540,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363023112844213@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "350090ed-f30e-4426-809e-438d3e638e52",
      "name": "MensagemGrupoSalaoLucrativo#1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2760,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363250366394159@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "cd545f7a-11db-465c-b926-586fd333082d",
      "name": "MensagemGrupoAoVivoAntigo2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2340,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363295424007193@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "630d3c26-a4b4-45ce-85de-778ca9dcce16",
      "name": "MensagemGrupoAoVivoNovo2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2980,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363198578363705@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "bf619fba-3fa6-4fd6-861d-25d182995105",
      "name": "MensagemGrupoSalaoAutoadministravel2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3180,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363140239918470@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "06a9d36c-29ba-4046-85b8-49d57fce0e4a",
      "name": "WorkshopSalaoAutoadministrável#10",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3400,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363142617591762@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5dc2629c-efbf-4060-be63-065faf4239b4",
      "name": "WorkshopSalaoAutoadministrável#11",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3600,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363149352683773@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "70dd4a54-b9e8-47ab-89ce-1ab0f63b12bf",
      "name": "WorkshopSalaoAutoadministrável#12",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3780,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363146185437035@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f330c921-a2ad-465d-a7d4-0c59201388f2",
      "name": "WorkshopSalaoAutoadministrável#13",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3980,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363157785119277@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem3\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "976adf49-d417-4494-87a9-5abd06de079c",
      "name": "WorkshopSalaoAutoadministrável#14",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4200,
        1880
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "id": "edc1f92f-1e9b-42aa-9a38-d7e8c8ce1604",
      "name": "15h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1760,
        1880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "15/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "45aa02ce-e0af-4254-b7aa-a56ad08c18cb",
      "name": "15/09/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1960,
        1880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb4581f7-fc6a-4dd8-921c-4bf38304ad21",
              "name": "mensagem",
              "value": "💥 Já vou logo avisando: sente-se, porque essa é de cair da cadeira!\n\nImagine ter acesso a uma dupla de especialistas em gestão pra Salão num evento PRESENCIAL na Ilha  da Magia? Isso mesmo, em Florianópolis! \n\nHenry Santos e Amélia Pinheiro vão te esperar na Sala Secreta para revelar tudo. Os principais benefícios da Sala Secreta são:\n\nAcesso Exclusivo a Informações Privilegiadas: Descubra em primeira mão os detalhes inéditos dos 3 dias da Imersão Presencial em Florianópolis, incluindo estratégias e segredos nunca revelados antes.\n\nSpoiler da Imersão Presencial: Tenha acesso antecipado às condições especiais de pré-venda, garantindo seu ingresso no lote zero, com descontos e benefícios exclusivos.\n\nOportunidade Única de Crescimento: A Sala Secreta é a porta de entrada para obter uma vantagem competitiva no mercado, implementando mudanças que podem transformar completamente a forma como você gere seu salão.\n\nVai deixar essa oportunidade passar? 😏 \n\nToque aqui e inscreva-se gratuitamente agora!\n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "67282df0-5a38-478e-ac14-801b5eb4735b",
      "name": "mensagem4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2160,
        2080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363307022792711@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "89982f9c-0553-41fa-9c33-243493675bb4",
      "name": "MensagemGrupoSalaSecreta3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2540,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363023112844213@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a22d11df-73ea-4481-9743-041815d454dc",
      "name": "MensagemGrupoSalaoLucrativo#3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2760,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363250366394159@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "7ffe8e71-af3a-410b-a9ae-913a31bbbac3",
      "name": "MensagemGrupoAoVivoAntigo3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2340,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363295424007193@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3a46ad1f-87d9-4d3e-816d-a840616e5129",
      "name": "MensagemGrupoAoVivoNovo3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2980,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363198578363705@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a4ae8055-ddf7-4205-b5a7-93e4263afa7a",
      "name": "MensagemGrupoSalaoAutoadministravel3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3180,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363140239918470@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3d29593c-bad3-4733-941f-5816d408f8f8",
      "name": "WorkshopSalaoAutoadministrável#15",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3400,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363142617591762@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "8434144f-657f-4f7c-9142-4c56a318242b",
      "name": "WorkshopSalaoAutoadministrável#16",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3600,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363149352683773@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "352fce86-db6c-46e4-beef-cb4d0436c845",
      "name": "WorkshopSalaoAutoadministrável#17",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3780,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363146185437035@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "897126c6-f633-4100-9ceb-18c0bbec6290",
      "name": "WorkshopSalaoAutoadministrável#18",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3980,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363157785119277@g.us"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"mensagem4\"].json[\"mensagem\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "149425e6-e738-41cd-80cb-636bce3eba62",
      "name": "WorkshopSalaoAutoadministrável#19",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4200,
        2080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c23e69bf-3556-4d8f-8613-b28b3303573b",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "16/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8159b634-6708-4a0e-a164-c29794d6ec82",
      "name": "16/09/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1960,
        2080
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "bea699b5-6e17-4955-aaad-21fde36ec6e4",
      "name": "8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1760,
        2080
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": {
    "node:todo_dia_7:00": {
      "recurrencyRules": []
    },
    "node:todo_dia_8:": {
      "recurrencyRules": []
    },
    "node:todo_dia_8:1": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:15_manha": {
      "recurrencyRules": []
    },
    "node:dispara_as_12:15": {
      "recurrencyRules": []
    },
    "node:dispara_as_19:15": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:00_manha": {
      "recurrencyRules": []
    },
    "node:dispara_as_17:00": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:00": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:": {
      "recurrencyRules": []
    },
    "node:dispara_as_18hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_18hs1": {
      "recurrencyRules": []
    },
    "node:dispara_as_7hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_12hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_8": {
      "recurrencyRules": []
    },
    "node:dispara_as_22hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_19hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_20hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_8hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_8hs1": {
      "recurrencyRules": []
    },
    "node:dispara_as_8hs2": {
      "recurrencyRules": []
    },
    "node:dispara_as_6:30h": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:30h1": {
      "recurrencyRules": []
    },
    "node:dispara_as_8h": {
      "recurrencyRules": []
    },
    "node:dispara_as_6:30h1": {
      "recurrencyRules": []
    },
    "node:dispara_as_9:30h": {
      "recurrencyRules": []
    },
    "node:dispara_as_9:30h1": {
      "recurrencyRules": []
    },
    "node:dispara_as_18:30h": {
      "recurrencyRules": []
    },
    "node:dispara_as_7:30h": {
      "recurrencyRules": []
    },
    "node:dispara_as_12hs1": {
      "recurrencyRules": []
    },
    "node:dispara_as_14hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_16hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_17hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_17:30hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_17:45hs": {
      "recurrencyRules": []
    },
    "node:dispara_as_18:15hs": {
      "recurrencyRules": []
    },
    "node:13hs": {
      "recurrencyRules": []
    },
    "node:13hs1": {
      "recurrencyRules": []
    },
    "node:18hs": {
      "recurrencyRules": []
    },
    "node:18hs1": {
      "recurrencyRules": []
    },
    "node:7hs": {
      "recurrencyRules": []
    },
    "node:11hs": {
      "recurrencyRules": []
    },
    "node:6hs": {
      "recurrencyRules": []
    },
    "node:12h": {
      "recurrencyRules": []
    },
    "node:18h": {
      "recurrencyRules": []
    },
    "node:18h1": {
      "recurrencyRules": []
    },
    "node:13h": {
      "recurrencyRules": []
    },
    "node:15h": {
      "recurrencyRules": []
    },
    "node:15h1": {
      "recurrencyRules": []
    },
    "node:8h": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-03-27T14:03:25.264Z",
      "updatedAt": "2024-03-27T14:03:25.264Z",
      "id": "Ju8yPHXMHj0pxd19",
      "name": "[LEMBRETE]"
    }
  ],
  "triggerCount": 8,
  "updatedAt": "2024-09-13T21:42:01.800Z",
  "versionId": "1558fc68-6b76-4b0e-aa57-72f3addc3fa1"
}