workflows/📱[HENRY SANTOS] - Disparo X1 - Evolution.json
{
  "active": false,
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_evolution": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagem_ascensão": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É ASCENSÃO": {
      "main": [
        [
          {
            "node": "MENSAGEM ASCENSÃO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAGEM RENOVAR": {
      "main": [
        [
          {
            "node": "EnviaMensagem_renovar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAGEM ASCENSÃO": {
      "main": [
        [
          {
            "node": "EnviaMensagem_ascensão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é data correta": {
      "main": [
        [
          {
            "node": "variaveis_evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_evolution1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio1": {
      "main": [
        [
          {
            "node": "Saida Aleatoria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria1": {
      "main": [
        [
          {
            "node": "40s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagem_renovar1": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É ASCENSÃO1": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MENSAGEM RENOVAR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAGEM RENOVAR1": {
      "main": [
        [
          {
            "node": "EnviaMensagem_renovar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é data correta1": {
      "main": [
        [
          {
            "node": "variaveis_evolution1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "agendou_reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou_reunião": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É ASCENSÃO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato1": {
      "main": [
        [
          {
            "node": "agendou_reunião1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou_reunião1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É ASCENSÃO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_evolution2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio2": {
      "main": [
        [
          {
            "node": "Saida Aleatoria2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria2": {
      "main": [
        [
          {
            "node": "40s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É ASCENSÃO2": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MENSAGEM RENOVAR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é data correta2": {
      "main": [
        [
          {
            "node": "variaveis_evolution2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato2": {
      "main": [
        [
          {
            "node": "agendou_reunião2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou_reunião2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É ASCENSÃO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagem_renovar2": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispara 07:30h1": {
      "main": [
        [
          {
            "node": "é data correta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispara 07:00h": {
      "main": [
        [
          {
            "node": "é data correta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAGEM ASCENSÃO2": {
      "main": [
        [
          {
            "node": "EnviaMensagem_ascensão2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAGEM RENOVAR2": {
      "main": [
        [
          {
            "node": "EnviaMensagem_renovar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispara 07:30h": {
      "main": [
        [
          {
            "node": "é data correta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-26T17:51:41.119Z",
  "id": "5LZmLWfufXDWIgpF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "📱[HENRY SANTOS] - Disparo X1 - Evolution",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3dab1e61-c435-4ff0-b76c-595f3266226a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        -1260
      ]
    },
    {
      "parameters": {},
      "id": "3288349e-3a42-4e3a-b65f-83bc6bfd6c12",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -160,
        -1520
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415112,
          "mode": "list",
          "cachedResultName": "Bot Conversa - Dados Tratados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1611415112"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefone",
              "lookupValue": "5561986034068"
            }
          ]
        },
        "options": {}
      },
      "id": "918bed03-cc02-4aad-849c-94c8e0152e20",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -920,
        -1260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "nome_evento"
            }
          ]
        },
        "options": {}
      },
      "id": "4c34586a-2c42-434f-933b-95bb173d444b",
      "name": "variaveis_evolution",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1120,
        -1260
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "ead3ce8c-eb69-46b5-9e8b-bc828a526866",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        -1260
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "c04f45fd-d6b1-4c11-a802-a453c0c5305f",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        -1060
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "b0a6376d-d774-418d-803f-70a31849129f",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        -1080
      ],
      "webhookId": "0b37d36a-ce02-4840-8598-7b330e39a5f7"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "83736ff3-84a0-4713-8b34-9f4554b6dfaf",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        -940
      ],
      "webhookId": "cb5fa9c4-686e-4582-92d1-7202b305793f"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "a2ee6e98-116a-4e87-a70c-6f72766e2ac0",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        -800
      ],
      "webhookId": "2d2ef18f-ddad-40a7-a96a-76601ab3ac62"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "a1757607-6ac1-49eb-8a09-d28065e2b188",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        -660
      ],
      "webhookId": "fc43b02f-2e64-43e1-85db-163af24a9771"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Loop Over Items\"].json[\"telefone\"].toString() }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Olá {{ $node[\"Loop Over Items\"].json[\"nome\"].split(' ')[0].charAt(0).toUpperCase() + $node[\"Loop Over Items\"].json[\"nome\"].split(' ')[0].slice(1).toLowerCase() }},\n\nEstá na hora de investir no futuro do seu salão.\n \nQueremos te ajudar a construir sua história de sucesso com o SIM e a MSA Advanced.\n\nClique aqui para aplicar e ter sua vaga garantida dentro da MSA Advanced: https://form.typeform.com/to/qUf6q2k5 "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "4b417589-bd87-4cda-86e0-d40002aea1d4",
      "name": "EnviaMensagem_ascensão",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        240,
        -1340
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Loop Over Items\"].json[\"telefone\"].toString() }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Atenção {{ $node[\"Loop Over Items\"].json[\"nome\"].split(' ')[0].charAt(0).toUpperCase() + $node[\"Loop Over Items\"].json[\"nome\"].split(' ')[0].slice(1).toLowerCase() }},\n\nas vagas para o Diagnóstico e plano de ação deste mês estão acabando! Garanta seu espaço agora antes que seja tarde.\n\nClique aqui 👇 e garanta sua vaga gratuita: \n\nhttps://form.typeform.com/to/qUf6q2k5 "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3042f52d-7dc1-4388-9092-8fbdddbf20eb",
      "name": "EnviaMensagem_renovar",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        240,
        -1180
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ae72e376-1f7c-44bb-90ef-1a2177b45ea3",
              "leftValue": "={{ $node[\"Loop Over Items\"].json[\"etiquetas\"] }}",
              "rightValue": "ASCENSÃO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5cce61c0-b96b-49fd-851a-065c0b5069c4",
      "name": "É ASCENSÃO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        -1260
      ]
    },
    {
      "parameters": {},
      "id": "4bf0b559-0a54-4ccb-a239-73e752001323",
      "name": "MENSAGEM ASCENSÃO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        40,
        -1340
      ]
    },
    {
      "parameters": {},
      "id": "d15e9cf7-9f0e-4364-b024-1c42ba0afc02",
      "name": "MENSAGEM RENOVAR",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        40,
        -1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8e3d27a6-33ba-4088-b7cb-39132cd47dcb",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "30/06/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ca69cc70-5438-40c3-bc14-89376d1a8766",
      "name": "é data correta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1340,
        -1260
      ]
    },
    {
      "parameters": {},
      "id": "2a5eda81-345b-4be0-8150-3fb991dd3266",
      "name": "Replace Me1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1120,
        -1120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "584fba83-b263-49e6-aec9-5873c2b0db58",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -347,
        1840
      ]
    },
    {
      "parameters": {},
      "id": "182b03f6-ddc0-43d5-9e8f-6d299123b995",
      "name": "Replace Me2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        373,
        1680
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415112,
          "mode": "list",
          "cachedResultName": "Bot Conversa - Dados Tratados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1611415112"
        },
        "options": {}
      },
      "id": "e70e8c79-edb4-487c-8b2a-f3a20310b454",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -507,
        1840
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "nome_evento"
            }
          ]
        },
        "options": {}
      },
      "id": "ab8c8ca8-22d6-439c-af74-5dbcc200ff11",
      "name": "variaveis_evolution1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -667,
        1840
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "5864c2ca-3f2d-44a1-a96a-7baa63ce650a",
      "name": "Retorna Output Aleatorio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        993,
        1860
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "bb061569-06b7-4d9b-bbbc-c8ba55f3633c",
      "name": "Saida Aleatoria1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1193,
        2060
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "0c9bafad-4eb8-47ad-8517-65109f7d317d",
      "name": "40s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1513,
        2040
      ],
      "webhookId": "0b37d36a-ce02-4840-8598-7b330e39a5f7"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "44a5902a-c3d5-4ef1-8041-4c83ea01151d",
      "name": "45s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1513,
        2180
      ],
      "webhookId": "cb5fa9c4-686e-4582-92d1-7202b305793f"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "5e2a7c74-fa2d-4f76-b29a-d0c7cac864cc",
      "name": "50s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1513,
        2320
      ],
      "webhookId": "2d2ef18f-ddad-40a7-a96a-76601ab3ac62"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "36086b1f-3c68-40d6-8eeb-c56d3ff3ea58",
      "name": "53s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1513,
        2460
      ],
      "webhookId": "fc43b02f-2e64-43e1-85db-163af24a9771"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Loop Over Items1\"].json[\"telefone\"].toString() }}"
            },
            {
              "name": "textMessage.text",
              "value": "=*Última chamada*, {{ $node[\"Loop Over Items1\"].json[\"nome\"].split(' ')[0].charAt(0).toUpperCase() + $node[\"Loop Over Items1\"].json[\"nome\"].split(' ')[0].slice(1).toLowerCase() }}! \n\nAgende sua sessão de diagnóstico, as vagas vão somente até AMANHÃ. Agende e receba o Plano de Metas do seu salão pros próximos 6 meses grátis. \n\nClique agora https://calendly.com/henry-dossantos/sessao-estrategica-acompanhamento-vip "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "2a36b874-84d7-4e75-bc93-744a2e94591b",
      "name": "EnviaMensagem_renovar1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        773,
        1940
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ae72e376-1f7c-44bb-90ef-1a2177b45ea3",
              "leftValue": "={{ $node[\"Loop Over Items1\"].json[\"etiquetas\"] }}",
              "rightValue": "ASCENSÃO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6afbd9b4-5013-48b5-90d0-4578e5482c08",
      "name": "É ASCENSÃO1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        373,
        1860
      ]
    },
    {
      "parameters": {},
      "id": "39120186-9d1a-4b7e-b599-2fb31ca06c50",
      "name": "MENSAGEM RENOVAR1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        573,
        1940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8e3d27a6-33ba-4088-b7cb-39132cd47dcb",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "30/06/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad88d141-23e3-40b0-aee3-19a58ca36ce2",
      "name": "é data correta1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -927,
        1840
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "3e3abc9e-d6de-456b-b27e-0f03c83b7a76",
      "name": "Dispara 07:30h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1107,
        1840
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"Loop Over Items1\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Loop Over Items1\"].json[\"nome\"].slice(0,1).toUpperCase() }}{{ $node[\"Loop Over Items1\"].json[\"nome\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Loop Over Items1\"].json[\"nome\"].split(' ')[1] ? $node[\"Loop Over Items1\"].json[\"nome\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -67,
        1860
      ],
      "id": "fe01a5c0-df9d-4c0b-8f57-8add34f72b1e",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ae72e376-1f7c-44bb-90ef-1a2177b45ea3",
              "leftValue": "={{ $json[\"variables\"][\"agendouCall\"] }}",
              "rightValue": "Agendou Reunião",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f55cf3d8-566c-4511-b1c8-0e18ccad53b5",
      "name": "agendou_reunião",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        93,
        1860
      ]
    },
    {
      "parameters": {},
      "id": "61cd45bf-3ce3-44a7-bb52-b95324bfaa7f",
      "name": "Replace Me3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -727,
        2040
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"Loop Over Items\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Loop Over Items\"].json[\"nome\"].slice(0,1).toUpperCase() }}{{ $node[\"Loop Over Items\"].json[\"nome\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Loop Over Items\"].json[\"nome\"].split(' ')[1] ? $node[\"Loop Over Items\"].json[\"nome\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            }
          ]
        }
      },
      "name": "cadastrar_contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -520,
        -1240
      ],
      "id": "bb9ee3e8-0c2f-466e-aac1-259d03c13149",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ae72e376-1f7c-44bb-90ef-1a2177b45ea3",
              "leftValue": "={{ $json[\"variables\"][\"agendouCall\"] }}",
              "rightValue": "Agendou Reunião",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "739b26c0-1074-4b81-9138-6d304daab6d5",
      "name": "agendou_reunião1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -360,
        -1260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5cc15814-f0a3-47bc-95bc-fb1207fc7f41",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        360
      ]
    },
    {
      "parameters": {},
      "id": "ab274210-89be-4271-8eb5-3bea4492789f",
      "name": "Replace Me4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        100
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415112,
          "mode": "list",
          "cachedResultName": "Bot Conversa - Dados Tratados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1611415112"
        },
        "options": {}
      },
      "id": "ba20855f-bbf4-47c0-b133-99bbbeb97750",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -840,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "thfsu44kbci86256xt71p4"
            },
            {
              "name": "nome_da_instancia",
              "value": "HenrySantos"
            },
            {
              "name": "nome_evento"
            }
          ]
        },
        "options": {}
      },
      "id": "5a384272-f4b3-4c37-8b0b-a09faca0e4e8",
      "name": "variaveis_evolution2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1040,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "d89fd5b3-4a4c-4fcb-b0b8-bcebef7c6b1b",
      "name": "Retorna Output Aleatorio2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        640,
        340
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fbab8ee2-c1aa-4288-848f-495d867262b5",
      "name": "Saida Aleatoria2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        920,
        480
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "96ab6bca-b21d-487f-ae3a-568b7d66f2dd",
      "name": "40s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        460
      ],
      "webhookId": "0b37d36a-ce02-4840-8598-7b330e39a5f7"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "7e6cd307-21da-47d3-8236-591191385add",
      "name": "45s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        600
      ],
      "webhookId": "cb5fa9c4-686e-4582-92d1-7202b305793f"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "c0c3ba18-6869-41f9-85d3-9dc698190f0b",
      "name": "50s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        740
      ],
      "webhookId": "2d2ef18f-ddad-40a7-a96a-76601ab3ac62"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "83894a50-aa74-433a-9947-b660739beaa1",
      "name": "53s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        880
      ],
      "webhookId": "fc43b02f-2e64-43e1-85db-163af24a9771"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution2\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution2\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution2\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Loop Over Items2\"].json[\"telefone\"].toString() }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Oi {{ $node[\"Loop Over Items2\"].json[\"nome\"].split(' ')[0].charAt(0).toUpperCase() + $node[\"Loop Over Items2\"].json[\"nome\"].split(' ')[0].slice(1).toLowerCase() }},\n\n\nImagine ter um plano de metas estratégico claro para os próximos 6 meses, desenhado exclusivamente para o seu salão. Isso é exatamente o que você terá na Sessão Estratégica.\n\nAlém da oportunidade de fazer parte do MSA Advanced, um novo programa de acelerador de salões. \n\nNão perca essa oportunidade se você quer fazer parte!\n\nClique aqui para aplicar: https://form.typeform.com/to/qUf6q2k5 \n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "c1299353-3b1d-4266-bb41-97c17fe914b0",
      "name": "EnviaMensagem_ascensão2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        440,
        -40
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution2\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution2\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution2\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Loop Over Items2\"].json[\"telefone\"].toString() }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Clique aqui: https://calendly.com/henry-dossantos/sessao-estrategica-acompanhamento-vip\n\nPara escolher o melhor horário para seu diagnóstico.  Vamos dar o primeiro passo juntos para o sucesso!"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d0553094-5574-4b1b-b74d-3af542b9654b",
      "name": "EnviaMensagem_renovar2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        360,
        420
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ae72e376-1f7c-44bb-90ef-1a2177b45ea3",
              "leftValue": "={{ $node[\"Loop Over Items2\"].json[\"etiquetas\"] }}",
              "rightValue": "ASCENSÃO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc251a48-6b47-4ae6-a7f8-324c3fcc75bc",
      "name": "É ASCENSÃO2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -100,
        340
      ]
    },
    {
      "parameters": {},
      "id": "c35b6797-7f42-4b18-8fd9-34debdbe6cf6",
      "name": "MENSAGEM ASCENSÃO2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "c2ff1268-2ba6-42d9-8a46-11f850f8632e",
      "name": "MENSAGEM RENOVAR2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8e3d27a6-33ba-4088-b7cb-39132cd47dcb",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "29/06/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "6a3e6831-a473-4db7-b241-862a02af8d83",
      "name": "é data correta2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1260,
        360
      ]
    },
    {
      "parameters": {},
      "id": "bf633982-93d7-4bd8-9611-2c2ca88fcc27",
      "name": "Replace Me5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1040,
        500
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"Loop Over Items2\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Loop Over Items2\"].json[\"nome\"].slice(0,1).toUpperCase() }}{{ $node[\"Loop Over Items2\"].json[\"nome\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Loop Over Items2\"].json[\"nome\"].split(' ')[1] ? $node[\"Loop Over Items2\"].json[\"nome\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            }
          ]
        }
      },
      "name": "cadastrar_contato2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -440,
        380
      ],
      "id": "60230304-6e03-4f40-9bfc-946d29e2b634",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ae72e376-1f7c-44bb-90ef-1a2177b45ea3",
              "leftValue": "={{ $json[\"variables\"][\"agendouCall\"] }}",
              "rightValue": "Agendou Reunião",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6dffc229-f5ae-4aa9-8d6c-2b2072c26032",
      "name": "agendou_reunião2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -280,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "a8502cc2-36f3-4a6f-bfab-7dccfecbd101",
      "name": "Dispara 07:30h1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1560,
        -1260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "1222e13e-27ac-4393-9f07-b04b5517f68e",
      "name": "Dispara 07:00h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1480,
        360
      ]
    },
    {
      "parameters": {
        "content": "## DISPARO",
        "height": 1090.8398532626038,
        "width": 3125.6387286566246
      },
      "id": "fc29c965-7b40-475f-b465-91a13c77b05b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1140,
        1620
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Dispara 19:30h": {
      "recurrencyRules": []
    },
    "node:Dispara 19:30h1": {
      "recurrencyRules": []
    },
    "node:Dispara 07:30h": {
      "recurrencyRules": []
    },
    "node:Dispara 18:30h": {
      "recurrencyRules": []
    },
    "node:Dispara 07:30h1": {
      "recurrencyRules": []
    },
    "node:Dispara 07:00h": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-03-27T14:03:25.264Z",
      "updatedAt": "2024-03-27T14:03:25.264Z",
      "id": "Ju8yPHXMHj0pxd19",
      "name": "[LEMBRETE]"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2024-07-05T19:55:09.483Z",
  "versionId": "0a0d8718-9a82-4326-a647-e0d1b69215d7"
}