workflows/🚀[EVOLUTION] - Disparo em Massa - Sala Secreta.json
{
  "active": true,
  "connections": {
    "Item Lists1": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Mensagem-20-09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14hs": {
      "main": [
        [
          {
            "node": "19/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19/09": {
      "main": [
        [
          {
            "node": "le_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-09": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes2": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio1": {
      "main": [
        [
          {
            "node": "Saida Aleatoria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria1": {
      "main": [
        [
          {
            "node": "40s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Mensagem-20-",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13h": {
      "main": [
        [
          {
            "node": "19/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19/": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio2": {
      "main": [
        [
          {
            "node": "Saida Aleatoria2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria2": {
      "main": [
        [
          {
            "node": "40s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Mensagem-20-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-1": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19h": {
      "main": [
        [
          {
            "node": "20/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20/09": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes3": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada3": {
      "main": [
        [
          {
            "node": "separa_em_lotes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio3": {
      "main": [
        [
          {
            "node": "Saida Aleatoria3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria3": {
      "main": [
        [
          {
            "node": "40s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s3": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s3": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s3": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s3": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha3": {
      "main": [
        [
          {
            "node": "separa_em_lotes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Mensagem-20-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-2": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10h": {
      "main": [
        [
          {
            "node": "21/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "21/09": {
      "main": [
        [
          {
            "node": "le_planilha3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists4": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes4": {
      "main": [
        [
          {
            "node": "Item Lists4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada4": {
      "main": [
        [
          {
            "node": "separa_em_lotes4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio4": {
      "main": [
        [
          {
            "node": "Saida Aleatoria4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria4": {
      "main": [
        [
          {
            "node": "40s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s4": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s4": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s4": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s4": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha4": {
      "main": [
        [
          {
            "node": "separa_em_lotes4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Mensagem-20-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-3": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7h": {
      "main": [
        [
          {
            "node": "22/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "22/09": {
      "main": [
        [
          {
            "node": "le_planilha4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists5": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes5": {
      "main": [
        [
          {
            "node": "Item Lists5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada5": {
      "main": [
        [
          {
            "node": "separa_em_lotes5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio5": {
      "main": [
        [
          {
            "node": "Saida Aleatoria5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria5": {
      "main": [
        [
          {
            "node": "40s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s5": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s5": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s5": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s5": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha5": {
      "main": [
        [
          {
            "node": "separa_em_lotes5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Mensagem-20-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-4": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12h": {
      "main": [
        [
          {
            "node": "23/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23/09": {
      "main": [
        [
          {
            "node": "le_planilha5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists6": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes6": {
      "main": [
        [
          {
            "node": "Item Lists6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada6": {
      "main": [
        [
          {
            "node": "separa_em_lotes6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio6": {
      "main": [
        [
          {
            "node": "Saida Aleatoria6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria6": {
      "main": [
        [
          {
            "node": "40s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s6": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s6": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s6": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s6": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha6": {
      "main": [
        [
          {
            "node": "separa_em_lotes6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Mensagem-20-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-5": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17h": {
      "main": [
        [
          {
            "node": "23/9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23/9": {
      "main": [
        [
          {
            "node": "le_planilha6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists7": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes7": {
      "main": [
        [
          {
            "node": "Item Lists7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada7": {
      "main": [
        [
          {
            "node": "separa_em_lotes7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio7": {
      "main": [
        [
          {
            "node": "Saida Aleatoria7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria7": {
      "main": [
        [
          {
            "node": "40s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s7": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s7": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s7": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s7": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha7": {
      "main": [
        [
          {
            "node": "separa_em_lotes7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Mensagem-20-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-6": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18h30": {
      "main": [
        [
          {
            "node": "23/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23/": {
      "main": [
        [
          {
            "node": "le_planilha7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists8": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes8": {
      "main": [
        [
          {
            "node": "Item Lists8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada8": {
      "main": [
        [
          {
            "node": "separa_em_lotes8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio8": {
      "main": [
        [
          {
            "node": "Saida Aleatoria8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria8": {
      "main": [
        [
          {
            "node": "40s8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s8": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s8": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s8": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s8": {
      "main": [
        [
          {
            "node": "Não faz nada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha8": {
      "main": [
        [
          {
            "node": "separa_em_lotes8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Mensagem-20-7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-7": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20/": {
      "main": [
        [
          {
            "node": "le_planilha8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10h1": {
      "main": [
        [
          {
            "node": "20/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists9": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes9": {
      "main": [
        [
          {
            "node": "Item Lists9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada9": {
      "main": [
        [
          {
            "node": "separa_em_lotes9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio9": {
      "main": [
        [
          {
            "node": "Saida Aleatoria9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria9": {
      "main": [
        [
          {
            "node": "40s9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s9": {
      "main": [
        [
          {
            "node": "Não faz nada9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s9": {
      "main": [
        [
          {
            "node": "Não faz nada9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s9": {
      "main": [
        [
          {
            "node": "Não faz nada9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s9": {
      "main": [
        [
          {
            "node": "Não faz nada9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha9": {
      "main": [
        [
          {
            "node": "separa_em_lotes9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Mensagem-20-8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-8": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8h": {
      "main": [
        [
          {
            "node": "21/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "21/": {
      "main": [
        [
          {
            "node": "le_planilha9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists10": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes10": {
      "main": [
        [
          {
            "node": "Item Lists10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada10": {
      "main": [
        [
          {
            "node": "separa_em_lotes10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio10": {
      "main": [
        [
          {
            "node": "Saida Aleatoria10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria10": {
      "main": [
        [
          {
            "node": "40s10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s10": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s10": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s10": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s10": {
      "main": [
        [
          {
            "node": "Não faz nada10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha10": {
      "main": [
        [
          {
            "node": "separa_em_lotes10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Mensagem-20-9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-9": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "22/": {
      "main": [
        [
          {
            "node": "le_planilha10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19h1": {
      "main": [
        [
          {
            "node": "22/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists11": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes11": {
      "main": [
        [
          {
            "node": "Item Lists11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada11": {
      "main": [
        [
          {
            "node": "separa_em_lotes11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio11": {
      "main": [
        [
          {
            "node": "Saida Aleatoria11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria11": {
      "main": [
        [
          {
            "node": "40s11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s11": {
      "main": [
        [
          {
            "node": "Não faz nada11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s11": {
      "main": [
        [
          {
            "node": "Não faz nada11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s11": {
      "main": [
        [
          {
            "node": "Não faz nada11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s11": {
      "main": [
        [
          {
            "node": "Não faz nada11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha11": {
      "main": [
        [
          {
            "node": "separa_em_lotes11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Mensagem-20-10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-10": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23/11": {
      "main": [
        [
          {
            "node": "le_planilha11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8h1": {
      "main": [
        [
          {
            "node": "23/11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-18T12:25:45.320Z",
  "id": "pbGfgba48QyGgoVz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🚀[EVOLUTION] - Disparo em Massa - Sala Secreta",
  "nodes": [
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "2499cf73-6194-4723-b4ab-aceb5aaef6f7",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        140,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b1ed47e9-2c1b-4337-a930-163d74df32a3",
      "name": "EnviaMensagemTexto1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1520
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 785097095,
          "mode": "list",
          "cachedResultName": "Disparo_webinario_18/09",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=785097095"
        },
        "options": {}
      },
      "id": "c1bdabc9-7820-4e63-8cb7-c0b91c60b854",
      "name": "le_planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        1700
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fb18bb8c-23da-42dd-81ef-9f229fdb1dcc",
      "name": "separa_em_lotes1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "175276e6-16f2-44df-8d1b-611185e819a6",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "3593347f-0607-4c70-bc1d-1ce45320a970",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        1720
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fc29533a-69fd-4700-9442-b56ef5132e3c",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        740,
        1720
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "4ffbe31a-5009-422b-bb00-83a696aea36b",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1500
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "bf03c3f3-5e7e-46c2-ba65-e15bc9d81833",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1640
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "abc73cde-46ab-4799-82eb-3e4b2b6434fd",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1780
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "9e06393b-3edf-4320-8395-35253b5e048d",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1920
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes1\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "02087022-24a2-4bfa-b3c2-da4b46986f2d",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        1720
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "id": "2dc1f229-6de9-4fa2-b001-da627989f1c4",
      "name": "14hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "19/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e99f693-0982-4580-ac7f-b4055f3a9ad7",
      "name": "19/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code1\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=⚠️ _Você vai deixar essa oportunidade passar?_ ⚠️\nDia *23/09*, você pode decidir: continuar com o estresse diário ou finalmente aprender a liderar um salão que prospera mesmo sem você presente.\n\nA *Sala Secreta* vai abrir seus olhos para erros que estão drenando seu tempo, sua energia e, principalmente, seu dinheiro.\n\n📉 Cada dia que você adia essa transformação, o impacto é direto no seu salão, sua família e sua qualidade de vida.\nNão cometa o erro de ignorar o que pode ser a virada para sua liberdade. _Estar ao vivo pode fazer toda a diferença!_\n📋 Ei,e não deixe de preencher! Esse formulário é super importante para personalizarmos ainda mais a sua experiência na Imersão!\n 💇‍♂Queremos entender suas principais dores e objetivos para garantir que você tenha o melhor plano de ação para o seu salão.💰\n📲 Preencha agora e esteja preparado para a transformação!\nhttps://forms.gle/BrbGLANqwwV8332w7 \nVamos juntos nessa! 💪\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f7e6fe54-45d1-4107-ac08-5c6362e68dae",
      "name": "Mensagem-20-09",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1720
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "4b08af5f-8d3a-477e-a704-62fb96a9d9dd",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        140,
        2280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d8404673-c5a7-4329-a6bc-c8c188574e60",
      "name": "EnviaMensagemTexto2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        2280
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f4de1524-147f-4a94-9482-29c1537900e2",
      "name": "separa_em_lotes2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        2460
      ]
    },
    {
      "parameters": {},
      "id": "ca47a1b7-9618-4860-aae2-c969a8cf3fa4",
      "name": "Não faz nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        2680
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "46983d01-05fd-494e-a5f9-3051ff7fdadc",
      "name": "Retorna Output Aleatorio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        2480
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "2a73649b-e56c-4426-909c-52148ab2342a",
      "name": "Saida Aleatoria1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        740,
        2480
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "56ed8fb3-ffeb-431e-8675-8cb778132b7d",
      "name": "40s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        2260
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "3003c76a-5399-4e30-bf6e-59a3930c6186",
      "name": "45s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        2400
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "3d52e858-ba71-4124-bc88-d5c05d14189e",
      "name": "50s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        2540
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "ac2dc105-2817-4832-893e-45d44a3687bc",
      "name": "53s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        2680
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 164546055,
          "mode": "list",
          "cachedResultName": "Ativos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc/edit#gid=164546055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "abc35c84-da77-42bb-8258-cac9658f25ed",
      "name": "le_planilha2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        2460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes2\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "3faf4751-e3c4-4790-acb6-941aea31b7f5",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        2480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "423866ba-14a5-4185-b2b6-ae10989dd10a",
      "name": "13h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        2480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "19/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2e5a9e1-10dd-4fc1-92c3-ec3122c8c351",
      "name": "19/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        2480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code2\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Prepare-se para o evento que vai EXPLODIR sua mente! \n\n💥 Henry Santos e Amélia Pinheiro estão prontos para compartilhar SEGREDOS nunca antes revelados, TÁTICAS que vão turbinar seu salão, e ESTRATÉGIAS que podem mudar sua vida PARA SEMPRE! \n\n😱 Esta é sua chance de estar na IMERSÃO mais aguardada do ano.\n\n Quer saber como conquistar a liberdade de tempo, dinheiro e escolha? Então não perca a Sala Secreta! \n\nClica e se joga:⚡️https://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "bb7dfd16-ca30-4dce-b606-f7897d1d6f45",
      "name": "Mensagem-20-",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        2480
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "788bd33b-999d-477b-8e0e-529545bf8684",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        140,
        2920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b742246a-961a-46d3-ae92-bbfa5cd4d44f",
      "name": "EnviaMensagemTexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        2920
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fff61ed2-02bd-4cf1-ba4f-92fb6e055708",
      "name": "separa_em_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        3100
      ]
    },
    {
      "parameters": {},
      "id": "2b9e5df3-294f-4ad0-9e3a-dcd0091bdae6",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        3320
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "87f7b84a-5fad-416f-be7e-2ca85ae4977c",
      "name": "Retorna Output Aleatorio2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        3120
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "05b526f5-ec0b-43d9-b97c-9714e3c151bc",
      "name": "Saida Aleatoria2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        740,
        3120
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "ae7027aa-4030-4b59-afed-268a8a900615",
      "name": "40s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        2900
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "6de18fcb-00cf-4f63-9197-e94097bc9225",
      "name": "45s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        3040
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "173c7ec1-cf39-4a8c-87e8-ed73aeef344d",
      "name": "50s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        3180
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "9be182d5-640d-41ae-bb6d-e7f17901060c",
      "name": "53s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        3320
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 164546055,
          "mode": "list",
          "cachedResultName": "Ativos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc/edit#gid=164546055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "8d0c50a4-59e2-486c-9d75-f75208be65ec",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        3100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "67882727-7301-4fe3-b38e-726dea7de71a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        3120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Está preparado para uma revelação que pode mudar tudo? Porque essa é de cair da cadeira! 😲\n\nImagine poder transformar seu salão em um negócio autoadministrável que cresce e lucra, mesmo quando você não está lá.\n\nE agora, imagine que você tem a chance de aprender isso com ninguém menos que Henry Santos e Amélia Pinheiro, dois mestres que dominam essa arte! \n\n🎉 Eles estarão na Sala Secreta prontos para te mostrar como fazer seu salão crescer, com equipes engajadas e sem depender da sua presença constante. \n\nVai ficar de fora dessa chance de ouro? 🤔Se eu fosse você me inscreveria de uma vez clicando no link: \n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "37d86445-b2fa-43e1-9320-9c50cceea46a",
      "name": "Mensagem-20-1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        3120
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "9432c6ab-29dd-4a39-96a1-d640aa512cc6",
      "name": "19h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        3120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "20/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0d8c5c51-7a3d-44d2-b596-efbeaf092f64",
      "name": "20/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        3120
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "65c7f947-1e02-4bfb-9875-c8196b71f3d5",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        140,
        3560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "971ff058-c3b7-4ee4-a2a0-d3a7f1a4fc38",
      "name": "EnviaMensagemTexto3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        3560
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "67ade644-4ec5-4266-bb75-76e36d2fecdc",
      "name": "separa_em_lotes3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        3740
      ]
    },
    {
      "parameters": {},
      "id": "a349fb25-d314-4778-a262-5dea5048a55b",
      "name": "Não faz nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        3960
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "5284a289-66ef-4689-a569-b4864e8423d0",
      "name": "Retorna Output Aleatorio3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        3760
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "54596773-5be7-4274-8f77-b1d935ba7ec8",
      "name": "Saida Aleatoria3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        740,
        3760
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "520360e7-dc78-4d2e-b28c-44c829e1b88d",
      "name": "40s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        3540
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "34729087-8658-4ef4-9947-01c398b04e72",
      "name": "45s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        3680
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "f166b23c-80b6-4b05-9bfa-69d9a4eb4be4",
      "name": "50s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        3820
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "71858fd6-13e7-4697-b076-497ac14c8851",
      "name": "53s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        3960
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 164546055,
          "mode": "list",
          "cachedResultName": "Ativos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc/edit#gid=164546055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "816de597-813c-4e38-9efd-f4affe909662",
      "name": "le_planilha3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        3740
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes3\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "789ae12e-02cd-47b9-855b-c6e65ad27dbb",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        3760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code3\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Era uma vez um dono de salão que pensava que sabia tudo sobre o seu negócio... até que ele descobriu que existia uma outra forma de fazer as coisas.\n\nEle conheceu Henry Santos e Amélia Pinheiro, e sua vida nunca mais foi a mesma. 🌟 Quer ser o próximo personagem dessa história de sucesso? \n\nVem pra Sala Secreta e veja como você também pode transformar seu salão em um negócio de verdade! \n\n📈Clica aqui:\n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d0bb696f-e1f9-4a74-b5dc-c1e3388ebb21",
      "name": "Mensagem-20-2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        3760
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "dc95692e-401b-4baf-93a9-64f4ff5cb770",
      "name": "10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        3760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "21/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd8034cf-f073-43ad-a009-047cb0862c7b",
      "name": "21/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        3760
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "99a96591-214d-42bf-bd93-caf94c87fe2f",
      "name": "Item Lists4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        4240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "1ecbeb7a-eb90-4a53-9569-a0dcc4fff47f",
      "name": "EnviaMensagemTexto4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        4240
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2acac16-ade6-4a44-b1b0-14f21186f994",
      "name": "separa_em_lotes4",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        4420
      ]
    },
    {
      "parameters": {},
      "id": "de5e81ef-7776-4095-b1d5-6c610022f8c0",
      "name": "Não faz nada4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        4640
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "bc50698f-d406-4250-aadc-a4f3a8264004",
      "name": "Retorna Output Aleatorio4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        4440
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "7cf95962-2ee8-4689-9250-f0a9810dece2",
      "name": "Saida Aleatoria4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        4440
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "e9e27728-caac-416f-aead-572b65144784",
      "name": "40s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4220
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "f309723f-377c-48a5-ae39-5de5ee3fd876",
      "name": "45s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4360
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "9efe43ac-2981-4a96-aa77-a04a16d6c23c",
      "name": "50s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4500
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "abe5a79d-6e78-4ac5-8268-678799c226ac",
      "name": "53s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4640
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 164546055,
          "mode": "list",
          "cachedResultName": "Ativos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc/edit#gid=164546055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "d578e172-3af8-460f-863c-1708d97a5546",
      "name": "le_planilha4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        4420
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes4\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "946ffc7d-5244-4faa-a301-1e94018c616a",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        4440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code4\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🧠 Você é daqueles que gosta de spoilers? \n\nEntão se prepare, porque Henry Santos e Amélia Pinheiro vão revelar o que vai rolar na Imersão Presencial Salão Autoadministrável de outubro em Floripa e como ela pode mudar o rumo do seu salão!\n\nE o melhor? Na Sala Secreta, você terá acesso ao lote zero da pré-venda, com valor especial que só será liberado para quem estiver na sala.\n\n📢 Não deixe essa oportunidade passar! Toque no link e garanta seu lugar na Sala Secreta\n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f77b6826-1481-4ba7-9f74-43d9bf45f263",
      "name": "Mensagem-20-3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        4440
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "353f143c-5f4a-41d1-aaa5-fe0bed22b6d0",
      "name": "7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        4440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "22/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3edc3c92-d00f-4290-8901-9899d8c52f83",
      "name": "22/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        4440
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "e7b6bd06-4fd5-4188-8ebb-e367aaa35f8e",
      "name": "Item Lists5",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        4900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f8ce70ad-0ecc-421b-ab88-bdcf428a51e2",
      "name": "EnviaMensagemTexto5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        4900
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "94a9d4c1-9a87-4abe-8d25-9464f375065f",
      "name": "separa_em_lotes5",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        5080
      ]
    },
    {
      "parameters": {},
      "id": "bc950869-eac9-489e-8bf8-a276e8b8ec10",
      "name": "Não faz nada5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        5300
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "a1547111-5247-440a-abeb-470ccbc2a860",
      "name": "Retorna Output Aleatorio5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        5100
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "bb2951e9-ec8a-4346-9457-17f4f9d43587",
      "name": "Saida Aleatoria5",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        5100
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "00323db4-05aa-4e4b-9f65-64bbf0133398",
      "name": "40s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        4880
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "64ec4211-1913-4038-b305-77861e2cb943",
      "name": "45s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        5020
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "7708689f-c336-47f3-a757-df1dddef8bae",
      "name": "50s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        5160
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "fef77366-c8ab-4c87-aa57-53fdba54369d",
      "name": "53s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        5300
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 164546055,
          "mode": "list",
          "cachedResultName": "Ativos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc/edit#gid=164546055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "0e8b742d-b5e4-4484-9366-120ea61b438d",
      "name": "le_planilha5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        5080
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes5\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "411a4f0b-35cc-4531-8123-7f4bca97d694",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        5100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code5\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🎟️ Atenção! Essa é a última chamada para garantir seu acesso à Sala Secreta com Henry Santos e Amélia Pinheiro.\n\nVocê está prestes a descobrir as estratégias que podem transformar seu salão em um negócio lucrativo e autônomo.\n\nE o melhor: vai ter acesso à pré-venda da Imersão Salão Autoadministrável, com condições exclusivas.\n\nNão deixe essa oportunidade escapar!\n\n💎 Toque no link e venha fazer parte desse grupo seleto!\n\n👉 https://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3fead2a6-ee68-4a88-bea6-a49efd4908ee",
      "name": "Mensagem-20-4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        5100
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "308b8768-2505-4663-8ab5-450a942ed786",
      "name": "12h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        5100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "23/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa422d07-5444-455b-850c-73cf183e9d97",
      "name": "23/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        5100
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "eae8782d-1f06-45e4-a38a-53f7f922a1b4",
      "name": "Item Lists6",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        5600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "92c0978f-f2cd-4582-bbb7-37b74fe502a4",
      "name": "EnviaMensagemTexto6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        5600
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aa3c26ef-3169-45e1-8cdd-6a17f039a6f9",
      "name": "separa_em_lotes6",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        5780
      ]
    },
    {
      "parameters": {},
      "id": "c1d4ac4e-3307-4183-9554-1ef4c720bd68",
      "name": "Não faz nada6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        6000
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "79be5492-8dab-4655-bf81-066adf5d7701",
      "name": "Retorna Output Aleatorio6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        5800
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "94dbf90b-44eb-4b17-aa62-a84b24fbe345",
      "name": "Saida Aleatoria6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        5800
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "722d6d16-f105-4861-87e6-7cead37f8cd3",
      "name": "40s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        5580
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "e8c78e37-cbf8-4285-9624-6aa455e242ba",
      "name": "45s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        5720
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "66273b10-5198-4a5f-899c-6f79c06f409f",
      "name": "50s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        5860
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "639f8943-ddc5-49b4-ac09-905eb4ab0b1c",
      "name": "53s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        6000
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 164546055,
          "mode": "list",
          "cachedResultName": "Ativos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc/edit#gid=164546055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "5df58075-400a-4d72-97e2-120603cf0ffb",
      "name": "le_planilha6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        5780
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes6\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "418d5842-5068-4c75-8ff9-bf2b80bab52a",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        5800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code6\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=⏳ É agora ou nunca!\n\nFaltam apenas 2 horas para a Sala Secreta. Não deixe que a procrastinação te faça perder essa oportunidade que só quem estiver ao vivo vai ter: acesso a descontos exclusivos, bônus incríveis e estratégias inéditas que podem revolucionar seu salão...\n\nNão se trata apenas de estar presente, mas de garantir o futuro do seu negócio. O tempo é seu recurso mais valioso.\n\nE a Imersão Salão Autoadministrável vai te ensinar a usá-lo a seu favor.\n🎯 Garanta seu lugar na Sala Secreta e conquiste as condições exclusivas da pré-venda!\n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "fe3b7d8f-46cb-4e47-ae9a-1f0e5dfc77c4",
      "name": "Mensagem-20-5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        5800
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "71520e53-1185-4fc0-a29a-13a5956ac0df",
      "name": "17h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        5800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "23/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41314b5e-85bc-4879-b5e5-7e1985af94ee",
      "name": "23/9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        5800
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "ae3145be-96a6-4b33-b4a1-a89386fbb45c",
      "name": "Item Lists7",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        6280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "de78b764-5ae6-4a04-873f-01a4a6b54bd1",
      "name": "EnviaMensagemTexto7",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        6280
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f9fa713b-9b5c-4b3a-82a1-a09edfd9f740",
      "name": "separa_em_lotes7",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        6460
      ]
    },
    {
      "parameters": {},
      "id": "a48d8252-fe31-4784-8aeb-f4da46c8cee2",
      "name": "Não faz nada7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        6680
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "a1fcd87e-3523-465c-8114-41451461e873",
      "name": "Retorna Output Aleatorio7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        6480
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "959b7a21-0a86-4600-8f89-2635897ff1ad",
      "name": "Saida Aleatoria7",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        6480
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "28e4518f-a053-4ee4-897b-c7fd15a9c727",
      "name": "40s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        6260
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "536de70b-f0ce-4c59-bce2-3032e399a4e4",
      "name": "45s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        6400
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "476a2aa0-137e-4e3c-b3aa-4a8d1c33131c",
      "name": "50s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        6540
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "7daf3c21-ca12-4633-bf78-914061e6776b",
      "name": "53s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        6680
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 164546055,
          "mode": "list",
          "cachedResultName": "Ativos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8X1AuPtmti96weLh1QtGoa_8KJQ9feA2_EWvp2N0fc/edit#gid=164546055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "dcad6eb0-8997-4137-8c07-1dec096d8bb7",
      "name": "le_planilha7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        6460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes7\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "1b884acc-e6a8-4ef4-93f6-f6b5f14da372",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        6480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code7\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🔔 Faltam 30 minutos!\n\nVocê está pronto? Hoje você vai receber informações privilegiadas e, ao final, terá a chance de garantir seu ingresso para a Imersão Presencial no Lote Zero com condições especiais.\n\nA transformação começa hoje. Esteja ao vivo e garanta seu lugar no topo do mercado! 💥\n\n📢 Não deixe essa oportunidade passar! Toque no link e garanta seu lugar na Sala Secreta\n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "305cc0b8-d20b-46fc-8dda-b6d7d332e87b",
      "name": "Mensagem-20-6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        6480
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "d1382482-c38f-42d7-8b46-2efe53fd2fa7",
      "name": "18h30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        6480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "23/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ad274f5-a15c-48c0-b85c-7d5d1314b3ff",
      "name": "23/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        6480
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "57486260-dd43-4abd-b7db-b98ff45429a3",
      "name": "Item Lists8",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        7000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "8d942522-e70c-4e07-b805-cb226be917f3",
      "name": "EnviaMensagemTexto8",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        7000
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a4ebd473-2e00-490c-a582-bce399af4fd9",
      "name": "separa_em_lotes8",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        7180
      ]
    },
    {
      "parameters": {},
      "id": "962974f5-b874-45e2-896a-8ce744360e06",
      "name": "Não faz nada8",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        7400
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "600c9801-cfc0-4d07-9268-be4f9d0198c1",
      "name": "Retorna Output Aleatorio8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        7200
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "765eb8d2-74d4-4807-bf9e-ae34e3fcb0bd",
      "name": "Saida Aleatoria8",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        7200
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "313cf350-39c6-434b-9f21-73b1f9b7fcbe",
      "name": "40s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        6980
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "c68a7584-3a94-475a-b2d0-2ddf5cc4682c",
      "name": "45s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        7120
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "8c8f915a-2c30-4387-98bb-6fddd9109e9a",
      "name": "50s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        7260
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "bb7255c9-16cb-4844-aedd-dbb3a5ed18a3",
      "name": "53s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        7400
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2024253147,
          "mode": "list",
          "cachedResultName": "Leads - Saque o Dinheiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=2024253147"
        },
        "options": {}
      },
      "id": "052ab124-3152-409b-a4bb-d8b6d5bc9523",
      "name": "le_planilha8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        7180
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes8\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "c0067084-8893-4841-b379-8818681beba6",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        7200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code8\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🎯 Você ainda está pensando se deve participar?\n\nVocê está perdendo tempo e dinheiro ao manter seu salão como está. A Sala Secreta não é só mais uma reunião; é a chave para transformar seu negócio e te dar maior liberdade, e crescimento contínuo.\n\n🕒 Dia 23/09, você terá a oportunidade de aprender diretamente com Henry Santos e Amélia Pinheiro como finalmente construir o salão dos seus sonhos, com liberdade para viver a vida como sempre quis, fortalecendo o seu lado pessoal e enriquecendo o seu salão de beleza.\n\nDescubra na Sala Secreta todos os detalhes do que irá acontecer na Imersão Presencial Salão Autoadministrável, em Florianópolis.\n\n⚡ Ignorar essa chance significa continuar preso no mesmo ciclo. Você está preparado(a) para sair dessa?\n\n📋 Ei,e não deixe de preencher! Esse formulário é super importante para personalizarmos ainda mais a sua experiência na Imersão!\n\n 💇‍♂Queremos entender suas principais dores e objetivos para garantir que você tenha o melhor plano de ação para o seu salão.💰\n\n📲 Preencha agora e esteja preparado para a transformação!\n\nhttps://forms.gle/BrbGLANqwwV8332w7 \n\nVamos juntos nessa! 💪"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5455a562-60ad-4ad0-9126-0232864fa1fb",
      "name": "Mensagem-20-7",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        7200
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "20/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67dc7471-07ff-47b8-9c2d-fe2925d4de54",
      "name": "20/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        7200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "32818b12-fc53-4849-9c98-02eea428b8ef",
      "name": "10h1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        7200
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "c2b0e5b7-063c-486d-90a2-78459ad96e7c",
      "name": "Item Lists9",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        7660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a6dc48f1-516b-4f0e-b30b-df8bb9bad928",
      "name": "EnviaMensagemTexto9",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        7660
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e3ae26e4-ed3c-47c2-b6bc-ebd8af3ab585",
      "name": "separa_em_lotes9",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        7840
      ]
    },
    {
      "parameters": {},
      "id": "7173daa3-ff5e-422a-9550-ad2a83193972",
      "name": "Não faz nada9",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        8060
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "aeee1ef2-1035-459e-9519-3c49fb56e871",
      "name": "Retorna Output Aleatorio9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        7860
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "1cab3cbc-8a9a-4771-a43e-580fd2cbd838",
      "name": "Saida Aleatoria9",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        7860
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "16fb66b8-ff25-4c3d-a79d-9845af4714c4",
      "name": "40s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        7640
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "c280e0ea-687f-4ff9-b1bf-a8628669e389",
      "name": "45s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        7780
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "54260513-52db-44d2-b9c7-04b39234b51e",
      "name": "50s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        7920
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "8ea174a4-691d-4547-a909-5d0cab44a448",
      "name": "53s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        8060
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2024253147,
          "mode": "list",
          "cachedResultName": "Leads - Saque o Dinheiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=2024253147"
        },
        "options": {}
      },
      "id": "f32a7c8e-147f-4616-bb68-4c25ed2e5684",
      "name": "le_planilha9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        7840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes9\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "ec251a70-f0f5-4a62-8ae3-fa9667946c4d",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        7860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code9\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=💡 O que vale mais para você? Tempo com sua família ou continuar preso(a) no seu salão?\n\nNa Sala Secreta de 23/09, você vai descobrir como ganhar liberdade para viver e cuidar das coisas que realmente importam.\n\n👨‍👩‍👧‍👦 Imagine ver seu salão funcionando sem que você precise estar lá o tempo todo, enquanto aproveita os momentos que sua família precisa de você.\n\n🎟️ Estar ao vivo vai te trazer os detalhes e as condições especiais da pré-venda da Única Imersão Presencial Exclusiva para Salões autoadministráveis, o evento presencial que acontecerá em outubro, em Florianópolis.. Não deixe essa chance escapar!\n\n📋 Ei,e não deixe de preencher! Esse formulário é super importante para personalizarmos ainda mais a sua experiência na Imersão!\n\n 💇‍♂Queremos entender suas principais dores e objetivos para garantir que você tenha o melhor plano de ação para o seu salão.💰\n\n📲 Preencha agora e esteja preparado para a transformação!\n\nhttps://forms.gle/BrbGLANqwwV8332w7 \n\nVamos juntos nessa! 💪"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "1633f871-28a9-435a-a029-4883a9aeed39",
      "name": "Mensagem-20-8",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        7860
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "7d3634f8-ae06-40c1-82c7-e62e5778828a",
      "name": "8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        7860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "21/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37e2565d-e371-4816-a6ea-9417aff04284",
      "name": "21/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        7860
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "54bd7acf-ac15-4cfc-9afc-7eaa29e701c5",
      "name": "Item Lists10",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        8340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "df80e0c9-aa8c-4010-82fd-58258eb62c59",
      "name": "EnviaMensagemTexto10",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        8340
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2febac20-aa19-4529-874b-68a09a9b1119",
      "name": "separa_em_lotes10",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        8520
      ]
    },
    {
      "parameters": {},
      "id": "cffc38c4-d9d4-4275-b497-960aacca1583",
      "name": "Não faz nada10",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        8740
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "f644f3c2-1603-413b-989d-724685ade3e9",
      "name": "Retorna Output Aleatorio10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        8540
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "179ea0fd-15b2-4739-8051-0b894c5542ed",
      "name": "Saida Aleatoria10",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        8540
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "6e43edf0-6b24-461e-87e0-d640e7eb2e18",
      "name": "40s10",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        8320
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "2c40debd-b11f-42c4-a9ea-f829461efbe7",
      "name": "45s10",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        8460
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "0706eea5-d2a3-45dc-a234-071753421988",
      "name": "50s10",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        8600
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "ede9731a-ead6-437d-9eac-ce4d046cf8f0",
      "name": "53s10",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        8740
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2024253147,
          "mode": "list",
          "cachedResultName": "Leads - Saque o Dinheiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=2024253147"
        },
        "options": {}
      },
      "id": "120a8d32-95e2-4b40-ad0e-b84173d09745",
      "name": "le_planilha10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        8520
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes10\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "236776f3-96cc-4be6-a9b0-7df208895e2a",
      "name": "Code10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        8540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code10\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=⏳ Amanhã é o grande dia!\n\nVocê está pronto(a) para descobrir como fortalecer sua mente e enriquecer o seu salão?\n Dia 23/09 às 19h, Henry Santos e Amélia Pinheiro vão compartilhar segredos valiosos que podem te dar mais tempo, mais dinheiro, e mais liberdade na vida com um salão que cresce independente da sua presença\n\n🚀 O que vai acontecer no seu salão após essa transformação? A resposta está a apenas 24 horas de distância.\n\n👉 Quem participar ao vivo vai ter condições exclusivas para a Imersão Salão Autoadministrável. \nSe você não estiver lá, pode estar perdendo a maior oportunidade da sua vida.\n\n📋 E se você ainda não preencheu o formulário *obrigatório* de check-in, preencha! \nÉ super importante para personalizarmos ainda mais a sua experiência na Imersão!\n\n 💇‍♂Queremos entender suas principais dores e objetivos para garantir que você tenha o melhor plano de ação para o seu salão.💰\n\n📲 Preencha agora e esteja preparado para a transformação!\n\nhttps://forms.gle/BrbGLANqwwV8332w7 \n\nVamos juntos nessa! 💪"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "c94112a3-30d5-4708-b881-19e30c2c3192",
      "name": "Mensagem-20-9",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        8540
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "22/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d39f65db-3c84-4bac-a345-676c32316336",
      "name": "22/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        8540
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "6f29be51-aa7f-4265-9d09-82341da3ab1b",
      "name": "19h1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        8540
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "6731e6c8-5a02-4fe2-99c4-6eba4e6fe88d",
      "name": "Item Lists11",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        120,
        9020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "dfaa62c2-7f7f-4452-a5ca-ad9482d805db",
      "name": "EnviaMensagemTexto11",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        9020
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "64758869-bd32-4c53-b329-0554acca1ded",
      "name": "separa_em_lotes11",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        9200
      ]
    },
    {
      "parameters": {},
      "id": "9bf38410-5b7e-4c4d-abf0-667e6436503d",
      "name": "Não faz nada11",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        9420
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "64cba7fb-f812-4bd1-a3ea-0eda875bab7e",
      "name": "Retorna Output Aleatorio11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        9220
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "20d5b9bf-1904-4eff-9f9c-c1d6f39401fb",
      "name": "Saida Aleatoria11",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        9220
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "dd042f35-a85f-4c32-8804-4f6393aaf3e3",
      "name": "40s11",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        9000
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "81697a02-51c2-44b1-a967-17d19d75ac24",
      "name": "45s11",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        9140
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "44ea0062-7b84-449e-a9fb-0f369069dd20",
      "name": "50s11",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        9280
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "1bc3b89b-5874-4dd4-9624-fced007025ac",
      "name": "53s11",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        9420
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2024253147,
          "mode": "list",
          "cachedResultName": "Leads - Saque o Dinheiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=2024253147"
        },
        "options": {}
      },
      "id": "97ced447-9cbd-41a1-a8e0-07269ea90137",
      "name": "le_planilha11",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -360,
        9200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes11\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "2af9647e-86f4-4a1d-9021-f5bd4978aa2b",
      "name": "Code11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        9220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code11\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=📢 É hoje! A tão esperada Sala Secreta está chegando, e você está prestes a ter acesso a informações exclusivas sobre a Única Imersão Presencial Exclusiva para Salões Autoadministráveis no Brasil! 🌟\n\nÀs 19h, Henry Santos e Amélia Pinheiro vão te revelar detalhes inéditos sobre o evento que vai transformar a gestão do seu salão. ✨\n\n🚀 O que você vai descobrir?\n\nUm spoiler completo sobre os 3 dias da Imersão Presencial em Florianópolis.\nMétodos e estratégias que nunca foram divulgados antes, para transformar seu salão em um negócio lucrativo e autônomo, que cresce constantemente\nComo fortalecer o seu Self para ter um salão de beleza fortalecido\nOportunidade exclusiva de garantir seu ingresso pelo valor do lote zero – a pré-venda começa hoje e só quem estiver na Sala Secreta terá acesso a essas condições especiais!\n\n📲 A Sala Secreta começa às 19h. Reserve esse horário, porque o que vamos revelar pode mudar o futuro do seu salão para sempre!\n\nPegue o seu acesso para a Sala Secreta: https://us02web.zoom.us/j/89929739473"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b63ba7ea-68ad-492e-9de7-d77c056d8fd1",
      "name": "Mensagem-20-10",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        9220
      ],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "23/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53a860fd-e8f2-4189-9ea3-0fbc67e89aff",
      "name": "23/11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        9220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "b8346c3e-0fba-48f0-aefb-12e6a7cf4adb",
      "name": "8h1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        9220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": {
    "node:dispara as 12hs1": {
      "recurrencyRules": []
    },
    "node:dispara as 12hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs1": {
      "recurrencyRules": []
    },
    "node:13h": {
      "recurrencyRules": []
    },
    "node:9hs": {
      "recurrencyRules": []
    },
    "node:13hs": {
      "recurrencyRules": []
    },
    "node:10hs": {
      "recurrencyRules": []
    },
    "node:7hs": {
      "recurrencyRules": []
    },
    "node:13hs1": {
      "recurrencyRules": []
    },
    "node:18hs": {
      "recurrencyRules": []
    },
    "node:18hs1": {
      "recurrencyRules": []
    },
    "node:12hs1": {
      "recurrencyRules": []
    },
    "node:14hs": {
      "recurrencyRules": []
    },
    "node:19h": {
      "recurrencyRules": []
    },
    "node:10h": {
      "recurrencyRules": []
    },
    "node:7h": {
      "recurrencyRules": []
    },
    "node:12h": {
      "recurrencyRules": []
    },
    "node:17h": {
      "recurrencyRules": []
    },
    "node:18h30": {
      "recurrencyRules": []
    },
    "node:10h1": {
      "recurrencyRules": []
    },
    "node:8h": {
      "recurrencyRules": []
    },
    "node:19h1": {
      "recurrencyRules": []
    },
    "node:8h1": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 12,
  "updatedAt": "2024-09-19T15:00:15.652Z",
  "versionId": "82f1f16a-b80d-45d8-9934-c28bcb5353ef"
}