workflows/🚀[EVOLUTION] - Disparo em Massa Webnário (Captação).json
{
  "active": true,
  "connections": {
    "Item Lists1": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_esta_preenchido1": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_data1": {
      "main": [
        [
          {
            "node": "le_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead4": {
      "main": [
        [
          {
            "node": "nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_esta_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto7": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes2": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio3": {
      "main": [
        [
          {
            "node": "Saida Aleatoria3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria3": {
      "main": [
        [
          {
            "node": "40s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s3": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s3": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s3": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s3": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "01/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio4": {
      "main": [
        [
          {
            "node": "Saida Aleatoria4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria4": {
      "main": [
        [
          {
            "node": "40s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s4": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s4": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s4": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s4": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "03/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(01/12 - 7h)": {
      "main": [
        [
          {
            "node": "01/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-01/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01/12/": {
      "main": [
        [
          {
            "node": "Mensagem-01/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "02/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(02/12 - 7h)": {
      "main": [
        [
          {
            "node": "02/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02/12/": {
      "main": [
        [
          {
            "node": "Mensagem-02/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "02/12/2025",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-02/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-02/12/": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02/12/2025": {
      "main": [
        [
          {
            "node": "Mensagem-02/12/",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02/12/2026": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(02/12 - 16h)": {
      "main": [
        [
          {
            "node": "02/12/2026",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 03/12": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03/12/2024": {
      "main": [
        [
          {
            "node": "Mensagem- 03/12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03/12/": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 04/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 04/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(05/12 - 7h)": {
      "main": [
        [
          {
            "node": "05/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 05/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 05/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha3": {
      "main": [
        [
          {
            "node": "separa_em_lotes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes3": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada3": {
      "main": [
        [
          {
            "node": "separa_em_lotes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio5": {
      "main": [
        [
          {
            "node": "Saida Aleatoria5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria5": {
      "main": [
        [
          {
            "node": "40s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s5": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s5": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s5": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s5": {
      "main": [
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "06/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(06/12 - 7h)": {
      "main": [
        [
          {
            "node": "06/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 06/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "07/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 06/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(07/12 - 7h)": {
      "main": [
        [
          {
            "node": "07/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 07/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08/12/1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 07/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(03/12 - 13h)": {
      "main": [
        [
          {
            "node": "03/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(04/12 - 07h)": {
      "main": [
        [
          {
            "node": "04/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(08/12 - 7h)": {
      "main": [
        [
          {
            "node": "08/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 08/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08/12/1": {
      "main": [
        [
          {
            "node": "Mensagem- 08/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists4": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha4": {
      "main": [
        [
          {
            "node": "separa_em_lotes4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes4": {
      "main": [
        [
          {
            "node": "Item Lists4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada4": {
      "main": [
        [
          {
            "node": "separa_em_lotes4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio6": {
      "main": [
        [
          {
            "node": "Saida Aleatoria6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria6": {
      "main": [
        [
          {
            "node": "40s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s6": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s6": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s6": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s6": {
      "main": [
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "09/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(09/12 - 7h)": {
      "main": [
        [
          {
            "node": "09/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 09/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 09/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(10/12 - 7h)": {
      "main": [
        [
          {
            "node": "10/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 10/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 10/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(11/12 - 7h)": {
      "main": [
        [
          {
            "node": "11/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 11/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 11/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists5": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha5": {
      "main": [
        [
          {
            "node": "separa_em_lotes5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes5": {
      "main": [
        [
          {
            "node": "Item Lists5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada5": {
      "main": [
        [
          {
            "node": "separa_em_lotes5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio7": {
      "main": [
        [
          {
            "node": "Saida Aleatoria7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria7": {
      "main": [
        [
          {
            "node": "40s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s7": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s7": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s7": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s7": {
      "main": [
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "12/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(12/12 - 7h)": {
      "main": [
        [
          {
            "node": "12/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 12/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 12/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(13/12 - 7h)": {
      "main": [
        [
          {
            "node": "13/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 13/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 13/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(14/12 - 20h)": {
      "main": [
        [
          {
            "node": "14/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 14/12/2024",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 14/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists6": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha6": {
      "main": [
        [
          {
            "node": "separa_em_lotes6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes6": {
      "main": [
        [
          {
            "node": "Item Lists6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada6": {
      "main": [
        [
          {
            "node": "separa_em_lotes6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio8": {
      "main": [
        [
          {
            "node": "Saida Aleatoria8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria8": {
      "main": [
        [
          {
            "node": "40s8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s8": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s8": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s8": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s8": {
      "main": [
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "15/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14/12/1": {
      "main": [
        [
          {
            "node": "Mensagem- 14/12/",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 14/12/": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(15/12 - 12h)": {
      "main": [
        [
          {
            "node": "15/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15/12/2024": {
      "main": [
        [
          {
            "node": "le_planilha6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15/12/": {
      "main": [
        [
          {
            "node": "Mensagem- 15/12/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 15/12/2024": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem- 15/12/": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15/12/2025": {
      "main": [
        [
          {
            "node": "Mensagem- 15/12/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15/12/2026": {
      "main": [
        [
          {
            "node": "le_planilha7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(15/12 - 17h)": {
      "main": [
        [
          {
            "node": "15/12/2026",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha7": {
      "main": [
        [
          {
            "node": "separa_em_lotes7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes7": {
      "main": [
        [],
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "15/12/2025",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio9": {
      "main": [
        [
          {
            "node": "Saida Aleatoria9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria9": {
      "main": [
        [
          {
            "node": "40s9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s9": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s9": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s9": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s9": {
      "main": [
        [
          {
            "node": "Não faz nada7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada7": {
      "main": [
        [
          {
            "node": "separa_em_lotes7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-29T18:33:55.658Z",
  "id": "RFKNrYHmrD8XeDZi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🚀[EVOLUTION] - Disparo em Massa Webnário (Captação)",
  "nodes": [
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "dd34db32-2220-4d07-afc8-7c70d6cdb9d6",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -200,
        -520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5519984574874"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "45cb40ba-3581-4998-a553-f3be31c93783",
      "name": "EnviaMensagemTexto1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -20,
        -520
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1744650532,
          "mode": "list",
          "cachedResultName": "Disparo Evolution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1744650532"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE",
              "lookupValue": "5519984574874"
            }
          ]
        },
        "options": {}
      },
      "id": "0be290aa-bf91-48b8-a3de-dae456df9cab",
      "name": "le_planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -700,
        -340
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e3c8d5aa-8cc9-4ccd-8b62-d42649224fde",
      "name": "separa_em_lotes1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -440,
        -340
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"separa_em_lotes1\"].json[\"EMAIL\"]  || '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"separa_em_lotes1\"].json[\"EMAIL\"]  || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "cc9894f8-31e5-4b1a-8a7b-f2f70ea7db0e",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -20,
        -320
      ],
      "credentials": {
        "mySql": {
          "id": "gBeJmlfVOrdUXALL",
          "name": "[MySQL][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9530f36b-c8ec-4ee4-971d-3805b7796088",
              "leftValue": "={{ $json[\"telefone\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1dbc7f18-8c0f-4241-bb58-8ebfd72fac62",
      "name": "telefone_esta_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        -300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "09/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac44f21c-c7b3-4c9f-8fe9-8010a9a51003",
      "name": "verifica_data1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -920,
        -320
      ]
    },
    {
      "parameters": {},
      "id": "4373121b-cd14-4d18-98be-29d97f6b2b5f",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        220
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "e94b2494-2599-4f79-b3c5-4dd7e840c051",
      "name": "pesquisa_lead4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        160,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead4\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "dbf6b376-4c00-4ce8-af29-6e117b0211b0",
      "name": "nao_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        340,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "49420fe4-4977-40ec-aefc-33cbe6ef8ac9",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        920,
        -300
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "5f69d417-6085-424b-af95-9aa7fed19f19",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1080,
        -300
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "7dabd92b-295a-4add-9263-6ed2ee349f7b",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1400,
        -320
      ],
      "webhookId": "888167a3-c98b-4d02-8ec7-8557c1ea9b2a"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "9ea84396-672b-478e-8d26-aff85d700ed6",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1400,
        -180
      ],
      "webhookId": "9fbab54d-704c-4aaf-b3db-b157e0755d10"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "f0da4815-c5e3-4da0-95fe-bf693fa3d38e",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1400,
        -40
      ],
      "webhookId": "7ba3473b-4eed-44f2-9d40-a642df8563e6"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "99fe673b-0284-47f0-90dd-f1924e857030",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1400,
        100
      ],
      "webhookId": "a6c54137-769d-437d-b568-ceba030705b2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"telefone\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🔥 Alerta de Oportunidade Única!\n\nJá se perguntou por que seu salão não está onde você sempre sonhou? O problema pode estar em decisões que você ainda não tomou.\n\nPela primeira vez, Henry Santos e Amélia Pinheiro estarão juntos para te mostrar como alcançar o ápice do sucesso no seu salão. \n\nE o melhor de tudo: com condições especiais na pré-venda da Imersão Presencial Salão Autoadministrável em Floripa.\n\nNão deixe essa chance passar. Sua transformação começa agora!\n\n👉 Garanta sua vaga na Sala Secreta e mude o jogo! https://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d985716a-508f-48ba-a4dd-caafdb3a7b42",
      "name": "EnviaMensagemTexto7",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        740,
        -300
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes1\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "e6f71dfb-aed5-49ff-96c0-413184ca7549",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "e768149b-461d-4111-ab02-22cc0b60217b",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -300,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5531992796934"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "4c4aed20-5af9-4b48-972e-ed70968e4356",
      "name": "EnviaMensagemTexto2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -120,
        640
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1763912550,
          "mode": "list",
          "cachedResultName": "Disparo Webinar Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1763912550"
        },
        "options": {}
      },
      "id": "28ed0699-3441-4d7b-8528-14461f7520c4",
      "name": "le_planilha2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -800,
        820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2d42a763-8b15-4da4-bcb4-69ee61d08e50",
      "name": "separa_em_lotes2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -540,
        820
      ]
    },
    {
      "parameters": {},
      "id": "086ed14f-f6f9-44ef-9fe8-d5f71eb750f5",
      "name": "Não faz nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1460,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "bc1de2c8-6e27-4c11-8be5-1f878b124ba4",
      "name": "Retorna Output Aleatorio3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        780,
        840
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ec19d1d1-d8da-410e-8870-8ce074900572",
      "name": "Saida Aleatoria3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        940,
        840
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "f8097699-bc99-4ba6-963a-877f75c3df8d",
      "name": "40s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        620
      ],
      "webhookId": "4abf6583-cad6-4e09-ab9e-62cf7c4a0ef9"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "85d0f8d4-0346-4530-af97-49fbaa0be2d3",
      "name": "45s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        760
      ],
      "webhookId": "7e6fcd66-a5a2-4ede-8031-07c9e71320bb"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "98c154df-1390-414c-af38-fa4f16f2bcf2",
      "name": "50s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        900
      ],
      "webhookId": "a065b685-f10f-47ce-88ec-56d184d3dbd1"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "3c9ecc11-8022-4116-8445-5b8bba3af6ea",
      "name": "53s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        1040
      ],
      "webhookId": "b43baebb-3d79-4819-92c1-da88bc6148b1"
    },
    {
      "parameters": {
        "jsCode": "const telefone = $node[\"separa_em_lotes2\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefone.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "ce57297f-ac7d-49fa-a5e2-ccccbee51dd0",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        840
      ]
    },
    {
      "parameters": {},
      "id": "ba0de4e7-9d34-4dd8-90db-cabf2c528fc4",
      "name": "Não faça nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "9a5d7da8-387c-43bd-972d-90b3a7f1bbac",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -300,
        1560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5531992796934"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "2aa55326-b950-40a4-8424-5893384b56ab",
      "name": "EnviaMensagemTexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -120,
        1560
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1763912550,
          "mode": "list",
          "cachedResultName": "Disparo Webinar Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1763912550"
        },
        "options": {}
      },
      "id": "6d8f954a-9002-424e-a1ec-288a76e5255a",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -800,
        1740
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bc64afed-5904-4329-be4a-e5692660ec6f",
      "name": "separa_em_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -540,
        1740
      ]
    },
    {
      "parameters": {},
      "id": "81508063-ca23-441d-995c-12141bc0022b",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1460,
        2100
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "6f0aa00a-1d77-4a1c-b917-7bf13091814a",
      "name": "Retorna Output Aleatorio4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        780,
        1760
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "4daf045c-92ea-4563-8d1f-116720314cc4",
      "name": "Saida Aleatoria4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        940,
        1760
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "d3a26c5a-130e-4284-a328-4b13aa92dffb",
      "name": "40s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        1540
      ],
      "webhookId": "10c4da94-fdaa-4b83-98a3-bee57dc6421a"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "863df098-14b6-40e2-bb86-c384fe82262f",
      "name": "45s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        1680
      ],
      "webhookId": "616c55bd-1d12-468f-983c-c2cbd4790309"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "f71ad9f3-6728-41c8-9cfa-088e35fa8af4",
      "name": "50s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        1820
      ],
      "webhookId": "0c308065-17ca-46b6-849f-33790eb6170c"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "ddac1900-23ae-4aec-b297-dcec3ebfebb2",
      "name": "53s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        1960
      ],
      "webhookId": "1839edf1-23f5-47f9-9c93-557d81c68e08"
    },
    {
      "parameters": {
        "jsCode": "const telefone = $node[\"separa_em_lotes\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefone.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "cc1b1c30-37f3-4b42-8b11-f2f4b74edf2b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        1760
      ]
    },
    {
      "parameters": {},
      "id": "eb82a39e-2a83-4abe-914b-efd8c97a3532",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        1920
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "5ef980b9-0163-44cb-9054-bf99f7818b25",
      "name": "(01/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "01/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8267d2b-6540-4f41-b7d8-6e7a4d9b08b1",
      "name": "01/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code2\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=No meio de tanta correria, é fácil perder as melhores oportunidades de lucrar.\n\nLUCRO = TRANQUILIDADE\n\n*Chegou a hora de sair desse ciclo de desordem e partir para uam vida com mais abundância.*\n\n Descubra como resolver os problemas da sua equipe e alavancar o faturamento do salão com ações rápidas e práticas. *Será na segunda-feira dia 15 de dezembro,às 18 horas.* \n\n💡 Você já sabe que não agir agora significa continuar perdendo clientes, vendas e oportunidades. *Por que repetir os mesmos erros quando você pode aprender a agir certo e rápido?*\n\n⚠️ *Inscreva-se agora e garanta o seu lugar antes que seja tarde.*\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ \n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "80f722d4-e6d4-4516-823e-43a8741445dd",
      "name": "Mensagem-01/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        640
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "01/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "113fc52d-2589-421c-8546-60ceff0ddd4e",
      "name": "01/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        840
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "a507d36c-d2ea-4714-97fd-da439be93d56",
      "name": "(02/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "02/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4157275d-80b4-4d4b-a5a7-f48989038b5c",
      "name": "02/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "02/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8f84d0a-52d6-49e1-a60d-43731ca9a83f",
      "name": "02/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code2\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=🛑 *E se 2025 fosse o ano em que você realmente assume o comando do seu salão e da sua vida?*\n\n💡 *Chegou a hora de deixar os erros de 2022, 2023 e 2024 para trás e criar um plano claro para o crescimento do seu salão – e da sua vida!*\n\nNesta aula, vou te ensinar:\n✅ Como organizar a equipe e o salão para não enlouquecer\n✅ Como criar ações rápidas para aumentar o ticket médio e fidelizar clientes\n✅ E como usar a época de festas para planejar um 2025 com mais estabilidade e crescimento financeiro.\n\n👉 *Tudo que você precisa fazer é clicar no link abaixo e garantir a sua vaga. 2025 está esperando por você – mas depende da sua decisão AGORA!*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "27b7ed48-a63f-4d48-ba78-c2ac39eb7c57",
      "name": "Mensagem-02/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        820
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code2\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=🛑 *E se 2025 fosse o ano em que você realmente assume o comando do seu salão e da sua vida?*\n\n💡 *Chegou a hora de deixar os erros de 2022, 2023 e 2024 para trás e criar um plano claro para o crescimento do seu salão – e da sua vida!*\n\nNesta aula, vou te ensinar:\n✅ Como organizar a equipe e o salão para não enlouquecer\n✅ Como criar ações rápidas para aumentar o ticket médio e fidelizar clientes\n✅ E como usar a época de festas para planejar um 2025 com mais estabilidade e crescimento financeiro.\n\n👉 *Tudo que você precisa fazer é clicar no link abaixo e garantir a sua vaga. 2025 está esperando por você – mas depende da sua decisão AGORA!*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "cdba21da-dd29-4a3c-95ea-e4dde7530adf",
      "name": "Mensagem-02/12/",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        1000
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "02/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c01cc5ec-c567-45aa-92d2-4d90b86e33dd",
      "name": "02/12/2025",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "02/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55bf831d-5c0a-429a-9a7d-5dabe9154dd9",
      "name": "02/12/2026",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        1120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "id": "200d3ab7-6766-4b00-b887-bb01ca544db8",
      "name": "(02/12 - 16h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=*Ah, mas eu não tenho tempo pra planejar nada agora... é final de ano, vou deixar pra Janeiro!*\n\nIsso soa familiar? Me diga: qual foi a última vez que ‘não ter tempo’ resolveu o problema de equipe, cliente que não volta ou do dinheiro que desaparece e você não sabe pra onde foi?\n\n*Não adianta* esperar janeiro pra organizar a bagunça. Enquanto você tá correndo feito louca agora, o Henry Santos pode te mostrar como aproveitar o final de 2024 pra *entrar em 2025 com crescimento de verdade, e sem perder a cabeça.*\n\nE não, não é ‘mais um plano mirabolante’. É um passo a passo prático pra você implementar rápido. Mas é *só pra quem quer MUDANÇA DE VERDADE.*\n\nDia 15 de dezembro, às 18h, é sua chance de começar diferente.\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "935457b3-f880-4ca9-9d50-e8f905d71d98",
      "name": "Mensagem- 03/12",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        1560
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "03/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d474fb8a-db60-458e-afbf-8f0d2c4955a0",
      "name": "03/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "03/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69e3e27d-022f-4e17-9a62-94129439f9cc",
      "name": "03/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        1640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "04/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0723255-a662-46a6-88f7-b4e20ba0bf6f",
      "name": "04/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        1860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "04/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0d615d8-ec1b-43cd-9416-f34923545778",
      "name": "04/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        1900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=*Ignorar não vai fazer seus problemas sumirem….\n\nNão deixe para janeiro o que você pode fazer agora!*\n\nO final do ano é a época perfeita para planejar o ano seguinte, para não cometer os mesmos erros que cometeu neste ano e nos anos passados.\n\nVai seguir numa vida com correria e apagando incêndio, ou vai dar valor pra aquilo que realmente importa? \n\n*Você e sua família!* 👪\n\n💡 Vou te mostrar como resolver os problemas de equipe e transformar 2025 no ano mais lucrativo da sua vida até agora!\n\n👉 *Tudo que você precisa fazer agora é clicar no link e garantir sua vaga para a aula do dia 15 de dezembro, às 18h.* É sua última oportunidade de virar o jogo!\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "0d2a67b5-5e0c-4efb-9b8b-0d2518d432a0",
      "name": "Mensagem- 04/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        1740
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "3f905214-ab94-4e36-a44c-66a98d91bca9",
      "name": "(05/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        2040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "05/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70644502-5b88-4ea8-b105-c3be2cce1045",
      "name": "05/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        2040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "05/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2604a581-77e1-48e3-a1ca-73060b1d7e8c",
      "name": "05/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        2020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=🛑 *Você está cansada de repetir os mesmos erros ano após ano?*\n\n2025 pode ser o ano em que você finalmente alcança a prosperidade financeira que sempre quis – e eu vou te ensinar como fazer isso com um plano estratégico direto ao ponto.\n\n📅 *Dia 15 de dezembro, às 18h*, é o momento de virar a chave para um futuro de crescimento estável e previsível.\n\n💡 Você merece mais. Dê o primeiro passo agora.\n\n👉 *Clique no link abaixo e garanta sua vaga.*\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "37148095-5390-451f-b238-ca1325929565",
      "name": "Mensagem- 05/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        1900
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "8bbabe06-243c-490f-9386-569784547191",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -280,
        2400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5531992796934"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "4c5ed685-c429-45bf-9d01-cc4cc918d07b",
      "name": "EnviaMensagemTexto3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -100,
        2400
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1763912550,
          "mode": "list",
          "cachedResultName": "Disparo Webinar Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1763912550"
        },
        "options": {}
      },
      "id": "e7d49b83-b244-4a4b-b052-f0d5e9cd780a",
      "name": "le_planilha3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -780,
        2580
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6dab0e50-6d02-4557-950a-d8bf00885919",
      "name": "separa_em_lotes3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -520,
        2580
      ]
    },
    {
      "parameters": {},
      "id": "178670af-1855-4659-a667-6827c56331f7",
      "name": "Não faz nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        2940
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "2da4f363-dcf3-4edd-9037-1a260d4dbc1c",
      "name": "Retorna Output Aleatorio5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        2600
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "41d683af-b478-435a-9bc7-b12d89b27d7f",
      "name": "Saida Aleatoria5",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        960,
        2600
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "b932992d-5ab6-4958-911b-a4dae615fe7b",
      "name": "40s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        2380
      ],
      "webhookId": "10c4da94-fdaa-4b83-98a3-bee57dc6421a"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "2622623d-f9ff-4d13-a0fd-682aa5f21891",
      "name": "45s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        2520
      ],
      "webhookId": "616c55bd-1d12-468f-983c-c2cbd4790309"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "424dcfef-642a-4474-ae5f-47eabf448bea",
      "name": "50s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        2660
      ],
      "webhookId": "0c308065-17ca-46b6-849f-33790eb6170c"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "27015e1a-4519-4302-bec8-ca6ad31cdf5b",
      "name": "53s5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        2800
      ],
      "webhookId": "1839edf1-23f5-47f9-9c93-557d81c68e08"
    },
    {
      "parameters": {
        "jsCode": "const telefone = $node[\"separa_em_lotes3\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefone.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "acf55e52-26d3-47b8-bf9f-9415d19f5327",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        2600
      ]
    },
    {
      "parameters": {},
      "id": "a96fc534-ad4b-44e9-8167-9b400df9bb2a",
      "name": "Não faça nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -780,
        2760
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "7503bacc-60d5-41fe-bc75-e2d6d6d3cb14",
      "name": "(06/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        2480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "06/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d36646a6-33a3-45d1-ad8f-4fdaaf8ff3c8",
      "name": "06/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        2480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "06/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b27e46a-41e2-4c6f-a43c-10d72f0d6a68",
      "name": "06/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -60,
        2600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code3\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=💥 *Você pode até achar que está ganhando dinheiro com a correria do final do ano, mas quanto desse dinheiro que está entrando, você está guardando para investir em 2025.*\n\n*Parece bobagem, mas quem está se planejando agora, a chance de ter um 2025 mais próspero, aumenta em 47%*\n\n📢 Por isso que *dia 15 de dezembro, às 18h*, eu vou te ensinar como sair na frente da concorrência e transformar o caos em lucro com estratégias práticas e fáceis de implementar.\n\n💡 *É domingo!* Não adianta reclamar de falta de tempo ou cansaço, se você não estiver presente nessa aula, o seu concorrente estará. \n\n👉 *Clique no link abaixo e garanta sua vaga agora.*\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "c77823e1-0754-42c1-bb26-a415bd649998",
      "name": "Mensagem- 06/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        2400
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "fb8fc983-c831-47b3-b302-6b57c9e49406",
      "name": "(07/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        2700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "07/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1546c7e-04bd-41a2-b370-7837a3b88992",
      "name": "07/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        2700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "07/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9194fa87-e3f3-43e3-b408-0ca43f5119e8",
      "name": "07/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        2740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code3\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=🎯 *Clientes que você nunca mais vai ver, equipe sobrecarregada, falta de organização… Esse é o cenário do seu salão no final do ano?*\n\n📢 Eu vou te ensinar como transformar o caos em caixa na aula do dia *15 de dezembro, às 18h, sim, é no DOMINGO!* Então falta de tempo não será desculpinha.\n\n💡 Chegou a hora de parar de apagar incêndios e começar a planejar um futuro sólido e lucrativo.\n\n👉 *Clique no link abaixo e garanta sua vaga na aula que pode mudar tudo.*\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d4c5418c-e954-4f6f-8d96-df103cba26ed",
      "name": "Mensagem- 07/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        2580
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "9b6ef444-ebe2-4897-8c4a-59ef01e27301",
      "name": "(03/12 - 13h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        1640
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "fe9df44e-f0a6-4660-acb7-26dd5c9aeb34",
      "name": "(04/12 - 07h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        1860
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "d1df1589-744a-491e-9ab7-a768658ed3eb",
      "name": "(08/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        2880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "08/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3694772a-d4cb-4045-8efa-d56db70500c6",
      "name": "08/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        2880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code3\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=🛑 *Você está cansada de repetir os mesmos erros ano após ano?*\n\n2025 pode ser o ano em que você finalmente alcança a prosperidade financeira que sempre quis – e eu vou te ensinar como fazer isso com um plano estratégico direto ao ponto.\n\n📅 *Dia 15 de dezembro, às 18h*, é o momento de virar a chave para um futuro de crescimento estável e previsível.\n\n💡 Você merece mais. Dê o primeiro passo agora.\n\n👉 *Clique no link abaixo e garanta sua vaga.*\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "0f67c5b1-9a4c-49a5-ada2-4ab6a23d9fb9",
      "name": "Mensagem- 08/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        2740
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "08/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9014fc3-e0c7-4081-b6d9-031d7966e4ae",
      "name": "08/12/1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        2860
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "66ba88a9-44a3-4c65-a573-c5d9a6af4a93",
      "name": "Item Lists4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -260,
        3220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5531992796934"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "eb3757da-72a7-4853-8ab4-265f44199871",
      "name": "EnviaMensagemTexto4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -80,
        3220
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1763912550,
          "mode": "list",
          "cachedResultName": "Disparo Webinar Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1763912550"
        },
        "options": {}
      },
      "id": "03b2c9bd-99be-409a-81e9-897aeafef5e1",
      "name": "le_planilha4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -760,
        3400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f8a862d8-55bb-4b2e-9b8d-071969b7ca30",
      "name": "separa_em_lotes4",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -500,
        3400
      ]
    },
    {
      "parameters": {},
      "id": "98f579b7-e90c-4a98-b96d-4963df9c4924",
      "name": "Não faz nada4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        3760
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "b374808d-576c-4420-a423-02b30bab8852",
      "name": "Retorna Output Aleatorio6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        820,
        3420
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "05ad47d0-a243-4c87-a969-9d3bd937024f",
      "name": "Saida Aleatoria6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        980,
        3420
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "0b1d3c93-2138-4796-b2ee-76ce50793c9f",
      "name": "40s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        3200
      ],
      "webhookId": "10c4da94-fdaa-4b83-98a3-bee57dc6421a"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "8fb68211-7e3e-4115-8fa2-5e7d1f08e46f",
      "name": "45s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        3340
      ],
      "webhookId": "616c55bd-1d12-468f-983c-c2cbd4790309"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "ced6afeb-591f-4242-8944-976ebb542e2a",
      "name": "50s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        3480
      ],
      "webhookId": "0c308065-17ca-46b6-849f-33790eb6170c"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "13336fea-7fde-4fc0-9488-6d601a346923",
      "name": "53s6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        3620
      ],
      "webhookId": "1839edf1-23f5-47f9-9c93-557d81c68e08"
    },
    {
      "parameters": {
        "jsCode": "const telefone = $node[\"separa_em_lotes4\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefone.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "b9780326-f170-49fd-82de-72e80ca6e87c",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        3420
      ]
    },
    {
      "parameters": {},
      "id": "20bf86a0-7394-45a9-be8b-1254bfcb3d32",
      "name": "Não faça nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -760,
        3580
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "65f9b027-eca5-4d4a-a16d-5e8dd7025f6f",
      "name": "(09/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1300,
        3300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "09/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d539aa2-a723-40c2-9952-b1ccdc2c069e",
      "name": "09/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1080,
        3300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "09/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dcdfcf6c-036b-4446-b08e-2c288ac2db76",
      "name": "09/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        3420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code4\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=⏳ *As vagas para a aula do dia 15 de dezembro estão acabando!*\n\n📢 Você quer ser uma das donas de salão que entra em 2025 com o pé direito, ou prefere continuar no mesmo lugar?\n\n💡 *Essa é a sua última chance de transformar seu salão em um negócio lucrativo e organizado.*\n\n👉 *Clique no link abaixo e garanta sua vaga antes que seja tarde demais.*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "0add7434-d105-4472-9d9f-5ba17828fd8c",
      "name": "Mensagem- 09/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        540,
        3220
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "526f665a-1d78-4932-b430-e80761653a0a",
      "name": "(10/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1300,
        3520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "10/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1ce21059-8869-450c-86f9-f6bb8cd3238f",
      "name": "10/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1080,
        3520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "10/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20dfa580-537d-4d14-9151-d7e810f6e4fc",
      "name": "10/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        120,
        3560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code4\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=🎯 *Transformar seu salão não precisa ser complicado. Eu vou te ensinar como fazer isso com estratégias simples e práticas.*\n\n📢 Dia *15 de dezembro, às 18h*, é a sua chance de aprender como aumentar o faturamento, organizar a equipe e planejar 2025 com mais estabilidade.\n\n💡 *Não perca mais tempo!*\n\n👉 *Clique no link abaixo e garanta sua vaga.*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ \n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "37cd88a7-424b-4858-976a-6894283571bb",
      "name": "Mensagem- 10/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        540,
        3400
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "d40e5f7e-9065-4525-9518-e06917223d3f",
      "name": "(11/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1300,
        3700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "11/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0c52326-68a3-4b6b-a57d-b358ae44d1a6",
      "name": "11/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1080,
        3700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "11/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a1a0ba2-9c12-4bb6-bb5a-60155c69f8a1",
      "name": "11/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        3680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code4\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=💥 *Você está pronta para fazer de 2025 o ano da sua virada?*\n\n💡 *Não adianta trabalhar tanto e não colher os frutos. Chegou a hora de mudar isso!*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "c18b1982-3157-4d2b-afe7-edccfde2e2c0",
      "name": "Mensagem- 11/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        540,
        3560
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "d956e41f-63db-49c4-8854-28c5986fb160",
      "name": "Item Lists5",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -280,
        4060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5531992796934"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "608d8885-4c22-4b3a-beec-5b60ac8b2475",
      "name": "EnviaMensagemTexto5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -100,
        4060
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1763912550,
          "mode": "list",
          "cachedResultName": "Disparo Webinar Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1763912550"
        },
        "options": {}
      },
      "id": "3a94e168-97d8-4877-a492-9152c505dbe1",
      "name": "le_planilha5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -780,
        4240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4ec611e0-b185-4b72-a3eb-2a51d2167e7c",
      "name": "separa_em_lotes5",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -520,
        4240
      ]
    },
    {
      "parameters": {},
      "id": "433b7353-5f4b-4f16-a146-ced4351a5e7b",
      "name": "Não faz nada5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        4600
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "fe972e91-df6e-47f4-b9d0-0a806d439f8f",
      "name": "Retorna Output Aleatorio7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        4260
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "29e8885c-5cae-4832-90a3-3d626bba0d32",
      "name": "Saida Aleatoria7",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        960,
        4260
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "1f86adc1-8376-414c-94ff-efc034a7aa76",
      "name": "40s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        4040
      ],
      "webhookId": "10c4da94-fdaa-4b83-98a3-bee57dc6421a"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "5e63376f-2468-4be4-b9c8-d528518614bb",
      "name": "45s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        4180
      ],
      "webhookId": "616c55bd-1d12-468f-983c-c2cbd4790309"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "7e97863d-a9a6-457e-ad47-97022612ee03",
      "name": "50s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        4320
      ],
      "webhookId": "0c308065-17ca-46b6-849f-33790eb6170c"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "b7318de4-8e20-4b85-82e4-0940f796812e",
      "name": "53s7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        4460
      ],
      "webhookId": "1839edf1-23f5-47f9-9c93-557d81c68e08"
    },
    {
      "parameters": {
        "jsCode": "const telefone = $node[\"separa_em_lotes5\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefone.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "f8d3ed7f-2abc-4eb8-8195-da6433c838e4",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        4260
      ]
    },
    {
      "parameters": {},
      "id": "9c80dc04-e8e7-4fcd-b825-b029ca7dce14",
      "name": "Não faça nada4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -780,
        4420
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "7b5fd3b6-e4bd-4e39-a63d-fe5de6af9ce6",
      "name": "(12/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        4140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "12/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "83d2618c-1ab8-4482-9dc8-f62cb921cefd",
      "name": "12/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        4140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "12/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94354579-0492-4724-8907-816690e9a608",
      "name": "12/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -60,
        4260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code5\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=⏳ *Estamos nos últimos dias de inscrição! As vagas estão acabando rapidamente.*\n\n📅 Dia *15 de dezembro, às 18h*, é a última chance de aprender como criar um plano estratégico e começar 2025 com o pé direito.\n\n💡 *Essa oportunidade só aparece uma vez por ano. Não fique de fora!*\n\n👉 *Clique no link abaixo e garanta sua vaga antes que acabe.*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "e19f535c-8439-40b6-8f6c-459cc085af9b",
      "name": "Mensagem- 12/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        4060
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "69eb6d4b-e0df-4881-98fa-e15243559bdd",
      "name": "(13/12 - 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        4360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "13/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "24aab64b-bdf9-43ff-ae02-603ab8141efc",
      "name": "13/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        4360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "13/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae35ffbc-ba85-4376-b6d7-d6780ac20fda",
      "name": "13/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        4400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code5\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=Quanto dinheiro você está deixando na mesa por não ter profissionais qualificados para vender e aumentar o ticket médio da comanda do cliente?\n\nAgora *não é hora de planejar…* mas nesta aula eu vou te entregar um MANUAL DE VENDAS para recepcionista, que por si só, já vale estar ao vivo comigo neste dia!\n \nAumente seu faturamento antes que as oportunidades escapem.\n\n💡 *Clique no link agora e garanta sua vaga.* Dia 15 de dezembro, às 18h, pode ser o começo de uma nova fase para o seu salão!\n\nNão perca tempo – o caixa do salão depende disso!\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "515e3ea0-f52f-4f09-a81f-b5b248c64dac",
      "name": "Mensagem- 13/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        4240
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "3f07784e-c3dd-4320-a0ad-1e374df7d6b2",
      "name": "(14/12 - 20h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        4540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "14/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d40fc46e-7ed4-4c54-8c0e-dd896927f93a",
      "name": "14/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        4540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "14/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b2d8758-da19-4445-a6b1-e5fb36c77d67",
      "name": "14/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        4520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code5\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=👉 *Clique no link abaixo e garanta sua vaga.*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/\n\nhttps://drive.google.com/file/d/1WV3HGS0gvfIsKb89EQqIZzE9OZDF_WER/view?usp=drive_link\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "cf636cb5-05e4-4d4b-b98b-52f89c34e586",
      "name": "Mensagem- 14/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        4400
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "06c8c945-f0c9-47a4-afcb-09f896bfe056",
      "name": "Item Lists6",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -280,
        4940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5531992796934"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "57958c77-f637-4d54-beef-959c0b9eecb0",
      "name": "EnviaMensagemTexto6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -100,
        4940
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1763912550,
          "mode": "list",
          "cachedResultName": "Disparo Webinar Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1763912550"
        },
        "options": {}
      },
      "id": "4c274237-9922-4fee-b0eb-ca5418d878dd",
      "name": "le_planilha6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -780,
        5120
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e6b75b5-35f6-4a34-a895-96dd9138e69a",
      "name": "separa_em_lotes6",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -520,
        5120
      ]
    },
    {
      "parameters": {},
      "id": "dac0b900-b2fa-427b-9802-d1e5977585c7",
      "name": "Não faz nada6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        5480
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "0bf73e41-dcf7-4f28-b9ee-d7b0459b9180",
      "name": "Retorna Output Aleatorio8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        5140
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "309987ca-c2a2-4cd6-bcca-6504a472edac",
      "name": "Saida Aleatoria8",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        960,
        5140
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "ad994ac3-7083-482d-8909-4b39282c95b5",
      "name": "40s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        4920
      ],
      "webhookId": "10c4da94-fdaa-4b83-98a3-bee57dc6421a"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "859a13b8-e931-4e79-86af-2ee8b9dbedd8",
      "name": "45s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        5060
      ],
      "webhookId": "616c55bd-1d12-468f-983c-c2cbd4790309"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "377d7bec-c5d5-4b98-85c4-265c33f7d9df",
      "name": "50s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        5200
      ],
      "webhookId": "0c308065-17ca-46b6-849f-33790eb6170c"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "17ac6aea-f3de-42ad-9850-5b751dce9fdd",
      "name": "53s8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        5340
      ],
      "webhookId": "1839edf1-23f5-47f9-9c93-557d81c68e08"
    },
    {
      "parameters": {
        "jsCode": "const telefone = $node[\"separa_em_lotes6\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefone.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "9a1aa1ed-a1dc-4e3b-93fd-4daad991d582",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        5140
      ]
    },
    {
      "parameters": {},
      "id": "1d11ba2b-8bce-47a2-9265-8ffa92f76289",
      "name": "Não faça nada5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -940,
        5260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "3f4f1ef4-6eb9-49d5-b0de-5f42ddf18f74",
      "name": "(14/12 - 20h)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        6020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "14/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0017c22f-89b2-4764-a15e-af5cfe8a6297",
      "name": "14/12/2025",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        6020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "14/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d4dc15f-698e-41c7-8995-5ce1843548f7",
      "name": "14/12/1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        5400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code6\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=👉 *Clique no link abaixo e garanta sua vaga.*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/\n\nhttps://drive.google.com/file/d/1WV3HGS0gvfIsKb89EQqIZzE9OZDF_WER/view?usp=drive_link\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5cd498f1-431d-4ec3-a69a-7be5b4582d90",
      "name": "Mensagem- 14/12/",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        5280
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "5f2c7f5e-a528-4567-a3d4-fdf83fb1411c",
      "name": "(15/12 - 12h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        5020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "15/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0cfa712b-f664-42fa-ad17-a5842f73c880",
      "name": "15/12/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        5020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "15/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8dff0e92-ea56-4c65-85fc-e2a60e6f27a3",
      "name": "15/12/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -60,
        5140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code6\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=⏳ *É hoje! Faltam poucas horas para a aula mais importante do ano.*\n\n📅 Dia *15 de dezembro, às 18h*, você vai descobrir como transformar 2025 no melhor ano da sua vida.\n\n👉 *Garanta sua vaga agora mesmo. Ainda dá tempo de mudar o jogo!*\n\n🔔 *Última chamada – às 18h, tudo pode mudar. Não fique de fora!*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ \n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3db50eab-c866-4b0f-9281-f70ea3a6964e",
      "name": "Mensagem- 15/12/2024",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        4940
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievolution.automagicbots.com.br/message/sendText/Henry_Santos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "75626DE79AA7-43EB-BC64-258E864404B4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code6\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "text",
              "value": "=⏳ *É hoje! Faltam poucas horas para a aula mais importante do ano.*\n\n📅 Dia *15 de dezembro, às 18h*, você vai descobrir como transformar 2025 no melhor ano da sua vida.\n\n👉 *Garanta sua vaga agora mesmo. Ainda dá tempo de mudar o jogo!*\n\n🔔 *Última chamada – às 18h, tudo pode mudar. Não fique de fora!*\n\nhttps://salaolucrativo.gestaodesaloes.com.br/webinario-final-do-ano-24-org/ \n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "e8ce99dd-4b39-45ae-b6e7-14dc387bdaad",
      "name": "Mensagem- 15/12/",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        280,
        5720
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "15/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5731102a-8469-4a07-9d16-9166e827146b",
      "name": "15/12/2025",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        5740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "15/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3252c90-93cb-458d-b654-1da62b6711d1",
      "name": "15/12/2026",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        5680
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "beaff8f8-4326-4015-ad38-bade1f4c9a34",
      "name": "(15/12 - 17h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        5680
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1763912550,
          "mode": "list",
          "cachedResultName": "Disparo Webinar Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1763912550"
        },
        "options": {}
      },
      "id": "5dce2edf-827a-4ce7-91b8-fd74b2203d19",
      "name": "le_planilha7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -800,
        5720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1269c63c-5d90-4a8c-b541-49c6680aca87",
      "name": "separa_em_lotes7",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -540,
        5720
      ]
    },
    {
      "parameters": {
        "jsCode": "const telefone = $node[\"separa_em_lotes7\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefone.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "0e1a1d95-a87e-4f95-9053-f0c254ccc753",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        5740
      ]
    },
    {
      "parameters": {},
      "id": "ff6a35b6-3e68-4806-bf85-44c9e8a10166",
      "name": "Não faz nada7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1560,
        6100
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "013dbba5-b142-4e54-a71a-25d2ddc172a6",
      "name": "Retorna Output Aleatorio9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        5760
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fc739c21-84ec-49ff-9087-a7a3efa03e44",
      "name": "Saida Aleatoria9",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        940,
        5760
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "ce7dbce2-8ad1-4cc2-a159-f82a06cb3f8d",
      "name": "40s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        5540
      ],
      "webhookId": "10c4da94-fdaa-4b83-98a3-bee57dc6421a"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "21962477-2110-4f28-837a-25af8246a1a9",
      "name": "45s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        5680
      ],
      "webhookId": "616c55bd-1d12-468f-983c-c2cbd4790309"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "cad9d139-f231-4022-a229-aa836504751a",
      "name": "50s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        5820
      ],
      "webhookId": "0c308065-17ca-46b6-849f-33790eb6170c"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "d59d2602-72d1-4d5f-8106-6c1696a5272d",
      "name": "53s9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        5960
      ],
      "webhookId": "1839edf1-23f5-47f9-9c93-557d81c68e08"
    },
    {
      "parameters": {},
      "id": "149772e8-0247-4a9f-9b5b-8165e9d038c8",
      "name": "Não faça nada6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -920,
        5860
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": {
    "node:dispara as 12hs1": {
      "recurrencyRules": []
    },
    "node:dispara as 12hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs1": {
      "recurrencyRules": []
    },
    "node:13h": {
      "recurrencyRules": []
    },
    "node:9hs": {
      "recurrencyRules": []
    },
    "node:13hs": {
      "recurrencyRules": []
    },
    "node:23hs": {
      "recurrencyRules": []
    },
    "node:20hs": {
      "recurrencyRules": []
    },
    "node:12hs": {
      "recurrencyRules": []
    },
    "node:15hs": {
      "recurrencyRules": []
    },
    "node:15hs1": {
      "recurrencyRules": []
    },
    "node:8hs": {
      "recurrencyRules": []
    },
    "node:25/11 ás 17hrs": {
      "recurrencyRules": []
    },
    "node:(26/11 - 7h)": {
      "recurrencyRules": []
    },
    "node:(25/11 - 17h)": {
      "recurrencyRules": []
    },
    "node:(27/11 - 7h)": {
      "recurrencyRules": []
    },
    "node:(26/11 - 7h)1": {
      "recurrencyRules": []
    },
    "node:(27/11 - 7h)1": {
      "recurrencyRules": []
    },
    "node:(28/11 - 7h)": {
      "recurrencyRules": []
    },
    "node:(29/11 - 7h)": {
      "recurrencyRules": []
    },
    "node:(30/11 - 7h)": {
      "recurrencyRules": []
    },
    "node:(30/11 às 9h)": {
      "recurrencyRules": []
    },
    "node:(02/12 às 19h)": {
      "recurrencyRules": []
    },
    "node:(03/12 às 18h)": {
      "recurrencyRules": []
    },
    "node:(03/12 às 18h30)": {
      "recurrencyRules": []
    },
    "node:(03/12 às 18h50)": {
      "recurrencyRules": []
    },
    "node:(03/12 às 19h)": {
      "recurrencyRules": []
    },
    "node:(01/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(02/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(02/12 - 16h)": {
      "recurrencyRules": []
    },
    "node:(03/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(04/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(05/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(05/12 - 7h)1": {
      "recurrencyRules": []
    },
    "node:(06/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(07/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(03/12 - 13h)": {
      "recurrencyRules": []
    },
    "node:(04/12 - 07h)": {
      "recurrencyRules": []
    },
    "node:(08/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(09/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(10/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(11/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(12/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(13/12 - 7h)": {
      "recurrencyRules": []
    },
    "node:(14/12 - 20h)": {
      "recurrencyRules": []
    },
    "node:(14/12 - 20h)1": {
      "recurrencyRules": []
    },
    "node:(15/12 - 12h)": {
      "recurrencyRules": []
    },
    "node:(15/12 - 17h)": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 18,
  "updatedAt": "2024-12-04T00:18:34.777Z",
  "versionId": "84fa4ca8-e277-4cbc-979e-402e65f3b775"
}