workflows/🚀[EVOLUTION] - Disparo em Massa - Sala Secreta.json
{
  "active": false,
  "connections": {
    "Item Lists": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio2": {
      "main": [
        [
          {
            "node": "Saida Aleatoria2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria2": {
      "main": [
        [
          {
            "node": "40s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Mensagem-18-09-24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13hs": {
      "main": [
        [
          {
            "node": "18/09/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Mensagem-20-09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18hs": {
      "main": [
        [
          {
            "node": "20/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18/09/2024": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-18-09-24": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20/09": {
      "main": [
        [
          {
            "node": "le_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-09": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes2": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio1": {
      "main": [
        [
          {
            "node": "Saida Aleatoria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria1": {
      "main": [
        [
          {
            "node": "40s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s1": {
      "main": [
        [
          {
            "node": "Não faz nada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Mensagem-23-09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-23-09": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23/09": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12hs1": {
      "main": [
        [
          {
            "node": "23/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-18T12:25:45.320Z",
  "id": "pbGfgba48QyGgoVz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🚀[EVOLUTION] - Disparo em Massa - Sala Secreta",
  "nodes": [
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "d3c3cc14-1831-4813-9ae2-18f1c5da8ab7",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        160,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5519984574874"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9784faad-c6b2-4272-964c-96124f401e6b",
      "name": "EnviaMensagemTexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        860
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1933965763,
          "mode": "list",
          "cachedResultName": "Disparo Evolution V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1933965763"
        },
        "options": {}
      },
      "id": "fdca89c9-54f1-4d75-a9c8-fbef6070e59b",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -320,
        1040
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8f0deb02-d276-4b12-9d5e-6b2b608500ce",
      "name": "separa_em_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "74d189e7-abb3-4e0a-a36e-a830ac92de1d",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        1260
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "0690b9de-8ecd-4935-9101-7f735fc936ba",
      "name": "Retorna Output Aleatorio2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        1060
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "5775f595-7755-4172-8974-15be3f246dfa",
      "name": "Saida Aleatoria2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        760,
        1060
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "2e1e948a-8060-4117-b1f4-cf06b7d94ea7",
      "name": "40s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        840
      ],
      "webhookId": "1db38320-e10f-4a30-8940-cc0437abe23d"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "c73880f3-9483-4b2a-a725-770e575d6318",
      "name": "45s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        980
      ],
      "webhookId": "b9e14716-c5a4-441b-b38e-4e39298f5561"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "f8249cc3-b098-485b-95e8-72b4a86c163b",
      "name": "50s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        1120
      ],
      "webhookId": "62699c41-c2ec-4c08-8512-31e9851387fe"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "efd6291c-e97f-4a60-b955-1b2be4c87b88",
      "name": "53s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        1260
      ],
      "webhookId": "afeddfe6-31e6-4337-b5c4-c935e4cca8d2"
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "2609e0ca-09dd-4e6d-8261-ec3c08c7276b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1060
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "afaf8c50-d571-42e4-8902-e1bbe825a1fb",
      "name": "13hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "2499cf73-6194-4723-b4ab-aceb5aaef6f7",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        140,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5519984574874"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b1ed47e9-2c1b-4337-a930-163d74df32a3",
      "name": "EnviaMensagemTexto1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1520
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1933965763,
          "mode": "list",
          "cachedResultName": "Disparo Evolution V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1933965763"
        },
        "options": {}
      },
      "id": "c1bdabc9-7820-4e63-8cb7-c0b91c60b854",
      "name": "le_planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        1700
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fb18bb8c-23da-42dd-81ef-9f229fdb1dcc",
      "name": "separa_em_lotes1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "175276e6-16f2-44df-8d1b-611185e819a6",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "3593347f-0607-4c70-bc1d-1ce45320a970",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        1720
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fc29533a-69fd-4700-9442-b56ef5132e3c",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        740,
        1720
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "4ffbe31a-5009-422b-bb00-83a696aea36b",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1500
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "bf03c3f3-5e7e-46c2-ba65-e15bc9d81833",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1640
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "abc73cde-46ab-4799-82eb-3e4b2b6434fd",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1780
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "9e06393b-3edf-4320-8395-35253b5e048d",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1920
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes1\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "02087022-24a2-4bfa-b3c2-da4b46986f2d",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        1720
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "2dc1f229-6de9-4fa2-b001-da627989f1c4",
      "name": "18hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "18/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a313d1f3-aa59-4d17-ab0b-ad4fc0396094",
      "name": "18/09/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -520,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🔥 Notícia quentíssima para quem está cansado de ter um salão que consome a vida pessoal!\n\nPela primeira vez, Henry Santos e Amélia Pinheiro estarão juntos para revelar como transformar sua realidade e criar um negócio que cresça sem que você precise estar lá 24 horas por dia.\n\nO tempo é seu recurso mais valioso.\n\nE a Imersão Salão Autoadministrável vai te ensinar a usá-lo a seu favor.\n\n🎯 Garanta seu lugar na Sala Secreta e conquiste as condições exclusivas da pré-venda!\n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "03613264-ec2c-4dfc-8d80-ed3caceae599",
      "name": "Mensagem-18-09-24",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        1060
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "20/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e99f693-0982-4580-ac7f-b4055f3a9ad7",
      "name": "20/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -540,
        1700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code1\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🧠 Você é daqueles que gosta de spoilers? \n\nEntão se prepare, porque Henry Santos e Amélia Pinheiro vão revelar o que vai rolar na Imersão Presencial Salão Autoadministrável de outubro em Floripa e como ela pode mudar o rumo do seu salão!\n\nE o melhor? Na Sala Secreta, você terá acesso ao lote zero da pré-venda, com valor especial que só será liberado para quem estiver na sala.\n\n📢 Não deixe essa oportunidade passar! Toque no link e garanta seu lugar na Sala Secreta\n\nhttps://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f7e6fe54-45d1-4107-ac08-5c6362e68dae",
      "name": "Mensagem-20-09",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1720
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "0db37196-eebd-4982-b1fc-aa95e316daa2",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        160,
        2220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5519984574874"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "0b49af95-e0cb-4e9a-9a04-b637e18a058a",
      "name": "EnviaMensagemTexto2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        2220
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1933965763,
          "mode": "list",
          "cachedResultName": "Disparo Evolution V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1933965763"
        },
        "options": {}
      },
      "id": "78cc7556-9b98-4d61-8c6b-45a3a577a247",
      "name": "le_planilha2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -320,
        2400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0c057518-bc54-4dc3-bdf6-e896846baee0",
      "name": "separa_em_lotes2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        2400
      ]
    },
    {
      "parameters": {},
      "id": "74c1940d-39a9-489f-980d-f5cc9e543c8d",
      "name": "Não faz nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        2620
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "32a3e8f0-76f3-4b4b-9e0f-f167b72941a1",
      "name": "Retorna Output Aleatorio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        2420
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "d29b34c5-a2d3-4ee0-a0f9-a7113685ea05",
      "name": "Saida Aleatoria1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        760,
        2420
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "21d1d99f-3907-4180-aac2-2999c00d3bfb",
      "name": "40s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        2200
      ],
      "webhookId": "1efb796c-4187-46e8-9268-d7c91bfa3102"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "5ae26382-f4c0-4a70-a36c-53fb4ea480ea",
      "name": "45s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        2340
      ],
      "webhookId": "193bfa83-3488-4653-ad45-0342186478a4"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "677f7c54-012f-455a-9be7-9b8e78ddd656",
      "name": "50s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        2480
      ],
      "webhookId": "dfbaad78-be1a-41a8-afc9-6446f25a06f0"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "629e3c95-c961-4d17-9ab2-c2172e344627",
      "name": "53s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        2620
      ],
      "webhookId": "3b149f3c-a1d1-4c8b-a2ea-d65621a152da"
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes2\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "43ea8693-c9d0-4644-99bb-9c423e10c133",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code2\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=🎟️ Atenção! Essa é a última chamada para garantir seu acesso à Sala Secreta com Henry Santos e Amélia Pinheiro.\n\nVocê está prestes a descobrir as estratégias que podem transformar seu salão em um negócio lucrativo e autônomo.\n\nE o melhor: vai ter acesso à pré-venda da Imersão Salão Autoadministrável, com condições exclusivas.\n\nNão deixe essa oportunidade escapar!\n\n💎 Toque no link e venha fazer parte desse grupo seleto!\n\n👉 https://salaolucrativo.gestaodesaloes.com.br/salasecretaflorianopolis/"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "755ba6b7-1a20-4f59-9a3b-a5dba4538b8f",
      "name": "Mensagem-23-09",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        2420
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "23/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e47387b0-ec18-47b7-a698-f7d2b6ba3c60",
      "name": "23/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -520,
        2400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "6fa8e46e-a877-4243-9783-49fe91238e2a",
      "name": "12hs1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        2400
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": {
    "node:dispara as 12hs1": {
      "recurrencyRules": []
    },
    "node:dispara as 12hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs1": {
      "recurrencyRules": []
    },
    "node:13h": {
      "recurrencyRules": []
    },
    "node:9hs": {
      "recurrencyRules": []
    },
    "node:13hs": {
      "recurrencyRules": []
    },
    "node:10hs": {
      "recurrencyRules": []
    },
    "node:7hs": {
      "recurrencyRules": []
    },
    "node:13hs1": {
      "recurrencyRules": []
    },
    "node:18hs": {
      "recurrencyRules": []
    },
    "node:18hs1": {
      "recurrencyRules": []
    },
    "node:12hs1": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2024-09-18T12:25:45.320Z",
  "versionId": "6c9d4ac9-70c8-4b74-a5a3-3e882bc92e23"
}