workflows/🚀[EVOLUTION] - Disparo em Massa - Sala Secreta.json
{
  "active": true,
  "connections": {
    "Item Lists": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio2": {
      "main": [
        [
          {
            "node": "Saida Aleatoria2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria2": {
      "main": [
        [
          {
            "node": "40s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Mensagem-18-09-24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13hs": {
      "main": [
        [
          {
            "node": "18/09/2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Mensagem-20-09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18/09/2024": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-18-09-24": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem-20-09": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14hs": {
      "main": [
        [
          {
            "node": "19/09",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19/09": {
      "main": [
        [
          {
            "node": "le_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-18T12:25:45.320Z",
  "id": "pbGfgba48QyGgoVz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🚀[EVOLUTION] - Disparo em Massa - Sala Secreta",
  "nodes": [
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "d3c3cc14-1831-4813-9ae2-18f1c5da8ab7",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        160,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9784faad-c6b2-4272-964c-96124f401e6b",
      "name": "EnviaMensagemTexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        860
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 785097095,
          "mode": "list",
          "cachedResultName": "Disparo_webinario_18/09",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=785097095"
        },
        "options": {}
      },
      "id": "fdca89c9-54f1-4d75-a9c8-fbef6070e59b",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -320,
        1040
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8f0deb02-d276-4b12-9d5e-6b2b608500ce",
      "name": "separa_em_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "74d189e7-abb3-4e0a-a36e-a830ac92de1d",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        1260
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "0690b9de-8ecd-4935-9101-7f735fc936ba",
      "name": "Retorna Output Aleatorio2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        1060
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "5775f595-7755-4172-8974-15be3f246dfa",
      "name": "Saida Aleatoria2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        760,
        1060
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "2e1e948a-8060-4117-b1f4-cf06b7d94ea7",
      "name": "40s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        840
      ],
      "webhookId": "1db38320-e10f-4a30-8940-cc0437abe23d"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "c73880f3-9483-4b2a-a725-770e575d6318",
      "name": "45s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        980
      ],
      "webhookId": "b9e14716-c5a4-441b-b38e-4e39298f5561"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "f8249cc3-b098-485b-95e8-72b4a86c163b",
      "name": "50s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        1120
      ],
      "webhookId": "62699c41-c2ec-4c08-8512-31e9851387fe"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "efd6291c-e97f-4a60-b955-1b2be4c87b88",
      "name": "53s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        1260
      ],
      "webhookId": "afeddfe6-31e6-4337-b5c4-c935e4cca8d2"
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "2609e0ca-09dd-4e6d-8261-ec3c08c7276b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1060
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "afaf8c50-d571-42e4-8902-e1bbe825a1fb",
      "name": "13hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "2499cf73-6194-4723-b4ab-aceb5aaef6f7",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        140,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5562981196678"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo 2 em massa do Henry Santos finalizado. 🚀"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b1ed47e9-2c1b-4337-a930-163d74df32a3",
      "name": "EnviaMensagemTexto1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1520
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 785097095,
          "mode": "list",
          "cachedResultName": "Disparo_webinario_18/09",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=785097095"
        },
        "options": {}
      },
      "id": "c1bdabc9-7820-4e63-8cb7-c0b91c60b854",
      "name": "le_planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        1700
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSS8cTZsJdfO7Y4i",
          "name": "[Google Sheets][2.0] - Henry Santos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fb18bb8c-23da-42dd-81ef-9f229fdb1dcc",
      "name": "separa_em_lotes1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "175276e6-16f2-44df-8d1b-611185e819a6",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "3593347f-0607-4c70-bc1d-1ce45320a970",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        1720
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fc29533a-69fd-4700-9442-b56ef5132e3c",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        740,
        1720
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "4ffbe31a-5009-422b-bb00-83a696aea36b",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1500
      ],
      "webhookId": "abb8f311-239c-4754-a94a-980b1ab7b00b"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "bf03c3f3-5e7e-46c2-ba65-e15bc9d81833",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1640
      ],
      "webhookId": "269c787b-5f9a-4960-9243-839335390d2d"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "abc73cde-46ab-4799-82eb-3e4b2b6434fd",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1780
      ],
      "webhookId": "a4185446-2bbc-4ab2-b6ba-3ad39d696285"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "9e06393b-3edf-4320-8395-35253b5e048d",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        1920
      ],
      "webhookId": "1849bd3b-9608-499b-877e-bdf3753b20f3"
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_lotes1\"].json[\"TELEFONE\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "02087022-24a2-4bfa-b3c2-da4b46986f2d",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "18/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a313d1f3-aa59-4d17-ab0b-ad4fc0396094",
      "name": "18/09/2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -540,
        1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=💥 _Você está a 5 dias de transformar seu salão e sua vida!_ 💥\nImagine ter a liberdade de se ausentar do seu salão e, mesmo assim, vê-lo prosperar e gerar lucro.\n\nNa *Sala Secreta* do dia 23/09, *Henry Santos e Amélia Pinheiro* vão revelar o que fizeram para construir salões que geram mais liberdade de tempo e dinheiro para a dona de salão, e como você pode replicar essas estratégias no seu salão.\n\n👉 _Não perca!_ Cada minuto dessa oportunidade pode ser o passo que falta para mudar sua vida e o futuro da sua família.\n📋 Ei,e não deixe de preencher! Esse formulário é super importante para personalizarmos ainda mais a sua experiência na Imersão!\n 💇‍♂Queremos entender suas principais dores e objetivos para garantir que você tenha o melhor plano de ação para o seu salão.💰\n📲 Preencha agora e esteja preparado para a transformação!\nhttps://forms.gle/BrbGLANqwwV8332w7 \nVamos juntos nessa! 💪\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "03613264-ec2c-4dfc-8d80-ed3caceae599",
      "name": "Mensagem-18-09-24",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        1060
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Code1\"].json[\"telefonefinal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=⚠️ _Você vai deixar essa oportunidade passar?_ ⚠️\nDia *23/09*, você pode decidir: continuar com o estresse diário ou finalmente aprender a liderar um salão que prospera mesmo sem você presente.\n\nA *Sala Secreta* vai abrir seus olhos para erros que estão drenando seu tempo, sua energia e, principalmente, seu dinheiro.\n\n📉 Cada dia que você adia essa transformação, o impacto é direto no seu salão, sua família e sua qualidade de vida.\nNão cometa o erro de ignorar o que pode ser a virada para sua liberdade. _Estar ao vivo pode fazer toda a diferença!_\n📋 Ei,e não deixe de preencher! Esse formulário é super importante para personalizarmos ainda mais a sua experiência na Imersão!\n 💇‍♂Queremos entender suas principais dores e objetivos para garantir que você tenha o melhor plano de ação para o seu salão.💰\n📲 Preencha agora e esteja preparado para a transformação!\nhttps://forms.gle/BrbGLANqwwV8332w7 \nVamos juntos nessa! 💪\n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f7e6fe54-45d1-4107-ac08-5c6362e68dae",
      "name": "Mensagem-20-09",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1720
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "id": "2dc1f229-6de9-4fa2-b001-da627989f1c4",
      "name": "14hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "19/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e99f693-0982-4580-ac7f-b4055f3a9ad7",
      "name": "19/09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        1720
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9WrqNFN2jagHPbWV"
  },
  "staticData": {
    "node:dispara as 12hs1": {
      "recurrencyRules": []
    },
    "node:dispara as 12hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs": {
      "recurrencyRules": []
    },
    "node:dispara as 17hs1": {
      "recurrencyRules": []
    },
    "node:13h": {
      "recurrencyRules": []
    },
    "node:9hs": {
      "recurrencyRules": []
    },
    "node:13hs": {
      "recurrencyRules": []
    },
    "node:10hs": {
      "recurrencyRules": []
    },
    "node:7hs": {
      "recurrencyRules": []
    },
    "node:13hs1": {
      "recurrencyRules": []
    },
    "node:18hs": {
      "recurrencyRules": []
    },
    "node:18hs1": {
      "recurrencyRules": []
    },
    "node:12hs1": {
      "recurrencyRules": []
    },
    "node:14hs": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-09-18T19:57:41.613Z",
  "versionId": "cc19f71d-d951-4ad1-b6dd-761bd90e463f"
}